<div class="box-header">
    <td class="icon16 user"></td>     
    <h1><%= t 'Purchase' %></h1>   
</div>
    
<div class="box-content">

    <div class="header clearfix">
        <div class="grid_5 content-header relative clearfix">
            <p class="product"><%= @purchase.product %></p>
            <p class="price"><%= number_to_currency @purchase.amount %></p>
        </div>
        <div class="grid_7 content-header relative">
            <p class="retailer_info">
                <td class="retailer_logo">
                    <% if @retailer_logo  %>
                        <%= image_tag @retailer_logo %>
                    <% else %>
                        <%= @retailer_name %>
                    <% end %>
                </td>
                <span class="star_rating tooltip" title="Recommended by 82% of Paykido users"></span>
                <span class="tooltip" title="Recommend this merchant">
                    <a href="#" class="small button">
                        <span class="like">Like</span>
                    </a>
                </span>            
            </p>
            <p><div class="progress"><span style="width: 50%;"></span></div></p>
            <p class="approval_rate shadow">
                <span class="approval_percent">74% </span>
                <span class="approval_text">approval rate</span>
                <span class="approval help fr"></span>
            </p>    
        </div>

    </div>
    
    <p class="sectiontitle">About the purchase</p>
    <table class="purchase_info">
        <tbody>
        <%= form_tag do %>
            <% if @purchase.properties %>    
            <% @purchase.properties.sort.each do |property, value| %>
                <tr class="purchase_line">
                    <td class="purchase_title"><%= t property %>:</td>
                    <td class="purchase_logo">
                        <% if info = Info.find_by_key_and_value(property, value) and info.logo %>
                            <%= image_tag "/images/#{info.logo}" %>
                        <% else %>
                            <%= value %>
                        <% end %>
                    </td>
                    <td class="actions">
                        <a id="decline" href="#new_rule" data-consumer="<%= @purchase.consumer_id %>" data-instruction="decline" data-property="<%= property %>" data-value="<%= value %>" class="modal small button rule <%= (@consumer.blacklisted?(property,value)) ?'blue' :'regular greyedOut' %>">
                            <span class="icon16 blacklist"></span>NO
                        </a>
                        <a id="approve" href="#new_rule" data-consumer="<%= @purchase.consumer_id %>" data-instruction="approve" data-property="<%= property %>" data-value="<%= value %>" class="modal small button rule <%= (@consumer.whitelisted?(property,value)) ?'blue' :'regular greyedOut' %>">
                            <span class="icon16 whitelist"></span>OK
                        </a>
                    </td>
                    <td>
                        <a href='#' id="approval_rule_q">
                            <span class="help fr"></span>
                        </a>
                    </td> 
                </tr>
            <% end %>
            <% end %>   
        <% end %>
        </tbody>
    </table>

    <p class="sectiontitle">Purchase Status</p>
    <div class="approval_info">
        <p>Approve by... at... reason:....</p>
    </div>

<%= render 'rule_popover' %> 

<%= render 'rule_modal' %>

<script type="text/javascript">

$('document').ready(function() {
   
   $('.tooltip').tipsy({gravity: 's'});
    
   $('.rule.button').click(function () {
       
       var instruction = $(this).attr('data-instruction');
       var property =    $(this).attr('data-property');
       var value =       $(this).attr('data-value');
       var consumer =    $(this).attr('data-consumer');       
       $('.instruction').html(instruction);
       $('.property').html(property);
       $('.value').html(value);
       $('#create_rule').attr('data-url', 'rule?instruction=' + instruction + '&property=' + property + '&value=' + value + '&consumer=' + consumer);
       
    });  
    
    $('#create_rule').click(function() {
        $.ajax($(this).attr('data-url'));
        $('#modalcontainer > div').hide();
        $('#overlay').hide();

    }) 
        
})
</script>
