<div class="payer_content">

    <div class="text_part">

        <p id="line1" class="line"><%= "Dear #{@payer.name}," %></p>
        <p id="approval_title" class="title"><%= "#{@consumer.name} asks you to approve this purchase" %></p>
        <%= form_tag({:action => :pay_and_show}, :class => "payer_form") do  %>
        <p id="cb1" class="cb">
            <%= check_box_tag(:pay) %>
            <%= label_tag(:pay, "I am ready to buy #{@consumer.name} #{@title} (#{number_to_currency @purchase.amount})") %>
        </p>

        <p id="registration_title" class="title">Join Paykido and watch what your kid buys</p>
        <p id="line2" class="line"><%= "Paykido is the new safe teen payment. The answer to never ending prepaid cards, costly sms and risky offers." %></p>
        <p id="line3" class="line">Paykido will watch everything your kid buys and charge you only when a purchase is approved. All at no extra cost!</p>
        <p id="cb2" class="cb">
            <%= check_box_tag(:show, "1") %>
            <%= label_tag(:show, "Show me how Paykido can protect my kid's shopping") %>
        </p>

        <%= submit_tag "Submit", :class => "fg-button ui-state-default loginbutton ui-very-rounded-corners", :id => "submit" %>
        <% end %>

    </div>

</div>
<script type="text/javascript">

$(document).ready(function (){  

    $("input[type=submit]").attr("disabled", "disabled");

});
</script>