<div class="box-header">
    <span class="icon16 user"></span>     
    <h1><%= t 'Purchase' %></h1>   
</div>
    
<div class="box-content">

    <div class="header clearfix">
        <div class="column-left content-header relative clearfix">
            <p class="product">
                <%= @product_title %>
            </p>
            <p class="price">
                <span id="allowance_header"><%= number_to_currency @amount %></span>
            </p>
            <br />
            <p>
                <span class="retailer_name"><%= @retailer_name %></span>
                <span class="fr"><a id="whitelist_retailer" href='#new_rule' class="modal button">
                    <span class="whitelist marked"></span>
                </a></span>
            </p>
            <p><div class="progress"><span style="width: 50%;"></span></div></p>
            <p class="recommendation">Recommended by 74% of our users</p>    
        </div>
        <div class="column-right content-header relative">
            <p class="small logo">
                <% if @retailer_logo  %>
                    <%= image_tag @retailer_logo, :class => "logo" %>
                <% end %>
            </p>            
        </div>

    </div>
    
    <p class="sectiontitle">About the purchase</p>
    <div class="purchase_info">
        <%= form_tag do %>
            <% @purchase.properties.each do |key, value| %>
                <div class="purchase_line">
                    <span class="purchase_title"><%= t key %>:</span>
                    <span class="purchase_value"><%= value %></span>
                    <span class="action_bar actions">
                        <a href="#new_rule" class="modal small button greyedOut">
                            <span class="whitelist <%= (@consumer.whitelisted?(key,value)) ?'marked' :'unmarked' %>">OK</span>
                        </a>
                    </span>
                    <span class="help_q">
                        <a href='#' id="approval_rule_q">
                            <span class="icon16 question"></span>
                        </a>
                    </span> 
                </div>
            <% end %>   
        <% end %>
    </div>

<%= render 'rule_popover' %>

<%= render :partial => 'rule_modal', :locals => { :property => 'merchant' } %>

<script src="/spina/js/application_modal.js"></script>