<!-- DATATABLES CSS -->
<link rel="stylesheet" media="screen" href="lib/datatables/css/vpad.css" />
<script type="text/javascript" src="lib/datatables/js/jquery.dataTables.js"></script> 
<script type="text/javascript" src="js/jquery.tools.min.js"></script> 

<script type="text/javascript"> 

    $(document).ready(function() {

       pTable = $('#example').dataTable( {
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 0,1 ] }
            ],
            "aaSorting": [[0,'desc']]
        } );
            
        $('#pending-button').click(function () {
                 pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
        });
    
        $('#authorized-button').click(function () {
            pTable.fnFilter('<%= t 'ManuallyAuthorized'%>|<%= t 'Under'%>', 1, true, false, false );
        });
    
        $('#blocked-button').click(function () {
            pTable.fnFilter('<%= t 'Unauthorized'%>|<%= t 'Zero'%>|<%= t 'Insufficient'%>|<%= t 'Over'%>', 1, true, false, false);
        });
    
         $('#all-button').click(function () {
            pTable.fnFilter( '', 1, true, false, false );
        });
    
    }); 

</script> 
<!-- DATATABLES CSS END -->

<div id=purchases_filters>
    <ul class="toolbar clearfix fl">
        <li class="filter">
            <a href="#" title="Pending" class="filter_button" id="pending-button">
                <img src="/images/pending.png" alt=""/>
                <span class="message-count"><%= @pendings %></span>
            </a>
        </li>
        <li class="filter">
            <a href="#" title="Authorized" class="filter_button" id="authorized-button">
                <img src="/images/authorize.png" alt=""/>
            </a>
        </li>
        <li class="filter">
            <a href="#" title="Blocked" class="filter_button" id="blocked-button">
                <img src="/images/block.png" alt=""/>
            </a>
        </li>
         <li class="filter">
            <a href="#" title="All" class="filter_button" id="all-button">
                <img src="/images/all.png" alt=""/>
            </a>
        </li>
    </ul>
    <br />
</div> 
<br />   
<div id="demo" class="clearfix"> 
    <table class="display leading" id="example"> 
        <thead> 
            <tr> 
                <th>Date invisible</th>
                <th>Auth type invisible</th>
                <th><%= image_tag "/images/information.png", :id => "information_th", :class => "th" %></th> 
                <th><%= t 'Purchase' %></th> 
                <th><%= t 'Amount' %></th>
                <th><%= t 'Approve?' %></th>                                     
            </tr> 
        </thead> 
        <tbody> 
        <% @purchases.each do |purchase| %>                                
            <tr> 
                <td><%= purchase.date %></td>
                <td><%= purchase.authorization_type %></td>
                <td class="status">
                <% if purchase.requires_manual_approval? %>
                    <%= image_tag "/images/pending.png", :id => "information_#{purchase.id}", :class => "has-tooltip", :title => "shalom" %>
                <% elsif purchase.manually_authorized? %> 
                    <%= image_tag "/images/approved.png", :id => "information_#{purchase.id}", :class => "" %>
                <% elsif purchase.manually_declined? %> 
                    <%= image_tag "/images/declined.png", :id => "information_#{purchase.id}", :class => "" %>
                <% elsif purchase.automatically_authorized? %> 
                    <%= image_tag "/images/authorize.png", :id => "information_#{purchase.id}", :class => "" %>
                <% elsif purchase.automatically_declined? %> 
                    <%= image_tag "/images/block.png", :id => "information_#{purchase.id}", :class => "" %>
                <% else %> 
                    <%= image_tag "/images/error.png", :id => "information_#{purchase.id}", :class => "" %>
                <% end %>
                </td> 
                <td>
                    <p class="purchase_top_line">
                        <span><%= link_to purchase.retailer.name, "dashboard/retailer/#{purchase.id}" %></span>
                        <span><%= link_to purchase.product ,"dashboard/product/#{purchase.id}" %></span>
                    </p>
                    <p class="purchase_bottom_line">
                        <span class="cell_date"><%= purchase.date.strftime("%a, %b %d") %></span>
                        <span><%= link_to purchase.consumer.name, "dashboard/consumer/#{purchase.consumer_id}"  %></span>
                    </p>
                </td>
                <td class="ar"><%= number_to_currency(purchase.amount) %></td>
                <td class="approve_icons">
                    <% if purchase.requires_manual_approval? %>
                        <%= image_tag "/images/approve.png", :id => "approve_#{purchase.id}", :class => "greyedOut" %>
                        <%= image_tag "/images/decline.png", :id => "decline_#{purchase.id}", :class => "greyedOut" %>
                    <% end %>
                </td>                    
            </tr>                                   
        <% end %>
        </tbody> 
    </table> 
</div>  

<script type="text/javascript">

$(document).ready(function () {

     <% if @pendings > 0 %>
        <% message =  "There are #{@pendings} purchases awaiting your approval. " %>
        <% message += "You can save your time and money if you use Paykido. See how." unless @payer.registered? %>
        notify('sticky', '<%= "#{@consumer.name} needs your approval" %>', '<%= message %>');
    <% end %>   

    })
</script>                          