<h1 class="page-title">Dashboard</h1>
<div class="container_12 clearfix leading">

    <%= render 'notifications' %>
    <%= render 'activity_popover' %>
    
    <section class="portlet grid_7 leading"> 
 
        <header class="clearfix">
            <h2><%= t 'Purchases' %></h2> 
            <%= image_tag "purchases1.png", :class => "header_icon" %>
        </header>
                        
        <section>
            <%= render 'purchases' %>
        </section>
                        
    </section> 
 
    <section class="portlet grid_5 leading"> 

        <header>
            <h2><%= t 'Consumer' %></h2>
            <%= image_tag "user.png", :class => "header_icon" %>        
        </header>

        <section class="clearfix">
            <section class="clearfix">
            <%= render 'consumer' %> 
            </section>                           
        </section>
 
    </section> 
 
</div>
    <div class="clear"></div>

