<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>
<%= render 'notifications' %>

<section id="maincontainer">

	<%= render 'page_head' %>

	<div class="box-content container_12">			
		<div class="box grid_12" > 	
			<% if controller.action_name == 'confirm' %>
			   	<%= render 'confirmation_popover' %>
			<% end %>
		</div>
	</div>

</section>