<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>
<%= render 'notifications' %>

<section id="maincontainer">

	<%= render 'page_head' %>

	<p class="exagerated">We watch what kids buy</p>
	<div class="box-content container_12">			
		<div id="landing_text_part" class="box grid_5 landing marketial hero-unit semi_transparent_bg">
			<h1>Peace of mind</h1>
			<h2>No risky offers, improper products, bill shocks.</h2>
			<h2>Paykido watches what your kids buy 24 by 7.</h2>
			<h2>You decide when and how to pay.</h2>
			<p><%= link_to "Tell me more", "#" %></p>
		</div>

		<div class="box grid_6 home_image">
  			<img id="parents" src="/home/img/for_parents.jpg" />
		</div>
	</div>
</section>
