<% title "My Account" %>

<% form_for :payer, :url => { :action => :account_update } do |f| %>
  <%= f.error_messages %>

  <ul class="rounded thin_lines">

    <li>
    	<span class="short_item" >User</span>
		<span class="long_value"><%= text_field :user, :name %></span>
	</li>
    <li>
    	<span class="short_item" >Password</span>
		<span class="long_value"><%= password_field :user, :password %></span>
	</li>
	<li>
		<span class="short_item" >Confirmation</span>
		<span class="long_value"><%= password_field :user, :password_confirmation %></span>
	</li>
	<li>
		<span class="short_item" >Name</span>
		<span class="long_value"><%= f.text_field :name %></span>
	</li>
	<li>
		<span class="short_item" >Email</span>
		<span class="long_value"><%= f.text_field :email %></span>
	</li>
	<li>
		<span class="short_item" >Phone</span>
		<span class="long_value"><%= f.text_field :phone %></span>
	</li>
	<li>
		<span class="short_item" >Permanent PIN</span>
		<span class="long_value"><%= f.text_field :pin %></span>
	</li>
  </ul>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>


<% end %>
