<% title "Authorization" %>


<ul class="rounded" id="authorization_form">
	<li>
		<span class="short_item">Retailer</span>
		<span class="short_value_long_width"><%=@retailer%></span>
	</li>

	<li>
		<span class="short_item">Product</span>
		<span class="short_value_long_width"><%=@product_title%></span>
	</li>

	<li>
		<span class="short_item">Category</span>
		<span class="short_value_long_width"><%=@category%></span>
	</li>

	<li>
		<span class="short_item">Price</span>
		<span class="red_value_long_width"><%= number_to_currency(@amount) %></span>
	</li>

	<li>
		<span class="short_item">Date</span>
		<span class="short_value_long_width"><%=@date%></span>
	</li>
</ul>

<% form_for :purchase, :url => { :action => :authorization_update} do |form| %>
<ul >
	<li>

			<%= form.select(:authorization_type, 
				{"Authorize this purchase" => "ManuallyAuthorized",
				 "Don't authorize this purchase" => "NotAuthorized",
				 "Always authorize #{@product_title} by #{@retailer}" => "AlwaysAuthorized",
		 		"Never authorize #{@product_title} by #{@retailer}" => "NeverAuthorized"}
			)%>
	</li>

</ul>	
<%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>

	



