<% title "Authorization" %>


<ul class="rounded" id="authorization_form">
	<li>
		<span class="short_item">Retailer</span>
		<span class="short_value_long_width"><%=@retailer%></span>
	</li>

	<li>
		<span class="short_item">Product</span>
		<span class="short_value_long_width"><%=@product%></span>
	</li>

	<li>
		<span class="short_item">Price</span>
		<span class="red_value_long_width"><%= number_to_currency(@amount) %></span>
	</li>

	<li>
		<span class="short_item">Date</span>
		<span class="short_value_long_width"><%=@date%></span>
	</li>
</ul>
<%= link_to "Authorize", :action => :authorization_update, :class => "whiteButton submit"  %>



