<% title "Be Informed" %>

<ul class="rounded" id ="balance_line">
	<li class = "arrow">
		<span class="item">Current Balance:</span>
		<span class="value" id="balance"><%= number_to_currency(@balance) %></span>
	</li>
</ul>

<ul class="rounded" id ="authorization_line">
	<li class="arrow">
		<span class="item"><a href="authorization_form" class="btn2 slideup" style="color:#666666">Pending Authorization:</a></span>
		<span class="value" id="pending"><%= number_to_currency(@pending) %></span>
	</li>
</ul>
<div id="info">
	<h4>What did I spend on?</h4>
	<div id="Pie_chart">
		<h4></h4>
		<div id="purchases_by_category"></div>
		
		<%= Seer::visualize(
		    @categories, 
		    :as => :pie_chart,
		    :in_element => 'purchases_by_category',
		    :series => {
		      :series_label => 'name',
		      :data_method => 'quantity'
		    },
		    :chart_options => { 
		      :height => 222,
		      :width => 152,
		      :axis_font_size => 13,
		      :title => "Categories",
			  :title_font_size => 16,
			  :title_color => '#666666',
		      :point_size => 10,
		      :is_3_d => true,
			  :colors => ['#666666','#4684ee', '#ff9900', '#dc3912'],
			  :background_color => '#e1e1ff',
			  :background_color => 'white',
			  :legend_font_size => 13
		    }
		   )
		-%>
	
		
	</div>

		
	<div id="lists">
		
		<div id="top_products">
			<h4>What did I buy?</h4>
			<ul class="rounded">
			<% Product.top(3).each do |title, quantity|%>
				<li><span class="item"><%= title%></span><span class="value"><%= number_to_currency(quantity) %></span></li>
			<% end %>
			</ul>
		</div>

		<div id="top_retailers">
			<h4>Where did I shop?</h4>
			<ul class="rounded">
			<% Retailer.top(3).each do |name, quantity|%>
				<li><span class="item"><%= name%></span><span class="value"><%= number_to_currency(quantity) %></span></li>
			<% end %>
			</ul>
		</div>
		
	</div>	
</div>
	
