<% title "My Information" %>

<ul class="rounded wide">
	<li>
		<span class="item">Review all purchases</span>
		<span class="green_value">
			<span class="right_indented"><%= number_to_currency(@balance) %></span>
		</span>
	</li>
</ul>

<div id="info">
<ul  style="width:145px;margin:5px;padding:3px;text-align:center;background-image:url('/images/heading_bg1.png');color:white;text-align:left;text-shadow: rgba(0,0,0,.2) 0 5px 3px;font-weight:100;font-size:14px;">Top Categories</ul>
<div id="categoryChart" >
<h4></h4>
<ul id="purchases_by_category" ></ul>
<%= Seer::visualize(
      @categories, 
      :as => :column_chart,
      :in_element =>'categoryChart', 
      :series => {:series_label => 'name', :data_method => 'quantity'},
      :chart_options => {
        :height => 230,
        :width => 152,
		:legend => 'none',
        :is_3_d => true,
        :colors => "[{color:'#990000', darker:'#660000'},{color:'blue', darker:'black'}, ]",
        :title => "",
		:backgroundColor => "red"
      }
    )
 -%>

</div>
	
	<div id="lists">
		
		<div id="top_products">
			<ul  id="beinformed_heading" style="height:22px;width:137px;margin:5px;padding-left:5px;text-align:center;background-image:url('/images/heading_bg1.png');color:white;text-align:left;text-shadow: rgba(0,0,0,.2) 0 5px 3px;font-weight:100;font-size:14px">Top Products</ul>
			<ul class="rounded">
			<% Product.top(3).each do |title, quantity|%>
				<li>
					<%= link_to title, "purchases_by_product/#{title}", :class => "short_item" %>
					<span class="short_value">
						<span class="right_indented"><%= number_to_currency(quantity) %></span>
					</span>
				</li>
			<% end %>
			</ul>
		</div>

		<div id="top_retailers">
			<ul  id="beinformed_heading" style="height:22px;width:137px;margin:5px;padding-left:5px;text-align:center;background-image:url('/images/heading_bg1.png');color:white;text-align:left;text-shadow: rgba(0,0,0,.2) 0 5px 3px;font-weight:100;font-size:14px;">Top Merchants</ul>
			<ul class="rounded framed">
			<% Retailer.top(3).each do |name, quantity|%>
				<li>
					<%= link_to name, "purchases_by_retailer/#{name}", :class => "short_item" %>
					<span class="short_value">
						<span class="right_indented"><%= number_to_currency(quantity) %></span>
					</span>
				</li>
			<% end %>
			</ul>
		</div>
		
	</div>	
</div>
