<% title "My Budget" %>

<script type="text/javascript">



	function drawChart()
	  {
	  	var budget_with_currency = document.getElementById("budget").value;
		var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
		var balance_with_currency = document.getElementById("balance").value;
		var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g,""));
		if (balance>budget) {balance=budget; document.getElementById("balance").value = budget;}				
		var balance_position = (balance / budget)*100;
		var tick = ((budget / 40).toFixed(1))*10;		
		var uri = "http://chart.apis.google.com/chart?cht=gom&chs=280x100&chxt=y&chd=t:"+ balance_position+"&chl=Balance&chxr=0,0," + budget + "," + tick;
	  	document.getElementById("chartdiv").src=uri;


/*
	  	document.getElementById("balance").value = '$'+balance;
*/
	
/*		new Ajax.Updater('budget_update','/aol/budget_update',{asynchronous:true, evalScripts:true,parameters:Form.serialize(this)}); */
	  }
	  
	function convertToCurrency(){
		document.getElementById("budget").value = '$' + document.getElementById("budget").value;
		document.getElementById("balance").value = '$' + document.getElementById("balance").value;
	}



</script>

<ul class="rounded" >
	<li class="bordered"><%= "<img id='chartdiv' />" %></li>
</ul>


<div class="thin_lines">

<% form_for :rule, :url => { :action => :budget_update } do |f| %>
  	<%= f.error_messages %>

  	<ul class="rounded">
     	<li>
    		<span class="item">Monthly Budget</span>
			<span class="value"><%= f.text_field (:edited_budget, :onchange => "drawChart()", :id => "budget") %></span>
		</li>
		<li>
			<span class="item">Rollover Policy</span>
		 	<span class="toggle"><%= f.check_box :rollover %></span>
		</li>
	</ul>
	
	<ul class="rounded">
		<li>
    		<span class="item">Current Balance</span>
			<span class="green_value"><%= text_field (:payer, :edited_balance, :onchange => "drawChart()", :id => "balance", :class => "dollar_amount") %>
			</span>
		</li>
  	</ul>

   <%= submit_tag "Submit", :class => "whiteButton submit", :style => "width:300px" %>

<% end %>
	
</div>


<script type="text/javascript">
	  drawChart();
/*
	  convertToCurrency();
*/
</script>