<% title @consumer.name %>

<script type="text/javascript">

	function modifyBudget () {
	
		$(function () {
		  	var budget_with_currency = document.getElementById("budget").value;
			var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
			$("#budget_slider").slider({
				value: budget,
				min: 0,
				max: 150,
				slide: function(event, ui) {
					$("#budget").val('$' + ui.value +'.00');
				}
			});
			$("#budget").val('$' + $("#budget_slider").slider("value")+'.00');
			drawChart();
		});
	}	

	function modifyBalance () {
	
		$(function () {
		  	var balance_with_currency = document.getElementById("balance").value;
			var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g,""));
			$("#balance_slider").slider({
				value: balance,
				min: 0,
				max: 150,
				slide: function(event, ui) {
					$("#balance").val('$' + ui.value +'.00');
				}
			});
			$("#balance").val('$' + $("#balance_slider").slider("value")+'.00');
			drawChart();
		});
	}	

	function drawChart()
	  {
	  	var budget_with_currency = document.getElementById("budget").value;
		var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
		var balance_with_currency = document.getElementById("balance").value;
		var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g,""));
		if (balance>budget) {balance=budget; document.getElementById("balance").value = '$' + budget + '.00';}				
		var balance_position = (balance / budget)*100;
		var tick = ((budget / 40).toFixed(1))*10;	
		var background = "chf=c,lg,90,FFE7C6,0,76A4FB,0.5" 	
		var uri = "http://chart.apis.google.com/chart?cht=gom&chs=280x100&chf=bg,lg,90,EFEFEF,0,666666,0.75&chxt=y&chd=t:"+ balance_position+"&chl=Balance&chxr=0,0," + budget + "," + tick;
	  	document.getElementById("chartdiv").src=uri;


/*
	  	document.getElementById("balance").value = '$'+balance;
*/
	
/*		new Ajax.Updater('budget_update','/aol/budget_update',{asynchronous:true, evalScripts:true,parameters:Form.serialize(this)}); */
	  }
	  
	function convertToCurrency(){
		document.getElementById("budget").value = '$' + document.getElementById("budget").value;
		document.getElementById("balance").value = '$' + document.getElementById("balance").value;
	}



</script>


<img id='chartdiv' class="engrave"/>



<div class="thin_lines">

<% form_for :consumer_rule, :url => { :action => :budget_update } do |f| %>
  	<%= f.error_messages %>

  	<ul class="very_thin_lines engrave">
    	<li>
    		<span class="long item" id="budget_slider" onclick="modifyBudget()">Monthly Allowance</span>
			<span class="value"><%= f.text_field(:edited_budget, :onchange => "drawChart()", :id => "budget") %></span>
		</li>
		<li>
    		<span class="long item" id="balance_slider" onclick="modifyBalance()">Current Balance</span>
			<span class="green_value"><%= text_field(:consumer, :edited_balance, :onchange => "drawChart()", :id => "balance", :class => "dollar_amount") %>
			</span>
		</li>
		<li>
			<span class="item">Rollover to next month</span>
		 	<span class="toggle"><%= f.check_box :rollover %></span>
		</li>
  	</ul>

   <%= submit_tag "Submit", :class => "whiteButton submit bottom_submit_tag" %>

<% end %>
	
</div>


<script type="text/javascript">
	  drawChart();
/*
	  convertToCurrency();
*/
</script>