<% title "My Budget" %>


<script type="text/javascript">

	function drawChart()
	  {
	  	var budget = document.getElementById("budget").value / 1;
		var balance = document.getElementById("balance").value / 1;
		if (balance>budget) {balance=budget; document.getElementById("balance").value = budget;}				
		var balance_position = (balance / budget)*100;
		var tick = ((budget / 40).toFixed(0))*10;		
		var uri = "http://chart.apis.google.com/chart?cht=gom&chs=280x100&chxt=y&chd=t:"+ balance_position+"&chl=Balance&chxr=0,0," + budget + "," + tick;
	  	document.getElementById("chartdiv").src=uri;
	  }
</script>

<ul class="rounded" >
	<li class="bordered"><%= "<img id='chartdiv' />" %></li>
</ul>


<div class="thin_lines">

<% form_for :rule, :url => { :action => :budget_update } do |f| %>
  	<%= f.error_messages %>

  	<ul class="rounded">
     	<li>
    		<span class="item">Monthly Budget</span>
			<span class="value"><%= f.text_field (:allowance, :onchange => "drawChart()", :id => "budget") %></span>
		</li>
		<li>
			<span class="item">Rollover to next month</span>
		 	<span class="toggle"><%= f.check_box :rollover %></span>
		</li>
	</ul>
	
	<ul class="rounded">
		<li>
    		<span class="item">Current Balance</span>
			<span class="green_value"><%= text_field (:payer, :balance, :onchange => "drawChart()", :id => "balance") %></span>
		</li>

  	</ul>
	
   <%= submit_tag "Submit", :class => "whiteButton submit", :style => "width:300px" %>

<% end %>
	
</div>


<script type="text/javascript">
	  drawChart();
</script>