<% title "Join In" %>

<% form_for :payer, :url => { :action => :create } do |f| %>
  <%= f.error_messages %>

  <ul class="rounded">

    <li><%= f.text_field :user, :placeholder => "Select a user name" %></li>
    <li><%= f.password_field :password, :placeholder => "Select a password" %></li>
	<li><%= f.password_field :password_confirmation, :placeholder => "Confirm password" %></li>
  </ul>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>


<% end %>
