<% title "My Budget" %>


<script type="text/javascript">

	function changeChart()
	  {
	  var new_budget = document.getElementById("budget").value;
	  var new_uri = "http://chart.apis.google.com/chart?cht=gom&chs=300x120&chxt=y&chl=Balance&chxr=0,0,#{new_budget}";
	  document.getElementById("chartdiv").src="/images/arca.png";
	  }
	  
</script>

<ul class="rounded" ><%= "<img src='#{@uri}' id='chartdiv' />" %></ul>


<input type="button" onclick="changeChart()" value="Change image" />

<% form_for :rule, :url => { :action => :budget_update } do |f| %>
  	<%= f.error_messages %>

  	<ul class="rounded">
     	<li>
    		<span class="item">Monthly Budget</span>
			<span class="value" id="budget"><%= f.text_field (:allowance, :onchange => "changeChart();") %></span>
		</li>
	</ul>
	
	<ul class="rounded">
		<li>
			<span class-"item">Rollover to next month</span>
		 	<span class="toggle"><%= f.check_box :rollover %></span>
		</li>
  	</ul>
	
  	<%= link_to "Submit", nil, :class => "whiteButton submit" %>

<% end %>
