<% title "My Purchases" %>

<ul class="rounded" id ="balance_line">
	<li>
		<span class="item">My Current Balance:</span>
		<span class="green_value">
			<span class="right_indented"><%= number_to_currency(@balance) %></span>
		</span>
	</li>
</ul>

<ul class="rounded" id ="authorization_line">
	<li>
		<a href="purchases_pending_authorization" style="color:#666666" target="_webapp">Pending Authorization:</a>
		<span class="red_value">
			<span class="right_indented"><%= number_to_currency(@pending) %></span>
		</span>
	</li>
</ul>
<div id="info">
	<div id="Pie_chart">
		<h4></h4>
		<div id="purchases_by_category"></div>
		
		<%= Seer::visualize(
		    @categories, 
		    :as => :pie_chart,
		    :in_element => 'purchases_by_category',
		    :series => {
		      :series_label => 'name',
		      :data_method => 'quantity'
		    },
		    :chart_options => { 
		      :height => 190,
		      :width => 152,
		      :axis_font_size => 13,
		      :title => "Purchases by Category",
			  :title_font_size => 13,
			  :title_color => '#666666',
		      :point_size => 10,
		      :is_3_d => true,
			  :colors => ['#666666','#4684ee', '#ff9900', '#dc3912'],
			  :background_color => '#e1e1ff',
			  :background_color => 'white',
			  :legend_font_size => 13
		    }
		   )
		-%>
	
		
	</div>

		
	<div id="lists">
		
		<div id="top_products">
			<%= image_tag('/images/top_3_products.png') %>
			<ul class="rounded">
			<% Product.top(3).each do |title, quantity|%>
				<li>
					<%= link_to title, "purchases_by_product/#{title}", :class => "short_item" %>
					<span class="short_value">
						<span class="right_indented"><%= number_to_currency(quantity) %></span>
					</span>
				</li>
			<% end %>
			</ul>
		</div>

		<div id="top_retailers">
			<%= image_tag('/images/top_3_shops.png') %>
			<ul class="rounded">
			<% Retailer.top(3).each do |name, quantity|%>
				<li>
					<%= link_to name, "purchases_by_retailer/#{name}", :class => "short_item" %>
					<span class="short_value">
						<span class="right_indented"><%= number_to_currency(quantity) %></span>
					</span>
				</li>
			<% end %>
			</ul>
		</div>
		
	</div>	
</div>
