<% title "Purchase Details" %>

<div class="thin_lines">	


<ul class="rounded">
	<li>
		<span class="item">Authentication Date:</span>
		<span class="date value"><%= @purchase.authentication_date.to_s.first(10) %></span>
	</li>
	<li>
		<span class="item">Authentication Method:</span>
		<span class="value"><%= @purchase.authentication_type %></span>
	</li>	
</ul>
<ul class="rounded">
	<li>
		<span class="item">Authorization Date:</span>
		<span class="date value"><%= @purchase.authorization_date.to_s.first(10) %></span>
	</li>
	<li>
		<span class="item">Authorization Type:</span>
		<span class="value"><%= @purchase.authorization_type.first(15) %></span>
	</li>	
</ul>
<ul class="rounded">
	<li>
		<span class="item">Billing Date:</span>
		<span class="date value"><%= @purchase.billing_date.to_s.first(10) %></span>
	</li>
	<li>
		<span class="item">Billing Method:</span>
		<span class="value"><%= @purchase.billing_type %></span>
	</li>	
</ul>

</div>

