<% title "Purchase" %>

<div class="thin_lines">	

<ul class="rounded light_bg" ">
	<li>
		<span class="item black"><%= @purchase.date.to_formatted_s(:long) %></span>
		<span class="red_value" ><%= number_to_currency(@purchase.amount) %></span>
	</li>
</ul>
<ul class="rounded">
	<li>
		<span><%= image_tag 'fb_like_small.png', :class => "like", :id => "retailer_like", :onclick => "retailerLikeToggle()" %>
		<% if @retailer.logo %>
			<%= image_tag @retailer.logo, :class => "logo" %>
		<% else %>
			<span class="middle"><%= @retailer.name %></span>
		<% end %>
		<span><%= image_tag 'fb_dont_small.png', :class => "like right_float", :id => "retailer_dislike", :onclick => "retailerDislikeToggle()" %>
	</li>
	<li>
		<span><%= image_tag 'fb_like_small.png', :class => "like", :id => "product_like", :onclick => "productLikeToggle()" %>
		<span class="middle" ><%= @purchase.product.title %></span>
		<span><%= image_tag 'fb_dont_small.png', :class => "like right_float", :id => "product_dislike", :onclick => "productDislikeToggle()" %>
	</li>
	<li>
		<span><%= image_tag 'fb_like_small.png', :class => "like", :id => "category_like", :onclick => "categoryLikeToggle()" %>
		<span class="middle"><%= @purchase.product.category.name %></span>
		<span><%= image_tag 'fb_dont_small.png', :class => "like right_float", :id => "category_dislike", :onclick => "categoryDislikeToggle()" %>
	</li>
</ul>
<ul class="rounded dark_bg">
	<li>
		<% form_for :purchase, :url => { :action => :purchase_update} do |form| %>
			<% if @authorization == "by arca" %>
				<% if @purchase.authorized %>
					<%= image_tag 'authorized_by_arca2.png', :class => "authorized_by_arca" %>
				<% else %>
					<%= image_tag 'unauthorized_by_arca.png', :class => "authorized_by_arca" %>
				<% end %>
				<%= link_to "shal", "/aol/arca_auth_help", :class => "slideup transparent", :id => "arca_auth_help" %>
			<% else %>
				<%= form.select(:authorization_type, @authorization_text )%>
			<% end %>
			<%= hidden_field(:rlist, :status, :id => "rlist")  %>
			<%= hidden_field(:plist, :status, :id => "plist")  %>
			<%= hidden_field(:clist, :status, :id => "clist")  %>
			<%= submit_tag "Submit", :class => "whiteButton submit purchase_update" %>
		<% end %>
	</li>
</ul>
</div>


<script type="text/javascript">

var retailer_like = "unlit"
var retailer_dislike = "unlit"
var product_like = "unlit"
var product_dislike = "unlit"
var category_like = "unlit"
var category_dislike = "unlit"
	


	if (document.getElementById("rlist").value == "whitelisted") {
		document.getElementById("retailer_like").src = "/images/fb_like_lit_small.png";
		var retailer_like = "lit";
	}
	
	if (document.getElementById("rlist").value == "blacklisted") {
		document.getElementById("retailer_dislike").src = "/images/fb_dont_lit_small.png";
		var retailer_dislike = "lit";
	}

	if (document.getElementById("plist").value == "whitelisted") {
		document.getElementById("product_like").src = "/images/fb_like_lit_small.png";
		var product_like = "lit";
	}
	
	if (document.getElementById("plist").value == "blacklisted") {
		document.getElementById("product_dislike").src = "/images/fb_dont_lit_small.png";
		var product_dislike = "lit";
	}
	
	if (document.getElementById("clist").value == "whitelisted") {
		document.getElementById("category_like").src = "/images/fb_like_lit_small.png";
		var category_like = "lit";
	}
	
	if (document.getElementById("clist").value == "blacklisted") {
		document.getElementById("category_dislike").src = "/images/fb_dont_lit_small.png";
		var category_dislike = "lit";
	}	
	


function retailerLikeToggle()
{

	if (retailer_like == "unlit") {
		document.getElementById("retailer_like").src = "/images/fb_like_lit_small.png";
		document.getElementById("rlist").value = "whitelisted";
		retailer_like = "lit";
		if (retailer_dislike == "lit") {
			document.getElementById("retailer_dislike").src = "/images/fb_dont_small.png";
			retailer_dislike = "unlit";	
		}
	}
	else {
		document.getElementById("retailer_like").src = "/images/fb_like_small.png";
		document.getElementById("rlist").value = "";
		retailer_like = "unlit";
	}

}
function retailerDislikeToggle()
{

	if (retailer_dislike == "unlit") {
		document.getElementById("retailer_dislike").src = "/images/fb_dont_lit_small.png";
		document.getElementById("rlist").value = "blacklisted";
		retailer_dislike = "lit";
		if (retailer_like == "lit") {
			document.getElementById("retailer_like").src = "/images/fb_like_small.png";
			retailer_like = "unlit";	
		}
	}
	else {
		document.getElementById("retailer_dislike").src = "/images/fb_dont_small.png";
		document.getElementById("rlist").value = "";
		retailer_dislike = "unlit";
	}
}
function productLikeToggle()
{

	if (product_like == "unlit") {
		document.getElementById("product_like").src = "/images/fb_like_lit_small.png";
		document.getElementById("plist").value = "whitelisted";
		product_like = "lit";
		if (product_dislike == "lit") {
			document.getElementById("product_dislike").src = "/images/fb_dont_small.png";
			product_dislike = "unlit";	
		}
	}
	else {
		document.getElementById("product_like").src = "/images/fb_like_small.png";
		document.getElementById("plist").value = "";
		product_like = "unlit";
	}
}
function productDislikeToggle()
{

	if (product_dislike == "unlit") {
		document.getElementById("product_dislike").src = "/images/fb_dont_lit_small.png";
		document.getElementById("plist").value = "blacklisted";
		product_dislike = "lit";
		if (product_like == "lit") {
			document.getElementById("product_like").src = "/images/fb_like_small.png";
			product_like = "unlit";	
		}
	}
	else {
		document.getElementById("product_dislike").src = "/images/fb_dont_small.png";
		document.getElementById("plist").value = "";
		product_dislike = "unlit";
	}
}
function categoryLikeToggle()
{

	if (category_like == "unlit") {
		document.getElementById("category_like").src = "/images/fb_like_lit_small.png";
		document.getElementById("clist").value = "whitelisted";
		category_like = "lit";
		if (category_dislike == "lit") {
			document.getElementById("category_dislike").src = "/images/fb_dont_small.png";
			category_dislike = "unlit";	
		}
	}
	else {
		document.getElementById("category_like").src = "/images/fb_like_small.png";
		document.getElementById("clist").value = "";
		category_like = "unlit";
	}
}
function categoryDislikeToggle()
{

	if (category_dislike == "unlit") {
		document.getElementById("category_dislike").src = "/images/fb_dont_lit_small.png";
		document.getElementById("clist").value = "blacklisted";
		category_dislike = "lit";
		if (category_like == "lit") {
			document.getElementById("category_like").src = "/images/fb_like_small.png";
			category_like = "unlit";	
		}
	}
	else {
		document.getElementById("category_dislike").src = "/images/fb_dont_small.png";
		document.getElementById("clist").value = "";
		category_dislike = "unlit";
	}
}

function formSubmit(id)
	{
	document.getElementById(id).submit();
	}

</script>
