<% title @consumer.name  %>

<script type="text/javascript">
	$(function() {
		under = document.getElementById("under").value;
		over = document.getElementById("over").value;
		if (under.charAt(0) == '$') {under = under.slice(1)}
		if (over.charAt(0) == '$') {over = over.slice(1)}
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: 100,
			values: [under, over],
			slide: function(event, ui) {
				$("#under").val('$' + ui.values[0]);
				$("#over").val('$' + ui.values[1]);
			}
		});
		$("#under").val('$' + $("#slider-range").slider("values", 0));
		$("#over").val('$' + $("#slider-range").slider("values", 1));
	});
	
	function updateSlider() {
		
		under = document.getElementById("under").value;
		over = document.getElementById("over").value;
		if (under.charAt(0) == '$') {under = under.slice(1)}
		if (over.charAt(0) == '$') {over = over.slice(1)}

		$("#slider-range").slider("values", 0, under);
		$("#slider-range").slider("values", 1, over);	
	}

</script>


<ul class="blue_bg engrave">
	<ul id="slider-range"></ul>
</ul>
<% form_for :consumer_rule, :url => { :action => :rules_update } do |f| %>

  	<ul class="thin_lines" style="margin-top:-10px">
    	<li >
    		<span class="item gray small_font" >Approve any purchase under</span>
			<span class="short_value">
				<%= f.text_field(:edited_auto_authorize_under, 
					:placeholder => "this amount",  
					:class => "value green",
					:id => "under",
					:onchange => "updateSlider()") %>
			</span>
		</li>
   	<li>
    		<span class="item gray small_font" >Unapprove any purchase over</span>
			<span class="short_value">
				<%= f.text_field(:edited_auto_deny_over, 
				:placeholder => "this amount",  
				:class => "value red",
				:id => "over",
				:onchange => "updateSlider()") %>
			</span>
		</li>
	</ul>

	

<ul class="banner_question_mark">
		<span style="position:absolute;left:12px;font-size:14px">If I do need to be involved, reach me by</span>
		<span><%= link_to "shal", "involved_help", :class => "slideup transparent question_mark" %> </span>
</ul>
	<%if @payer.phone_alert %>
		<a href="/aol/sms_prefs" class="contact"><img src="/images/iPhone SMS 64.png" border="0"></a> 
	<% else %>
		<a href="/aol/sms_prefs" class="contact"><img src="/images/iPhone SMS 64 bw.png" border="0"></a> 
	<% end %>
	<% if @payer.email_alert %>
		<a href="/aol/email_prefs" class="contact"><img src="/images/iPhone email 64.png" border="0"></a> 
	<% else %>
		<a href="/aol/email_prefs" class="contact"><img src="/images/iPhone email 64 bw.png" border="0"></a> 
	<% end %>
		<%= image_tag 'Skype 64 bw 1.png', :class => "contact" , :id => "skype" %>
		<%= image_tag 'aol aim bw.png', :class => "contact", :id => "aim"%>

  	<%= submit_tag "Submit", :class => "whiteButton submit bottom_submit_tag" %>
<% end %>


