<% title "My Information" %>

<div id="info" style="margin-top:10px">
	<ul  style="height:15px;width:169px;margin:5px;margin-left:0;padding:3px;text-align:center;background-image:url('/images/heading_bg1.png');color:white;text-align:left;text-shadow: rgba(0,0,0,.2) 0 5px 3px;font-weight:100;font-size:14px;">Top Categories</ul>
	<div id="Pie_chart">
		<div id="purchases_by_category"></div>
		
		<%= Seer::visualize(
		    @categories, 
		    :as => :pie_chart,
		    :in_element => 'purchases_by_category',
		    :series => {
		      :series_label => 'name',
		      :data_method => 'quantity(@payer.id)'
		    },
		    :chart_options => { 
		      :height => 230,
		      :width => 172,
		      :axis_font_size => 13,
		      :title => "Purchases by Category",
			  :title_font_size => 13,
			  :title_color => '#666666',
		      :point_size => 10,
		      :is_3_d => true,
			  :background_color => '#ccebd2',
			  :legend => 'bottom',
		 	  :colors => "[{color:'#666666', darker:'#666666'}, {color:'#1B7BDD', darker:'black'},{color:'orange', darker:'#680000'}, {color:'#dc3912', darker:'black'} ]",
			  :legend_font_size => 13,
				:legend_background_color => 'white'
		    }
		   )
		-%>
	
		
	</div>

<ul class="rounded wide">
	<li class="arrow"><%= link_to "Review all purchases", "purchases_all" %></li>
</ul>	
	<div id="lists" >
		
		<div id="top_products" >
			<ul  id="beinformed_heading" style="height:22px;width:140px;margin:5px;margin-left:0;padding-left:5px;text-align:center;background-image:url('/images/heading_bg1.png');color:white;text-align:left;text-shadow: rgba(0,0,0,.2) 0 5px 3px;font-weight:100;font-size:14px">Top Products</ul>
			<ul class="rounded">
			<% Purchase.payer_top_products(@payer.id, 3).each do |product_id, total|%>
				<li>
					<%= link_to Product.find(product_id).title, "purchases_by_product/#{product_id}", :class => "short_item" %>
					<span class="short_value">
						<span class="right_indented"><%= number_to_currency(total) %></span>
					</span>
				</li>
			<% end %>
			</ul>
		</div>

		<div id="top_retailers">
			<ul  id="beinformed_heading" style="height:22px;width:140px;margin:5px;margin-left:0;padding-left:5px;text-align:center;background-image:url('/images/heading_bg1.png');color:white;text-align:left;text-shadow: rgba(0,0,0,.2) 0 5px 3px;font-weight:100;font-size:14px;">Top Merchants</ul>
			<ul class="rounded framed">
			<% Purchase.payer_top_retailers(@payer.id, 3).each do |retailer_id, total|%>
				<li>
					<%= link_to Retailer.find(retailer_id).name, "purchases_by_retailer/#{retailer_id}", :class => "short_item" %>
					<span class="short_value">
						<span class="right_indented"><%= number_to_currency(total) %></span>
					</span>
				</li>
			<% end %>
			</ul>
		</div>
		
	</div>	
</div>
