<script type="text/javascript">

	function chngClass () {
		if (document.getElementById('onoff').className=='blue_bg engrave')
			{document.getElementById('onoff').setAttribute("class","engrave");}
		else
			{document.getElementById('onoff').setAttribute("class","blue_bg engrave");}
	}	
	
</script>

<% title "SMS Preferences" %>

<% form_for :payer, :url => { :action => :sms_update } do |f| %>

	<br />
	<% if @payer.phone_alert %>
		<ul class="blue_bg engrave" id="onoff">
	<% else %>
		<ul class="engrave" id="onoff">
	<% end %>
		<li style="height:26px">
			<span id="alert_me" class="item gray small_font" style="font-weight:100">Alert me by SMS</span>
	 		<span class="toggle">
	  			<%= f.check_box :phone_alert, :onchange => "chngClass()" %>
			</span>
		</li>
	</ul>
	<ul >
		<li class="noarrow">
			<span class="item gray small_font" style="font-weight:100">Notify me for</span>
			<span class="longer_value">
				<%= f.select(:phone_events, @phone_events )%>
			</span>
		</li>
		<li class="noarrow">
			<span class=class="item gray small_font" style="font-weight:100">Contact me</span>
			<span class="longer_value">
				<%= f.select(:phone_alert_frequency, @phone_frequencies )%>
			</span>
		</li>
		<li>
			<span class="item gray small_font" style="font-weight:100">Text me on</span>
			<span class="longer_value">
				<%= f.text_field(
				:edited_phone) %>
			</span>
		</li>
	</ul>

	<%= submit_tag "Submit", :class => "whiteButton submit bottom_submit_tag" %>

<% end %>
