<% if @payer.name? %>
	<% title @payer.name %>
<% else %>
	<% title "Hi #{@user.name}" %>
<% end %>


	<ul class="rounded" id="iconized_menu">
		<li class="arrow" id="pendings">
			<%= image_tag 'email.png', :class => "icon", :title => "You have pending purchases" %>
			<% if @pending_counter > 1 %>
				<a href="purchases_pending_authorization"  class="item_by_icon" target ="_webapp">My Inbox</a>
			<% elsif @pending_counter == 1 %>
				<%= link_to "My Inbox", "purchase/#{@purchase_id}", :class => "item_by_icon" %> 
			<% else %>
				<a href="welcome_signedin" class="item_by_icon">Inbox</a>
			<% end %>
			<small class="counter"><%= @pending_counter %></small>
		</li>
	</ul>
	<ul class="rounded" id="iconized_menu1">
		<li class="arrow">
			<%= image_tag 'accounting1.png', :class => "icon"%>
			<a href="/aol/select_consumer/budget_form" class="item_by_icon" >Allowance</a></li>
		<li class="arrow">
	    	<%= image_tag 'finger.png', :class => "icon"%>
			<a href="/aol/select_consumer/rules_menu" class="item_by_icon" >Authorization</a>
		</li>
	    <li class="arrow">
	    	<%= image_tag 'movies1.png', :class => "icon"%>
			<a href="content_menu" class="item_by_icon">Content</a>
		</li>
		<li class="arrow">
			<%= image_tag 'statistics1.png', :class => "icon"%>
			<a href="beinformed" target="_webapp" class="item_by_icon">Information</a>
		</li>
		<li class="arrow">
			<%= image_tag 'person.png', :class => "icon" %>
			<a href="account_form" class="item_by_icon">Account</a>
		</li>

	</ul>
	
	<div id = "new_pendings_alert" style="display: none">
		<%= image_tag  "/images/new_purchase_requests2.png" %>		
	</div>


    <script type="text/javascript" charset="utf-8">

    function waitForMsg(){
		
        $.ajax({
            type: "GET",
            url: "check_for_new_pendings",

            async: true, /* If set to non-async, browser shows page as "Loading.."*/
            cache: false,
            timeout:50000, /* Timeout in ms */

            success: function(data){ /* called when request to barge.php completes */
                 setTimeout(
                    'waitForMsg()', /* Request next message */
                    5000 /* ..after 1 seconds */
                );
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                addmsg("error", textStatus + " (" + errorThrown + ")");
                setTimeout(
                    'waitForMsg()', /* Try again after.. */
                    "15000"); /* milliseconds (15seconds) */
            },
        });
    };



   $(document).ready(function(){
        
	<% if Current.policy.check_pendings? %>
	   	waitForMsg(); /* Start the inital request */
	<% end %>

});



    </script>