<% title "Hi #{session[:payer_user]}" %>


	<ul class="rounded" id="iconized_menu">
		<li class="arrow">
			<%= image_tag 'email.png', :class => "icon" %>
			<% if @pending_counter > 1 %>
				<a href="purchases_pending_authorization"  class="item_by_icon" target ="_webapp">My Inbox</a>
			<% elsif @pending_counter == 1 %>
				<%= link_to "My Inbox", "purchase/#{@purchase_id}", :class => "item_by_icon" %> 
			<% else %>
				<a href="" class="item_by_icon">My Inbox</a>
			<% end %>
			<small class="counter"><%= @pending_counter %></small>
		</li>
	</ul>
	<ul class="rounded" id="iconized_menu1">
		<li class="arrow">
			<%= image_tag 'accounting1.png', :class => "icon"%>
			<a href="budget_form" target="_webapp" class="item_by_icon" >My Budget</a></li>
	    <li class="arrow">
	    	<%= image_tag 'movies1.png', :class => "icon"%>
			<a href="content_menu" class="item_by_icon">My Content</a>
		</li>
			    <li class="arrow">
	    	<%= image_tag 'finger.png', :class => "icon"%>
			<a href="rules_menu" target="_webapp" class="item_by_icon">My Rules</a>
		</li>
		<li class="arrow">
			<%= image_tag 'statistics1.png', :class => "icon"%>
			<a href="beinformed" target="_webapp" class="item_by_icon">My Information</a>
		</li>
		<li class="arrow">
			<%= image_tag 'person.png', :class => "icon" %>
			<a href="account_form" class="item_by_icon">My Account</a>
		</li>

	</ul>

 