<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

	<%= render 'page_head', :page_title => "Purchase Notifications", :backPath => consumer_purchase_path(@consumer, @purchase) %>
	
	<table>
		<tbody>
			<% @notifications.each do |notification| %>
			  <tr>
			    <td><%= notification.created_at.strftime("%a, %b %d") %></td>
			    <td><%= notification.created_at.strftime("%I:%M %p") %></td>
			    <td><%= notification.orderid %></td>
			    <td><%= notification.status %></td>
			    <td><%= link_to 'Details', consumer_purchase_notification_path(@consumer, @purchase, notification) %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br />

</section>