$('#categories .left_content').html(
	'<p class="inner_content_title">&nbsp;</p>'+
	'<p class="content-name-left"><%= @category.name %></p>'+
	'<%= if @category.logo? then image_tag(@category.logo, :class => "portlet-content-logo-left") end %>'+		
	'<p>'+
		'<span class=item>Monthly purchase count:</span>'+			
		'<span class=content-value><%= @category.purchase_count %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Monthly purchase total:</span>'+			
		'<span class=content-value><%= number_to_currency(@category.total_amount) %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Last purchase:</span>'+			
		'<span class=content-value><%= @category.most_recent.to_date.strftime("%B %d, %Y") %></span>' +
	'</p>'
);