<% if @categories.empty? %>
/*
	$('.categories_list').append(	
		'<%= image_tag "/assets/thanks_for_joining5.png", :class => "righthandside_marketial" %>');
*/			

	$(function() {
		$('#tabs').tabs('disable',3);
	});

		
<% else %>

	$('.categories_list').append(	
		'<p class="inner_content_title">&nbsp;</p>' +
		'<p class="content-name-right" id="consumers">Categories</p>'+		
		'<div class="column1" ></div>' +
		'<div class="column2" ></div>');
			
	<% i = 1 %>

	<% for @category in @categories %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('.categories_list .column1').append(
				'<div class="portlet">'+
					'<div class="category portlet-header" id="category_<%= @category.id %>"><%= @category.name %></div>'+
					'<div class="portlet-content" style="padding-bottom:0" >'+
						'<div class="portlet-content-left">'+
							'<%= (!@category.logo.blank?) ?image_tag(@category.logo, :class => "portlet-content-logo")  :"<p class=content-name>#{@category.name}</p>" %>'+
							'<p class="category-info">Total monthly purchases:&nbsp;<%= number_to_currency(@category.total_amount) %></p>'+
						'</div>'+
						'<div class="portlet-content-right">'+
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('.categories_list .column2').append(
				'<div class="portlet">'+ 
					'<div class="category portlet-header" id="category_<%= @category.id %>"><%= @category.name %></div>'+
					'<div class="portlet-content" style="padding-bottom:0" >'+
						'<div class="portlet-content-left">'+
							'<%= (!@category.logo.blank?) ?image_tag(@category.logo, :class => "portlet-content-logo")  :"<p class=content-name>#{@category.name}</p>" %>'+
							'<p class="category-info">Total monthly purchases:&nbsp;<%= number_to_currency(@category.total_amount) %></p>'+
						'</div>'+
						'<div class="portlet-content-right">'+
						'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>

	category_info(<%= @categories[0].id %>);

	
<% end %>



	function category_info(id) {
		var selector = "div[id = category_" + id.toString() + " ]"
			
		$('.category.portlet-header').removeClass('ui-state-active');
		$(selector).addClass('ui-state-active');
		$.ajax({
			url: 'category/'+id,
			success: function(data){
			}
		})
	};



$(function() {
	$('.categories_list .column1').sortable({
		connectWith: '.categories_list .column2'
	});
	$('.categories_list .column2').sortable({
		connectWith: '.categories_list .column1'
	});
	
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
		.find(".category.portlet-header")
			.addClass("ui-widget-header ui-corner-all")
			.prepend('<span class="ui-icon ui-icon-minusthick"></span>')
			.end()
		.find(".category.portlet-content");

	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").toggle();
	});
	
	$(".categories_list .column1").disableSelection();
});

	$('.category.portlet-header').click(function () { 
		
		category_info($(this).attr('id').split('_')[1]);
		
	 }); 