<% i = 1 %>
<% for @consumer in @consumers %>
	<% rem = i % 2 %>
	<% if rem == 1 %>
		$('.consumer.column1').append(
			'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
				'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer.id %>">'+
					'<span class="ui-icon ui-icon-minusthick"></span>'+
					'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
				'</div>'+
				'<div class="portlet-content" >'+
					'<div class="portlet-content-left">'+
						'<%= image_tag (!@consumer.pic.blank?) ?"#{@consumer.pic}" :"face_placeholder_small.png", :class => "face-placeholder" %>'+
					'</div>'+
					'<div class="portlet-content-right">'+
						'<p class="consumer-info">Spent <%= (@consumer.sum_amount.blank? || @consumer.sum_amount == 0) ?"nothing" :number_to_currency(@consumer.sum_amount) %> this month</p>'+
						'<p class="consumer-info"><%= "Monthly balance: #{number_to_currency(@consumer.balance, :locale => 'fr')}" %></p>'+		
					'</div>'+
				'</div>'+
			'</div>');
	<% else %>
		$('.consumer.column2').append(
			'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+ 
				'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer.id %>">'+
					'<span class="ui-icon ui-icon-minusthick"></span>'+
					'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
		    	'</div>'+
				'<div class="portlet-content" >'+
					'<div class="portlet-content-left">'+
						'<%= image_tag (!@consumer.pic.blank?) ?"#{@consumer.pic}" :"face_placeholder_small.png", :class => "face-placeholder" %>'+
					'</div>'+
					'<div class="portlet-content-right">'+
						'<p class="consumer-info">Spent <%= (@consumer.sum_amount.blank?|| @consumer.sum_amount == 0) ?"nothing" :number_to_currency(@consumer.sum_amount) %> this month</p>'+
						'<p class="consumer-info"><%= "Monthly balance:  #{number_to_currency(@consumer.balance)}" %></p>'+		
					'</div>'+
				'</div>'+
			'</div>');
	<% end %>
	<% i += 1 %>
<% end %>


consumer_info(<%= @consumers[0].id %>);

	function consumer_info(id) {

		var selector = "div[id = consumer_" + id.toString() + " ]";			
		$('.consumer.portlet-header').removeClass('ui-state-active');
		$(selector).addClass('ui-state-active');

		$.ajax({
		url: 'consumer/'+id,
			success: function(data){
				$(selector).addClass('ui-state-active');
				drawChart();
				modifyBudget('get');
				modifyBalance('get');			
				modifyUnderOver('get');
				$(function() {$("#radio").buttonset();});
			}
		});
	};
	
	

function renameCommunity(name) {
	$(".content-name-right input:text").val(name);
	$("#signedin").html("Welcome " + name);
	$("#payer-in-tab").html(name);
		$.ajax({
			url: 'payer_update/?name=' + name,
			success: function(data){
			}			
		})
	};

	function rename_consumer(id, name) {
		input_name = "consumer[" + id + "][name]";
		selector = "input[name='" + input_name + "']";
		$(selector).val(name);
		$('#consumer_name_allowance').html(name + "\'s allowance");
		$('#consumer_name_approvals').html(name + "\'s approval policy");		
		$('#consumer_info').html(name + "\'s info");		
		$('#consumer_info_name input').val(name);
		$('#cname').html(" " + name);		

			$.ajax({
				url: 'consumer_update/' + id + '?name=' + name,
				success: function(data){
				
				}
			})

	};
	
	function consumer_rename_no_ajax(name) {
		$('#consumer_name_allowance').html(name + "\'s allowance");
		$('#consumer_name_approvals').html(name + "\'s approval policy");		
		$('#consumer_info').html(name + "\'s info");
		$('.ui-state-active').val(name);		
		
	};
	



$(document).ready(function (){  
	$('#consumer_form .column1').sortable({
		connectWith: '#consumer_form .column2'
	});
	$('#consumer_form .column2').sortable({
		connectWith: '#consumer_form .column1'
	});
	
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all");

	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").toggle();
	});
	
	$("#consumer_form .column1").disableSelection();
	




	$('.consumer.portlet-header').click(function () { 
		
		consumer_info($(this).attr('id').split('_')[1]);
		
	 });
	 
		

	$("#family_name input:text[value='']").val("Family");
	$(".consumer input:text[value='']").val("(Name?)");

	

});		