$('#cheerful_message').fadeOut(10000);
$('#consumer_phone').val('');
<% if @consumers.empty? %>

		
	$(function() {
		$('#consumers_tabs').tabs("option","disabled", [0, 1, 2]);
		$("#consumers_tabs").tabs("select", 3);
		$('#consumers_tabs').tabs('disable',0);


	});
		
<% elsif @consumer_added and @consumers and @consumers.size > 1 %>

	<% rem = @consumers.size % 2 %>
	<% if rem == 1 %>
			$('#consumer_form .column1').prepend(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer_added.id %>">'+
						'<span class="ui-icon ui-icon-minusthick"></span>'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
					'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag (!@consumer.pic.blank?) ?"#{@consumer.pic}" :"face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent nothing this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp #{number_to_currency(@consumer_added.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
	
	<% else %>
			$('#consumer_form .column2').prepend(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer_added.id %>">'+
						'<span class="ui-icon ui-icon-minusthick"></span>'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
					'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag (!@consumer.pic.blank?) ?"#{@consumer.pic}" :"face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent nothing this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp  #{number_to_currency(@consumer_added.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');	
	<% end %>
	
	consumer_info(<%= @consumer_added.id %>);
	setTabHeight(<%= @consumers.size %>, 0);
	
<% else %>
	$('.consumers_list').append(	
		'<p class="inner_content_title" id="consumers">&nbsp;</p>' +
		'<% form_for :payer, :url => { :action => :payment_update }, :html => {:id => "community_form"}  do |f| %>'+
		'<p class="content-name-right" id="family_name"><%= f.text_field :name, :onchange => escape_javascript("renameCommunity($(this).val())") %></p><% end %>'+		
		'<% form_for :consumers, :url => { :action => :consumer_update }, :html => {:id => "consumer_form"}  do |f| %>'+
		'<div class="column1 sortable ui-sortable" ></div>' +
		'<div class="column2 sortable ui-sortable" ></div>');
			
	<% i = 1 %>

	<% for @consumer in @consumers %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('#consumer_form .column1').append(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer.id %>">'+
						'<span class="ui-icon ui-icon-minusthick"></span>'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
					'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag (!@consumer.pic.blank?) ?"#{@consumer.pic}" :"face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent&nbsp;<%= (@consumer.sum_amount.blank? || @consumer.sum_amount == 0) ?"nothing" :number_to_currency(@consumer.sum_amount) %>&nbsp;this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp  #{number_to_currency(@consumer.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('#consumer_form .column2').append(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+ 
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer.id %>">'+
						'<span class="ui-icon ui-icon-minusthick"></span>'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
			    	'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag (!@consumer.pic.blank?) ?"#{@consumer.pic}" :"face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent&nbsp;<%= (@consumer.sum_amount.blank?|| @consumer.sum_amount == 0) ?"nothing" :number_to_currency(@consumer.sum_amount) %>&nbsp;this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp  #{number_to_currency(@consumer.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>
	$('.consumers_list').append('<% end %>');

	consumer_info(<%= @consumers[0].id %>);
	
<% end %>
	
	function renameCommunity(name) {
		$(".content-name-right input:text").val(name);
		$("#signedin").html("Welcome " + name);
		$("#payer-in-tab").html(name);
			$.ajax({
				url: 'rename_payer/' + name,
				success: function(data){
				}			
			})
		};

$(document).ready(function (){  
	$('#consumer_form .column1').sortable({
		connectWith: '#consumer_form .column2'
	});
	$('#consumer_form .column2').sortable({
		connectWith: '#consumer_form .column1'
	});
	
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all");

	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").toggle();
	});
	
	$("#consumer_form .column1").disableSelection();
	




	$('.consumer.portlet-header').click(function () { 
		
		consumer_info($(this).attr('id').split('_')[1]);
		
	 });
	 
		

	$("#family_name input:text[value='']").val("Family");
	$(".consumer input:text[value='']").val("(Name?)");

	

});	

	
