$('#products .left_content').html(
	'<p class="inner_content_title">&nbsp;</p>'+
	'<p class="content-name-left"><%= @product.title %></p>'+
	'<%= if @product.logo? then image_tag(@product.logo, :class => "portlet-content-logo-left") end %>'+		
	'<p>'+
		'<span class=item>Monthly purchase count:</span>'+			
		'<span class=content-value><%= @product.purchase_count %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Monthly purchase total:</span>'+			
		'<span class=content-value><%= number_to_currency(@product.total_amount) %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Last purchase:</span>'+			
		'<span class=content-value><%= @product.most_recent.to_date.strftime("%B %d, %Y") %></span>' +
	'</p>'
);