$('#purchases').empty();

$('#purchases').append(
		'<table id="table">' +
			'<thead>' +
				'<tr>' +
					'<th><%= t 'Date'%></th>' +
					'<th><%= t 'Time'%></th>' +
					'<th><%= t 'Consumer' %></th>' +
					'<th><%= t 'Retailer' %></th>' +
					'<th><%= t 'Product' %></th>' +
					'<th><%= t 'Category' %></th>' +
					'<th><%= t 'Amount' %></th>' +
					'<th><%= t 'Authorized' %></th>' +
					'<th><%= t 'By' %></th>' +
					'<th><%= t 'Reason' %></th>' +
					'<th><%= t 'Status' %></th>' +
					'<th><%= t 'Action' %></th>' +				'</tr>' +				
			'</thead>' +
			'<tbody>' +
			'</tbody>' +			
		'</table>' +
		'<div class="right_content purchases_list">' +
			'<form>' +
				'<div id="period">' +
					'<input type="radio" id="radio1" name="radio" checked="checked"/><label for="radio1"><%= t 'Pending' %></label>' +
					'<input type="radio" id="radio2" name="radio" /><label for="radio2"><%= t 'Unauthorized' %></label>' +
					'<input type="radio" id="radio3" name="radio" /><label for="radio3"><%= t 'Authorized' %></label>' +
					'<input type="radio" id="radio4" name="radio"/><label for="radio4"><%= t 'Just show everything' %></label>' +
				'</div>' +
		    '</form>' +
		'</div>');

<% if @purchases.empty? %>

	$('#payer_tabs').tabs("option","disabled", [2, 3, 4, 5]);

<% else %>

	$('#payer_tabs').tabs("option","disabled", false);
	$('#table').show();
	<% for @purchase in @purchases %>

		<% if @purchase.manually_handled? %>
			<% @authorizer = @payer.name %>
		<% else %> 
			<% @authorizer = "Paykido" %>
		<% end %>
		

		$('tbody').append(
		'<tr>' +
			'<td class="date_cell" id="tb_date_<%= @purchase.id %>"><%= @purchase.date.strftime("%a, %b %d, %Y") if @purchase.date %></td>' +
			'<td class="time_cell" id="tb_date_<%= @purchase.id %>"><%= @purchase.date.strftime("%I:%M %p") if @purchase.date %></td>' +
			'<td class="consumer_cell" id="tb_consumer_<%= @purchase.id %>"><%= @purchase.consumer_name %></td>' +
			'<td class="retailer_cell" id="tb_retailer_<%= @purchase.id %>"><%= @purchase.retailer_name %></td>' +
			'<td class="product_cell" id="tb_product_<%= @purchase.id %>"><%= @purchase.product_title %></td>' +
			'<td class="category_cell" id="tb_category_<%= @purchase.id %>"><%= @purchase.category_name %></td>' +
			'<td class="amount_cell" id="tb_amount_<%= @purchase.id %>"><%= number_to_currency(@purchase.amount) %></td>' +
			'<td class="date_cell" id="tb_authordate_<%= @purchase.id %>"><%= @purchase.authorization_date.strftime("%b %d, %Y") if @purchase.authorization_date %></td>' +
			'<td class="Authorizer_cell" id="tb_authorizer_<%= @purchase.id %>"><%= @authorizer %></td>' +
			'<td class="authorization_cell" id="tb_authorization_<%= @purchase.id %>"><%= t @purchase.authorization_type %></td>' +
			'<td class="status_cell" id="tb_status_<%= @purchase.id %>">'+
				'<span class="icon">'+
					'<% if    @purchase.authorized? %>'+
						'<%= image_tag "/images/cart.png", :id => "status_img", :border => "0" %>'+
					'<% elsif @purchase.requires_manual_approval? %>'+
						'<%= image_tag "/images/clock.png", :id => "status_img", :border => "0" %>'+
					'<% else %>'+
						'<%= image_tag "/images/lock.png", :id => "status_img", :border => "0" %>'+
					'<% end %>'+
				'</span>' +
			'</td>' +
			'<td class="action_cell" id="tb_action_<%= @purchase.id %>">'+
				'<% if @purchase.requires_manual_approval? %>'+
						'<a href="#" class="icon tooltip navy-tooltip">' +
							'<%= image_tag "/images/massage.png", :border => "0", :id => "message_#{@purchase.id}", :class => "message" %>' +
							'<span class="no_decoration"><%= t 'Share' %></span>' +
						'</a>' +
					'</span>' +
					'<% if @registered %>' + 
						'<a href="#" class="icon tooltip navy-tooltip">' +
							'<%= image_tag "/images/lock.png", :border => "0", :id => "lock_#{@purchase.id}", :class => "lock" %>' +
							'<span><%= t 'Decline' %></span>' +
						'</a>' +
					'<% end %>' +
						'<a href="#" class="icon tooltip navy-tooltip">' +
							'<%= image_tag "/images/cart.png", :border => "0", :id => "cart_#{@purchase.id}", :class => "cart" %>' +
							'<span><%= if @registered then t('Approve') else t('Buy') end %></span>' +
						'</a>' +
				'<% end %>'+
			'</td>' +
		'</tr>');

	<% end %>



<% end %>

$(document).ready(function (){  

	$('#period').buttonset();
	
	pTable = $('#table').dataTable({
		"bPaginate": true,
		"bRetrieve": true,
		"bJQueryUI": true,
		"aaSorting": [[0,'desc'], [1,'desc']],
		"sPaginationType": "full_numbers"	 		
	});
	
	pTable.fnFilter( '<%= t 'PendingPayer' %>' , 9, true, false, false);
	
	$('#period label').click(function () {
		var selection = $(this).children().first().html();
		if 		(selection == '<%= 'Pending' %>') {
			pTable.fnFilter( '<%= t 'PendingPayer' %>' , 9, true, false, false);
		}
		else if (selection == '<%= 'Unauthorized' %>') {
			pTable.fnFilter('<%= t 'Unauthorized'%>|<%= t 'Zero'%>|<%= t 'Insufficient'%>|<%= t 'Over'%>', 9, true, false, false);
		}
		else if (selection == '<%= 'Authorized' %>') {
			pTable.fnFilter('<%= t 'ManuallyAuthorized'%>|<%= t 'Under'%>', 9, true, false, false );
		}
		else {
			pTable.fnFilter( '', 9, true, false, false );
		}		
	}); 
	
		

	function update_purchase_table(id, status) {

		selector = "#tb_authorization_99";
		selector = selector.replace("99", id);
		var cell = $(selector).get(0);
		var aPos = pTable.fnGetPosition( cell );
		var aData = pTable.fnGetData( aPos[0] );		
		aData[ aPos[1] ] = status;
		cell.innerHTML = status;
	
		selector = "#tb_authordate_99";
		selector = selector.replace("99", id);
		var cell = $(selector).get(0);
		var aPos = pTable.fnGetPosition( cell );
		var aData = pTable.fnGetData( aPos[0] );
		if (status == "ManuallyAuthorized" || status == "Unauthorized") {
			aData[ aPos[1] ] = "<%= Time.now.strftime("%b %d, %Y")%>";
		}
		else {
			aData[ aPos[1] ] = "";
		}
		cell.innerHTML = aData[ aPos[1] ];
	};


	$(".cart, .lock").click(function() {
		selector_id = $(this).attr("id");
		purchase_id = selector_id.split('_')[1];
		status_selector = '#tb_status_' + purchase_id + ' .icon #status_img';
		if ($(status_selector).attr('src').split('?')[0] == '/images/cart.png') {return};
		approved = $(this).hasClass('cart').toString();
		url = 'purchase/' + purchase_id + '?approved=' + approved
		title = ' '
        $('table#hs_table').remove(); 
        hs.htmlExpand(null, { 
                    src: url, objectType: 'ajax', 
                    creditsPosition: 'bottom left', headingText: title, 
                    wrapperClassName: 'titlebar' } )
        hs.htmlExpand(null, { 
                    src: url, objectType: 'ajax', 
                    creditsPosition: 'bottom left', headingText: title, 
                    wrapperClassName: 'titlebar' } )
                     
        	});
/*        $('table#hs_table').remove(); */

/*	   $('#hs_table tbody:nth-child(2)').remove(); */ 

});
