<div class="payer_content">

    <div class="text_part">

        <p id="line1" class="line line1"><%= "Welcome #{@payer.name}" %></p>
        <p id="approval_title" class="title"><%= "#{@activity.capitalize} this purchase" %></p>
        <%= form_tag ({:action => :approval_and_rules}, :id => "approval_and_rules", :class => "payer_form") do  %>
        <p id="cb1" class="cb">
            <%= check_box_tag(:approve) %>
            <%= label_tag(:approve, "#{@activity.capitalize} #{@consumer.name} to purchase #{@title} for #{number_to_currency @purchase.amount}") %>
        </p>

        <% unless (@activity == 'approve' and @merchant_whitelisted and @category_whitelisted) or (@activity == 'decline' and @merchant_blacklisted and @category_blacklisted) %>
        <p id="rules_title" class="title">Make shopping safer with Paykido Rules</p>
        <p id="line2" class="line">Define your rules and save time and money. Paykido can</p>
        <% end %>
        <% unless (@activity == 'approve' and @merchant_whitelisted) or (@activity == 'decline' and @merchant_blacklisted) %>
        <p id="cb2" class="cb">
            <%= check_box_tag(:list_merchant, "1") %>
            <%= label_tag(:list_merchant, "Always #{@activity} purchases from #{@merchant}") %>
        </p>
        <% end %>
        <% if @activity == 'approve' and !@category_whitelisted %>
        <p id="cb3" class="cb">
            <%= check_box_tag(:list_category, "1") %>
            <%= label_tag(:list_category, "Always #{@activity} #{@category} purchases") %>
        </p>
        <% end %>
        <%= submit_tag "Submit", :class => "fg-button ui-state-default loginbutton ui-very-rounded-corners", :id => "submit" %>
        <% end %>

    </div>

    <div id="kid" class="pic_part">
        <%= image_tag "/images/yellowshirt_kid1.png", :id=>"yellowshirtKid",:border => 0 %>
    </div>

</div>