
<div id="payer_tabs">
	<ul>
		<li><a href="#tabs-1">Sign In</a></li>
	</ul>
	

		<div class="left_content">
			<div class="inner_content">	
				<p class="inner_content_title">Sign In</p>
				<div class="inner_content_indented">
					<%= form_for :payer, :url => {:action => :signin}, :html => {:id => "login"} do |f| %>
					  	<%= f.text_field :email, :size => 15, :placeholder => "user email", :class => "formfield" %>
					  	<%= f.password_field :password, :size => 15, :placeholder => "password", :class => "formfield inline" %>
						<span class="small_note inline"><%= link_to "Forgot password?",nil,:class=>"inline" %></span>
						<p></p>
						<%= f.check_box :remember_me, :class => "formfield inline" %>
						<span id="remember_me">Remember me</span>
						<p></p>
					  	<%= submit_tag "Sign in" ,:id=>"signin_button", :class => "fg-button ui-state-default loginbutton ui-corner-all" %>
					<% end %>	
				</div>
			</div>
		</div>
</div>

