<!--  THIS IS  FAKE CHECKOUT PAGE -->

<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<%= image_tag "/images/loading_short.gif", :id => "loading", :style=>"display:none;" %>

<%= form_tag "some_path",  :id => "product_form" do %>
	<%= radio_button_tag("product", "310 Farm Cash@30.00", false, :class=> "option", :id=>"a") %>
	<%= radio_button_tag("product", "240 Farm Cash@24.00", false, :class=> "option", :id=>"b") %>
	<%= radio_button_tag("product", "115 Farm Cash@12.00", false, :class=> "option", :id=>"c") %>
	<%= radio_button_tag("product", "55 Farm Cash@6.00", false, :class=> "option", 	:id=>"d", :checked=>"checked") %>
	<%= radio_button_tag("product", "25 Farm Cash@3.00", false, :class=> "option", 	:id=>"e") %>
<% end %>

<img src="/images/paykido_button.png" id="paykido_button" border=0 alt=""/>


<a href="http://<%= request.host + ':' + request.port.to_s %>/consumer/login?
	merchant=Zynga&
	product=Gold%20Membership&
	amount=6.99&
	currency=EUR&
	userid=131827&
	mode=T&
	PP_TransactionID=12345&
	hash=df659d502af5151a2edd18e2ebb50ba3&
	referrer=http://localhost:3000/play" 
	rel="paykido">
	<img src="http://www.paykido.com/images/paykido_button.png" id="paykido_button" alt="paykido"/>
</a>
-->

<script type="text/javascript">

$(document).ready(function () {

<% if params[:status] %>

	$('#paykido .content').height(300);
	$.paykido('<div id=window_content><p class=text id=merchant_headline>Thank you! Merchant informed.</p><span class=status_icon>h</span><span class=status_text></span></div>');
	$('.status_icon').addClass("<%= params[:status] %>");
	$('.status_text').html('<%= params[:status] %>');


<% end %>


<!--  AND THIS IS HOW IT IS CURRENTLY CALLED FOR DEMO PURPOSES -->

/*	$('#paykido_button').click(function() {
		var url = '/consumer/login?demo=demo&' + $('#product_form').serialize();  
		$.paykido({
			ajax: url
		});
	});
*/
});


</script>