<!--  THIS IS  FAKE CHECKOUT PAGE -->

<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<p id="environment"><%= Paykido::Application.config.environment %></p>

<%= form_tag "some_path",  :id => "product_form" do %>
	<div id="selection">
		<%= radio_button_tag("product", "30.00", false, :class=> "option", :id=>"a") %>
		<%= radio_button_tag("product", "24.00", false, :class=> "option", :id=>"b") %>
		<%= radio_button_tag("product", "12.00", false, :class=> "option", :id=>"c") %>
		<%= radio_button_tag("product", "6.00", false, :class=> "option", 	:id=>"d", :checked=>"checked") %>
		<%= radio_button_tag("product", "3.00", false, :class=> "option", 	:id=>"e") %>		
	</div>
<% end %>

<a href="<%= request.protocol + Paykido::Application.config.hostname %>/consumer/login?
	merchant=Zynga&
	product=Farm%20Cash&
	amount=6.00&
	currency=EUR&
	userid=131827&
	mode=T&
	PP_TransactionID=12345&
	hash=df659d502af5151a2edd18e2ebb50ba3&
	referrer=<%= request.url %>" 
	rel="paykido">
	<img src="/images/paykido_button.png" id="paykido_button" alt="paykido"/>
</a>


<script type="text/javascript">

$(document).ready(function () {
	// Emulate product selection (here: product radio button) 
	//	initial value
		var value = $("input:checked[name=product]").val();
	    var ref = $("a").attr("href");
		var par = "amount=" + value + '&';
	    ref = ref.replace(/\amount.*?\&/, par);
	    $("a").attr("href", ref);

	// every time it changes
	$("input:radio[name=product]").click(function() {
	    var value = $(this).val();
	    var ref = $("a").attr("href");
		var par = "amount=" + value + '&';
	    ref = ref.replace(/\amount.*?\&/, par);
	    $("a").attr("href", ref);
	});


	//Emulate merchant notification
	<% if params[:status] %>
		<% if params[:status] == 'registering' %>
			<% message = 'Welcome to Paykido!' %>
			<% line1 = "You can start using it to buy as soon as your parent confirms you (email sent)." %>
		<% else %>
			<% message = params[:property] + ' is ' + params[:value] %>
			<% if params[:status] == 'declined' %>
				<% message = 'Sorry... ' + message %>
			<% elsif params[:status] == 'approved' %>
				<% message = 'Hurrah! ' + message %>
			<% elsif params[:status] == 'pending' %>
				<% message = 'Your parent needs to approve it' %>
			<% elsif params[:status] == 'failed' %>
				<% message = 'Oops... ' + message %>
			<% else %>
				<% message = "This was not supposed to happen. " %>
			<% end %>
		<% end %>
		$('#paykido .content').height(300);
		$.paykido('<div id=window_content><p class=text id=merchant_headline><%= message %></p><p class=text id=merchant_line1><%= line1 %></p><span class=status_icon></span><span class=status_text></span></div>');
		$('.status_icon').addClass("<%= params[:status] %>");
		$('.status_text').html('<%= params[:status] %>');
	<% end %>

});
</script>