<!--  THIS IS  FAKE CHECKOUT PAGE -->

<div id="merchant_notification" class="alert alert-block alert-success" style="display:none">
    <h4 id="notification_title" class="alert-heading"></h4>
    <p id="notification_text"></p>
    <p id="notification_text1"></p>
</div>

<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<p id="environment"><%= Paykido::Application.config.environment %></p>

<%= form_tag "some_path",  :id => "product_form" do %>
	<div id="selection">
		<%= radio_button_tag("product", "30.00", false, :class=> "option", :id=>"a") %>
		<%= radio_button_tag("product", "24.00", false, :class=> "option", :id=>"b") %>
		<%= radio_button_tag("product", "12.00", false, :class=> "option", :id=>"c") %>
		<%= radio_button_tag("product", "6.00", false, :class=> "option", 	:id=>"d", :checked=>"checked") %>
		<%= radio_button_tag("product", "3.00", false, :class=> "option", 	:id=>"e") %>		
	</div>
<% end %>

<a href="#paykido" data-toggle="modal"> 
	<img src="/images/paykido_button.png" id="paykido_button" alt="paykido"/>
</a>

<div class="modal hide" id="paykido">
	
	<iframe scrolling="no" id="iframe" src="<%= request.protocol + Paykido::Application.config.hostname %>/consumer/login?
		merchant=Zynga&
		app=farmville&
		product=Farm%20Cash&
		amount=6.00&
		currency=EUR&
		userid=131827&
		mode=T&
		PP_TransactionID=12345&
		hash=df659d502af5151a2edd18e2ebb50ba3&
		referrer=<%= request.protocol + Paykido::Application.config.hostname %>/play">
	</iframe>	

</div>

<div id="returnedMessage" style="display: none">
	<div class="modal-header">
		<i class="bigicon-thumbs-up status_icon"></i>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="return_status"></h3>
	</div>
	<div class="modal-body">
		<p><span class="attribute"></span><span class="value" id="property"></span></p>
		<p><span class="attribute"></span><span class="value" id="value"></span></p>
		<p><span class="attribute"></span><span class="value" id="type"></span></p>
		<%= image_tag "yellowshirt_kid.png", :class => "ys_kid" %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary" disabled="disabled">Why is this?</a>
	</div>
</div>

<div id="spinner_area"><%= image_tag "ajax-loader.gif", :style => "display: none" %></div>
<script type="text/javascript">

$(document).ready(function () {
	
	// Emulate displaying Paykido's returned message

	window.addEventListener("message", receiveMessage, false);
	 
	function receiveMessage(event)
	{
	
/*
	    if (event.origin !== "http://localhost:3000")
	        return;
*/	 
	    $('#paykido.modal').modal('hide')
		obj = jQuery.parseJSON(event.data)
//	    alert('the message is: ' + obj.status + '\n' + "property:" + obj.property + "\n" + "value:" + obj.value + "\n" + "type:" + obj.type)
	    $('#paykido.modal').empty()
		$('#returnedMessage #return_status').html(obj.status)
		if (obj.status == 'declined') {
			$('.status_icon').removeClass('bigicon-thumbs-up').addClass('bigicon-thumbs-down')
		}
		else if (obj.status == 'pending') {
			$('.status_icon').removeClass('bigicon-thumbs-up').addClass('bigicon-thumbs-right')			
		}
		else if (obj.status == 'failed' || obj.status == 'unregistered' ) {
			$('.status_icon').removeClass('bigicon-thumbs-up').addClass('.bigicon-cross-black')			
		}
		$('#returnedMessage #property').html(obj.property)
		$('#returnedMessage #value').html(obj.value)
		$('#returnedMessage #type').html(obj.type)
	    $('#paykido.modal').append($('#returnedMessage'))
		$('#returnedMessage').show()
	    $('#paykido.modal').modal('show')
	}


	// Emulate product selection (here: product radio button) 
	//	initial value
		var value = $("input:checked[name=product]").val();
	    var ref = $("iframe").attr("src");
		var par = "amount=" + value + '&';
	    ref = ref.replace(/\amount.*?\&/, par);
	    $("iframe").attr("src", ref);

	// every time it changes
	$("input:radio[name=product]").click(function() {
	    var value = $(this).val();
	    var ref = $("iframe").attr("src");
		var par = "amount=" + value + '&';
	    ref = ref.replace(/\amount.*?\&/, par);
	    $("iframe").attr("src", ref);
	});


});
</script>