<!--  THIS IS  FAKE CHECKOUT PAGE -->

<div id="merchant_notification" class="alert alert-block alert-success" style="display:none">
    <h4 id="notification_title" class="alert-heading"></h4>
    <p id="notification_text"></p>
    <p id="notification_text1"></p>
</div>

<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<p id="environment"><%= Paykido::Application.config.environment %></p>

<%= form_tag "some_path",  :id => "product_form" do %>
	<div id="selection">
		<%= radio_button_tag("product", "30.00", false, :class=> "option", :id=>"a") %>
		<%= radio_button_tag("product", "24.00", false, :class=> "option", :id=>"b") %>
		<%= radio_button_tag("product", "12.00", false, :class=> "option", :id=>"c") %>
		<%= radio_button_tag("product", "6.00", false, :class=> "option", 	:id=>"d", :checked=>"checked") %>
		<%= radio_button_tag("product", "3.00", false, :class=> "option", 	:id=>"e") %>		
	</div>
<% end %>

<a data-target="#paykido" data-toggle="modal" 
	href="http://paykido-beta.herokuapp.com/consumer/login?
	merchant=Zynga&
	app=farmville&
	product=Farm%20Cash&
	amount=6.00&
	currency=EUR&
	userid=131827&
	mode=T&
	PP_TransactionID=12345&
	hash=df659d502af5151a2edd18e2ebb50ba3&
	referrer=<%= request.path %>">
	<img src="/images/paykido_button.png" id="paykido_button" alt="paykido"/>
</a>

<div class="modal hide" id="paykido"></div>

<!--
<iframe id="iframe" src="http://paykido-beta.herokuapp.com/consumer/login?
	merchant=Zynga&
	app=farmville&
	product=Farm%20Cash&
	amount=6.00&
	currency=EUR&
	userid=131827&
	mode=T&
	PP_TransactionID=12345&
	hash=df659d502af5151a2edd18e2ebb50ba3&
	referrer=<%= request.path %>">
	<img src="/images/paykido_button.png" id="paykido_button" alt="paykido"/>
</iframe>	
-->
	
<div id="spinner_area"><%= image_tag "ajax-loader.gif", :style => "display: none" %></div>
<script type="text/javascript">

$(document).ready(function () {
	

	// Emulate product selection (here: product radio button) 
	//	initial value
		var value = $("input:checked[name=product]").val();
//	    var ref = $("a").attr("href");
		var par = "amount=" + value + '&';
//	    ref = ref.replace(/\amount.*?\&/, par);
//	    $("a").attr("href", ref);

	// every time it changes
	$("input:radio[name=product]").click(function() {
	    var value = $(this).val();
//	    var ref = $("a").attr("href");
		var par = "amount=" + value + '&';
//	    ref = ref.replace(/\amount.*?\&/, par);
//	    $("a").attr("href", ref);
	});


	//Emulate merchant notification
	<% if params[:status] %>
		<% if params[:status] == 'error' %>
			$('#notification_title').html("An error has occured!")
			$('#notification_text').html("<%= "#{flash[:error]}" if flash[:error] %>")
		<% elsif params[:status] == 'registering' %>
			$('#notification_title').html("Welcome to Paykido!")
			$('#notification_text').html("You can start using it to buy as soon as your parent confirms you via email.")
		<% elsif params[:status] == 're-register' %>
			$('#notification_title').html("Paykido was upgraded. You will need to join again")
			$('#notification_text').html("Go to: Facebook -> small arrow on the blue ribbon -> Privacy Settings -> Ads, Apps and Websites -> Paykido -> Remove app.")
			$('#notification_text1').html("Then: refresh this page, click Paykido button and populate the join-in form.")
		<% else %>
			$('#notification_text').html("<%= params[:property] + ' is ' + params[:value] %>")
			<% if params[:status] == 'declined' %>
				$('#notification_title').html("Sorry...")
			<% elsif params[:status] == 'approved' %>
				$('#notification_title').html("Hurrah...")
				$('#notification_text').html("This purchase is approved. The item is yours!")
			<% elsif params[:status] == 'pending' %>
				$('#notification_title').html("Hold on")
				$('#notification_text1').html("An email has been sent to your parent to manually approve this purchase")				
			<% elsif params[:status] == 'failed' %>
				$('#notification_title').html("Payment Failed")
			<% elsif params[:status] == 'fb_failed' %>
				$('#notification_title').html("Facebook does not respond")
				$('#notification_text1').html("Please refresh and try again. Conact Paykido if that does not work")
			<% else %>
				$('#notification_title').html("This was not supposed to happen...")
			<% end %>
		<% end %>
		$('#merchant_notification').show()
		$('.status_icon').addClass("<%= params[:status] %>");
		$('.status_text').html('<%= params[:status] %>');
	<% end %>

});
</script>