<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<%= image_tag "/images/loading_short.gif", :id => "loading", :style=>"display:none;" %>

<%= form_tag "some_path",  :id => "product_form" do %>
	<%= radio_button_tag("product", "310 Farm Cash@30.00", false, :class=> "option", :id=>"a") %>
	<%= radio_button_tag("product", "240 Farm Cash@24.00", false, :class=> "option", :id=>"b", :checked=>"checked") %>
	<%= radio_button_tag("product", "115 Farm Cash@12.00", false, :class=> "option", :id=>"c") %>
	<%= radio_button_tag("product", "55 Farm Cash@6.00", false, :class=> "option", 	:id=>"d") %>
	<%= radio_button_tag("product", "25 Farm Cash@3.00", false, :class=> "option", 	:id=>"e") %>
<% end %>

<a href="http://<%= request.host + ':' + request.port.to_s %>/consumer/login?
	merchant=Zynga&
	app=Farmville&
	product=Gold%20Membership&
	amount=6.99&
	currency=EUR&
	userid=131827&
	mode=T&
	tid=US-131827-20101019232716&
	hash=df659d502af5151a2edd18e2ebb50ba3" 
	rel="paykido">
	<img src="http://www.paykido.com/images/paykido_button.png" id="paykido_button" alt="paykido"/>
</a>

<script type="text/javascript">
/*	
$(document).ready(function () {

	$('a[rel*=facebox]').click(function() {
		var url = '/consumer/login?mode=demo&' + $('#product_form').serialize();  
		var url = $(this).attr("href")
		$.facebox({
			ajax: url
		});

        hs.htmlExpand(null, { 
                src: url, objectType: 'ajax', 
                creditsPosition: 'bottom left',  
                wrapperClassName: 'titlebar' } );
		

		window.location = url; // to test it without the lightbox 				

	})

*/
</script>