<%= render 'primary_navigation' %>
<%= render 'setting_navigation' %>

<section id="maincontainer">

	<%= render :partial => 'page_head', :locals => {:title => 'Account Registration'} %>
	
	<table>
		<tbody>
			<% @payer.registrations.each do |registration| %>
			  <tr>
			    <td><%= registration.NameOnCard %></td>
			    <td>Credit card registered</td>
			    <td><%= link_to 'Details', registration %></td>
			    <td><%=  button_to 'Cancel Registration',  registration, confirm: 'Are you sure you want to cancel your registration?', method: :delete, :class => "btn btn-primary inline"  %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br />
	<%= link_to 'Register to Paykido - it\'s free!', new_payer_registration_path unless @payer.registered? %>

</section>

<%= render 'notifications' %>