<% unless params[:_pjax] %>
	<%= render 'primary_navigation' %>
	<%= render 'setting_navigation' %>
	<%= render 'notification_area'  %>
<section id="maincontainer">
	<div id="main" class="container_12">
<% end %>

	<%= render :partial => 'page_head', :locals => {:title => 'Account Registration'} %>
	
	<table>
		<tbody>
			<% @payer.registrations.each do |registration| %>
			  <tr>
			    <td><%= registration.NameOnCard %></td>
			    <td>Credit card registered</td>
			    <td><%= link_to 'Details', payer_registration_path(@payer, registration) %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br />
	<%= link_to 'Register to Paykido - it\'s free!', new_payer_registration_path unless @payer.registered? %>

<% unless params[:_pjax] %>  
  </div>
</section>
<% end %>
