<%= render 'primary_navigation'  %>
<%= render 'setting_navigation' %>

<section id="maincontainer">

	<%= render :partial => 'page_head', :locals => {:title => ""} %>
	
	
	<div class="row">
		<div class="span6">

			<div class="hero-unit" id="why_register">
				<h1>Why Register</h1>
				<p>Paykido doesnt require your credit card. But there are plenty of benefits for you if you do provide it.</p>				
				<div class="features">
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Set your policy or have Paykido learn it</span>
					</p>
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Let Paykido block bad purchases</span>
					</p>
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Let Paykido pay for safe purchases</span>
				 	</p>
			 	</div>
			</div>
		 	
		</div>

		<div class="span3 well registration_form">
			<%= render 'form' %>
		</div>

	</div>
	<div class=row>
		<div class="span6">
			<h3>How secure is Paykido</h3>
			<p>Paykido has partnered with the world's biggest payment service providers to provide you with the utmost security and safety. </p>
		</div>
		<div class="span4">
			<h3>Why do you need my credit card</h3>
			<p>To pay for purchases that comply with your rules. We dont keep its details though. It's the payment service providers that do.</p>
		</div>
	</div>


</section>

<%= render 'notifications' %>