<div class="box-header">
    <span class="icon16 cart"></span>
    <h1><%= t 'Purchases' %></h1> 
</div>

<div class="action_bar filters">
    <a href="#" class="small button" id="pending-button">
        <span class="icon16 question"></span>
        Pending
        <span class="message-count"><%= @pendings_count %></span>
    </a>
    <a href="#" class="small button" id="authorized-button">
        <span class="icon16 tick"></span>
        Approved
    </a>
    <a href="#" class="small button" id="blocked-button">
        <span class="icon16 delete"></span>
        Declined
    </a>
    <a href="#" class="small button" id="all-button">
        <span class="icon16 refresh"></span>
        All
    </a>
</div> 
  
<table id="purchases"> 
    <thead> 
        <tr> 
            <th>Date invisible</th>
            <th>Auth type invisible</th>
            <th>Authorized invisible</th>
            <th>
            <th>
            <th>
        </tr> 
    </thead> 
    <tbody> 
    <% @purchases.each do |purchase| %> 
        <tr class="purchase_row" data-href=<%= (params[:payer_id]) ?payer_purchase_path(@payer, purchase) :consumer_purchase_path(@consumer, purchase) %> data-purchase=<%= purchase.id %> > 
            <td ><%= purchase.date %></td>
            <td><%= purchase.authorization_type %></td>
            <td><%= purchase.authorized %></td>
            <td class="status">
            <% if purchase.requires_approval? %>
                <span class="icon32 question large tooltip" title="Requires your manual approval"></span>
            <% elsif purchase.approved? %> 
                <span class="icon32 tick2 large tooltip" title="Manually approved"></span>
            <% elsif purchase.declined? %> 
                <span class="icon32 cross large tooltip" title="Manually declined"></span>
            <% elsif purchase.authorized? %> 
                <span class="icon32 plus2 large tooltip" title="<%= "Authorized according to your rules: #{purchase.authorization_property}: #{purchase.authorization_value} was #{purchase.authorization_type}"%>"></span>
            <% elsif purchase.unauthorized? %> 
                <span class="icon32 minus large tooltip" title="<%= "Unauthorized according to your rules: #{purchase.authorization_property}: #{purchase.authorization_value} was #{purchase.authorization_type}"%>"></span>
            <% else %> 
                <span class="icon32 alert large tooltip" title="Well this was not supposed to happen"></span>
            <% end %>
            </td>
            <td class="purchase_details">
                <p class="purchase_top_line">
                    <span><%= link_to purchase.product ,"dashboard/product/#{purchase.id}" %></span>
                    <span>by</span>
                    <span><%= link_to purchase.retailer.name, "dashboard/retailer/#{purchase.id}" %></span>
                    <span><%= purchase.id %></span>
                </p>
                <p class="purchase_bottom_line">
                    <span class="cell_date"><%= purchase.date.strftime("%a, %b %d") %></span>
          			<span>by</span>
                    <span><%= link_to purchase.consumer.name, "dashboard/consumer/#{purchase.consumer_id}"  %></span>
                </p>
            </td>
            <td class="purchase_price"><%= number_to_currency(purchase.amount) %></td>
        </tr>
                      
    <% end %>
    </tbody> 
</table> 

<% if params[:activity] == 'approval' and @pendings_count > 0 %>
	<%= render 'approval_popover'%>
<% end %>

<script type="text/javascript"> 

$(document).ready(function() {

	//  Trigger the approval popover
	// the 2 last lines should be removed once popover acts as it should 
	<% if params[:activity] == 'approval' and @pendings_count > 0 %>
    	$('#pending-button').popover('#approval_popover', {preventBottom: true, preventRight: true});
	    $('#pending-button').trigger('open.popover');      
		window.setTimeout("$('#approval_popover').fadeOut('slow')", 2000);
	<% end %>
	
	<% if params[:status]  %>
		<% if params[:status] == 'failure' %>
		    notification('<%= "Failed: #{params[:Error]}" %>', false, 'alert', true)
		<% else %>
		    notification("<%= "Purchase paid thank you!"%>", false, 'cart', true)
		<% end %>
	<% end %>

	// DataTables (http://datatables.net/)
	pTable = $('#purchases').dataTable( {
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
	        { "bVisible": false, "aTargets": [ 0,1,2 ] },
	        { "sWidth": "0%", "aTargets": [ 3]},
	        { "sWidth": "80%", "aTargets": [ 4 ]},
 	        { "sWidth": "20%", "aTargets": [ 5 ]},
       ],
        "aaSorting": [
        	[0,'desc']
    	]
    } );


	// Filtering - replace later with tabs
	
	//	Set the default filter to either be pending or all	
	$('.action_bar.filters a').removeClass('blue');        
	<% if @pendings_count > 0  %>
    	$('#pending-button').addClass('blue');
    	pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
	<% else %>
    	$('#all-button').addClass('blue');
    	pTable.fnFilter( '', 1, true, false, false );
	<% end %>            
        

	//	Filtering is currently silly (based on 'authorization_type' column) - should be replaced by 'authorized' column.

    $('#pending-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
             pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
    });

    $('#authorized-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
            pTable.fnFilter('Whitelisted|Approved|Authorized|Always|Under', 1, true, false, false );
    });

    $('#blocked-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
            pTable.fnFilter('Blacklisted|Low|High|Unauthorized|Declined|Zero|Insufficient|Over', 1, true, false, false);
    });

     $('#all-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
            pTable.fnFilter( '', 1, true, false, false );
    });
    

	// Purchase row + detail selection

	//ajax the href/data-href content when clicked into specified container
	$('.purchase_row').pjax("#dashboard_right");

    //indicte active tr line
    $('#purchases tr').click(function() {
    	$('#purchases tr').removeClass('active');
    	$(this).addClass('active');
    })           

	// INIT - highlight the proper purchase line and show the purchase details pane 
	// proper purchase: either the one in the parameter or the first one in the screen
	<% if params[:id] %>
    	proper_tr = $('#purchases tr[data-purchase=<%= params[:id] %>]')
	<% else %>
		proper_tr = $('#purchases tbody tr:first')
	<% end %>
    $('#purchases tr').removeClass('active');
    proper_tr.addClass('active');
	proper_tr.pjax("#dashboard_right");
	$.pjax({
	  url: proper_tr.attr('data-href'),
	  container: '#dashboard_right'
	})
});

</script>