<div class="box-header">
    <h1><%= t 'Purchases' %></h1> 
</div>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
		    <li id="authorized-button">
		    	<a href="#" data-skip-pjax="true">Approved</a>
			</li>
		    <li id="blocked-button">
		    	<a href="#" data-skip-pjax="true">Declined</a>
			</li>
			<li  id="pending-button" class="active">
		    	<a href="#" data-skip-pjax="true">Pending <span class="badge badge-info"><%= @pendings_count %></span></a>
		    </li>
		</ul>
	</div>
</div>

<table id="purchases"> 
    <thead> 
        <tr> 
            <th>Date invisible</th>
            <th>Auth type invisible</th>
            <th>Authorized invisible</th>
            <th>
            <th>
            <th>
        </tr> 
    </thead> 
    <tbody> 
    <% @purchases.each do |purchase| %> 
        <tr class="purchase_row" data-href=<%= (params[:consumer_id]) ? consumer_purchase_path(@consumer, purchase) : purchase_path(purchase) %> data-purchase=<%= purchase.id %> > 
            <td ><%= purchase.date %></td>
            <td><%= purchase.authorization_type %></td>
            <td><%= purchase.authorized %></td>
            <td class="status">
            <% if purchase.requires_approval? %>
                <i class="bigicon-thumbs-right" data-placement="right" title="Referred to you for manual approval"></i>
            <% elsif purchase.approved? %> 
                <i class="bigicon-thumbs-up" data-placement="right" title="Manually approved"></i>
            <% elsif purchase.declined? %> 
                <i class="bigicon-thumbs-down" data-placement="right" title="Manually declined"></i>
            <% elsif purchase.authorized? %> 
                <i class="bigicon-tick-in-a-circle" data-placement="right" title="<%= "Authorized according to your rules: #{purchase.authorization_property}: #{purchase.authorization_value} was #{purchase.authorization_type}"%>"></i>
            <% elsif purchase.unauthorized? %> 
                <i class="bigicon-no-entry-in-a-circle" data-placement="right" title="<%= "This purchase was blocked according to your rules: #{purchase.authorization_property}: #{purchase.authorization_value} was #{purchase.authorization_type}"%>"></i>
            <% else %> 
                <span class="icon32 alert large" data-placement="right" title="Well this was not supposed to happen"></span>
            <% end %>
            </td>
            <td class="purchase_details">
                <p class="purchase_top_line">
                    <span class="text-warning"><%= purchase.product  %></span>
                    <span>by</span>
                    <span class="text-info"><%= purchase.retailer.name %></span>
                </p>
                <p class="purchase_bottom_line">
                    <span class="cell_date"><%= purchase.date.strftime("%a, %b %d") %></span>
          			<span>by</span>
                    <span><%=  purchase.consumer.name  %></span>
                </p>
            </td>
            <td class="purchase_price"><%= "#{purchase.amount} #{purchase.currency}" %></td>
        </tr>
                      
    <% end %>
    </tbody> 
</table> 

<% if params[:activity] == 'approval' and @pendings_count > 0 %>
	<%= render 'approval_popover'%>
<% end %>

<script type="text/javascript"> 

$(document).ready(function() {


	<% if params[:activity] == 'approval' %>
	$('#approval_buttons').popover({
		title: "For your approval", 
		trigger: 'manual',
		content: 
			"<p>Click 'Approve' or 'Decline'.</p>" + 
			<% if current_payer.registered? %>
				"<p>If you approve, Paykido will pay on your behalf.</p>" 
			<% else %>
				"<p>If you wish Paykido to do the approvals for you and pay on your behalf too, please register.</p>" +
    			'<p><%= button_to "Register", tokens_path, :class => "btn btn-info inline" %></p>'
 			<% end %>
				, 
		placement: 'top', 
		html: true,
		template: '<div class="popover" onmouseover="$(this).mouseleave(function() {$(this).hide(); });"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'

            }).mouseenter(function(e) {
                $(this).popover('show');
		})
		$('#approval_buttons').popover('show')
	<% end %>

//    $('[title]').not('[rel="popover"]').tooltip({placement: 'right'});

	//  Trigger the approval popover
	// the 2 last lines should be removed once popover acts as it should 
	<% if params[:activity] == 'approval' and @pendings_count > 0 %>
	/*
    	$('#pending-button').sp_popover('#approval_popover', {preventBottom: true, preventRight: true});
	    $('#pending-button').trigger('open.popover');      
		window.setTimeout("$('#approval_popover').fadeOut('slow')", 2000);
	*/
	<% end %>
	

	// DataTables (http://datatables.net/)
	pTable = $('#purchases').dataTable( {
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
	        { "bVisible": false, "aTargets": [ 0,1,2 ] },
	        { "sWidth": "0%", "aTargets": [ 3]},
	        { "sWidth": "80%", "aTargets": [ 4 ]},
 	        { "sWidth": "20%", "aTargets": [ 5 ]},
      		{ "bUseRendered": false, "aTargets": [ 2 ] }
      	],
        "aaSorting": [
        	[0,'desc']
    	]
    } );
    
 
	// check the internal values of a clicked tr
/*
	$('tr').click( function () {
	    var sData = pTable.fnGetData( this );
	    alert( 'The cell clicked on had the value of '+sData );
  	} );
*/
	// Filtering - replace later with tabs
	
	//	Set the default filter to either be pending or all	
	// NOTE: if the following dataTables query is empty, the script below that attempts to ajax the first row purchase brings the entire page which causes dataTable to alert something
	<% if @pendings_count > 0  %>
        $('.navbar li').removeClass('active');
        $('#pending-button').addClass('active');
		pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
	<% elsif @purchases.approved.any? %>
        $('.navbar li').removeClass('active');
        $('#authorized-button').addClass('active');
		pTable.fnFilter('Whitelisted|Approved|Authorized|Always|Under', 1, true, false, false );
	<% elsif @purchases.declined.any? %>
        $('.navbar li').removeClass('active');
        $('#blocked-button').addClass('active');
        pTable.fnFilter('Blacklisted|Low|High|Unauthorized|Unqualified|Declined|Denied|Zero|insufficient|Over', 1, true, false, false);
	<% else %>
        $('.navbar li').removeClass('active');
        $('#pending-button').addClass('active');
		pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
	<% end %>
        

	//	Filtering is currently silly (based on 'authorization_type' column) - should be replaced by 'authorized' column.

    $('#pending-button').click(function () {
            $('.navbar li').removeClass('active');
            $(this).addClass('active');
             pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
    });

    $('#authorized-button').click(function () {
            $('.navbar li').removeClass('active');
            $(this).addClass('active');
            pTable.fnFilter('Whitelisted|Approved|Authorized|Always|Under', 1, true, false, false );
//          	pTable.fnFilter(true, 2, false, false, false );
    });


    $('#blocked-button').click(function () {
            $('.navbar li').removeClass('active');
            $(this).addClass('active');
            pTable.fnFilter('Blacklisted|Low|High|Unauthorized|Unqualified|Declined|Denied|Zero|insufficient|Over', 1, true, false, false);
    });

/*
     $('#all-button').click(function () {
            $('.navbar li').removeClass('active');
            $(this).addClass('active');
            pTable.fnFilter( '', 1, true, false, false );
    });
*/    


    $('#purchases tr').click(function() {
    	$('#purchases tr').removeClass('active');
    	$(this).addClass('active');
    })           

	// Purchase row + detail selection

	//ajax the href/data-href content when clicked into specified container
	$('.purchase_row').sp_pjax("#dashboard_right");  // have .purchase_row (tr, not a) behave as a/pjax/data-href

    //indicte active tr line
    $('#purchases tr').click(function() {
    	$('#purchases tr').removeClass('active');
    	$(this).addClass('active');
    })           

	// INIT - highlight the proper purchase line and show the purchase details pane 


	// 0. Select proper consumer secondary navigation
	<% if @consumer_id %>
    	$('nav#secondary li[data-consumer-id]').removeClass('active')
    	$('nav#secondary li[data-consumer-id=<%= @consumer_id %>]').addClass('active')
	<% else %>	
    	$('nav#secondary li[data-consumer-id]').removeClass('active')
    	$('nav#secondary li.payer').addClass('active')
	<% end %>	

	<% if @purchases.any? %>
		// 1. select proper purchase: either the one in the parameter or the first one in the screen
		<% if params[:id] %>
	    	proper_tr = $('#purchases tr[data-purchase=<%= params[:id] %>]')
		<% else %>
			proper_tr = $('#purchases tbody tr:first')
		<% end %>
	
		//2. Highlight the proper purchase
	    $('#purchases tr').removeClass('active');
	    proper_tr.addClass('active');
		
		//3. programmatically pjax the proper purchase to the right pane
		<% unless params[:id] %>
			$.pjax({                              
			  url: proper_tr.attr('data-href'),
			  container: '#dashboard_right'
			})
		<% end %>
	<% end %>

});

</script>