<div class="box-header">
    <td class="icon16 user"></td>     
    <h1><%= t 'Purchase' %></h1>   
<!--
	<div id="manual_approval_buttons">
	    <button id="approve" class="btn btn-success">
	    	<i class="icon-thumbs-up icon-white"></i>
	    	Approve
		</button>
	    <button id="decline" class="btn btn-danger">
	    	<i class="icon-thumbs-down icon-white"></i>
	    	Decline
		</button>
	</div>
-->
</div>
    
<div class="box-content">

    <div class="header clearfix well">
        <div class="grid_6 content-header relative clearfix">
            <p class="retailer">                    
					<%= @purchase.retailer.name %>   
					<%= @purchase.id %>
			</p>
			<p class="product"><%= @purchase.product %></p>
            <p class="price"><%= number_to_currency @purchase.amount %></p>
        </div>
        <div id="purchase_header_right" class="grid_5 content-header relative">
            <p class="retailer_info">
                <span class="star_rating"></span>
                <span>
                    <a href="#" class="small button">
                        <span class="like" title="74% of our users recommended this merchant">74%</span>
                    </a>
                </span>            
            </p>
            <p><div class="progress"><span style="width: 70%;"></span></div></p>

			<% if @purchase.requires_approval? %>
<!--  			
				<button class="btn btn-success">
					<%= link_to approve_purchase_path(@purchase) do %>
					<i class="bigicon-tick-black"></i>	
					Approve
					<% end %>			
				</button>
				<button class="btn btn-danger">
					<i class="bigicon-cross-black"></i>
					Decline
				</button>
-->

				<div id="approval_buttons">
				    <%= link_to approve_purchase_path(@purchase), :class => "small blue approval button" do %>
				        <span class="icon16 tick"></span>
				        Approve
				    <% end %>
				    <%= link_to decline_purchase_path(@purchase), :class => "small blue decline button" do %>
				        <span class="icon16 delete"></span>
				        Decline
				    <% end %>
				</div>

			<% end %>     

        </div>

    </div>


    <p class="sectiontitle">About the purchase</p>
    <table class="purchase_info">
        <tbody>
        <%= form_tag do %>
            <% if @purchase.properties %>    
            <% @purchase.properties.sort.each do |property, value| %>
                <tr class="purchase_line">
                    <td class="purchase_title"><%= t property %>:</td>
                    <td class="purchase_logo">
                        <% if info = Info.find_by_key_and_value(property, value) and info.logo %>
                            <%= image_tag info.logo, {:rel => "popover", :title => info.title, :data => {:content => info.description}} %>
                        <% else %>
                            <%= value %>
                        <% end %>
                    </td>
                    <td class="actions">
                    <% if value != nil %>
                        <a data-toggle="modal" id="blacklist" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="blacklisted" data-property="<%= property %>" data-value="<%= value %>" class="small button rule <%= (@purchase.consumer.blacklisted?(property,value)) ?'blue' :'regular greyedOut' %>">
                            <span class="icon16 blacklist"></span>NO
                        </a>
                        <a data-toggle="modal" id="whitelist" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="whitelisted" data-property="<%= property %>" data-value="<%= value %>" class="small button rule <%= (@purchase.consumer.whitelisted?(property,value)) ?'blue' :'regular greyedOut' %>">
                            <span class="icon16 whitelist"></span>OK
                        </a>
					<% end %>
                    </td>
                    <td>
                    <% if value != nil %>
                        <a href='#' id="approval_rule_q">
                        </a>
					<% end %>
                    </td> 

                </tr>
                

            <% end %>
            <% end %>   
        <% end %>
        </tbody>
    </table>
    <br />
    <% for transaction in @purchase.transactions %>
    	<p><%= link_to 'Transaction details', purchase_transaction_path(@purchase, transaction) %></p>
    <% end %>

<!--  
	<p class="sectiontitle">Purchase Status</p> 
    <div class="approval_info">
        <p>Approve by... at... reason:....</p>
    </div>
-->
<script type="text/javascript">

$('document').ready(function() {

		$('[rel="popover"]').popover({placement: "left"});


/// reconstruct unbound methods following the refresh of the purchase pane (find uniform way of doing this)
    $('a.modal').each(function() {
      var link = $(this);
      var id = link.attr('href');
      var target = $(id);
      
      if($("#modalcontainer " + id).length == 0) {
        $("#modalcontainer").append(target);
      }
      
      $("#main " + id).remove();
    
      link.click(function() {
        $('#modalcontainer > div').hide();
        target.show();
        $('#overlay').show();
          
            return false;
          });
        });


/// populate the values in the set_rule modal and the href to follow if YES is clicked	    
   $('.rule.button').click(function () {
       
       var payer =    	$(this).attr('data-payer');       
       var consumer =   $(this).attr('data-consumer');       
       var purchase =   $(this).attr('data-purchase');       
       var rule_status = 	$(this).attr('data-rule-status');
       var property =   $(this).attr('data-property');
       var value =      $(this).attr('data-value');
       var name =    	$(this).attr('data-name');       
       $('.action').html(function () {
       		if 		(rule_status == 'whitelisted') {return 'approve'}
       		else if (rule_status == 'blacklisted') {return 'decline'} 
       		else if (rule_status = '') {return 'ask about'}
       });
       $('.property').html(property);
       $('.value').html(value);
       $('.name').html(name);
       $('#create_rule').attr('data-href', '/rules?payer_id=' + payer + '&purchase_id=' + purchase + '&consumer_id=' + consumer + '&property=' + property + '&value=' + value + '&rule_status=' + rule_status);
       
    });  
    
        
})
</script>

