<div class="box-content">

    <p class="sectiontitle">See what other users did</p>

        <div class="purchase_info well">
        	<div id="purchase_data">
		    	<p id="first_line">
					<span class="retailer_text text-info"><%= @purchase.retailer.name %></span> 
					<span id="product_and_price">
						<span class="product"><%= @purchase.product %></span>
				        <span class="price"><%= number_to_currency @purchase.amount %></span>
			        </span>
		        </p>
		        <p id="second_line">
					<span id="status_or_approval_buttons">
						<% if @purchase.requires_approval? %>
							<span id="approval_buttons" class="btn-group">
							    <%= link_to approve_purchase_path(@purchase), :class => "btn", 'data-skip-pjax' => true do %>
							        <i class="icon-thumbs-up"></i> &nbsp;&nbsp;<%= t 'Approve' %>
							    <% end %>
							    <%= link_to decline_purchase_path(@purchase), :class => "btn", 'data-skip-pjax' => true do %>
							        <i class="icon-thumbs-down"></i> &nbsp;&nbsp;<%= t 'Decline' %>
							    <% end %>
							</span>
				
						<% else %>
							<span id="approval_status">
								<% if @purchase.authorized %>
									<i class="bigicon-thumbs-up"></i>
									<span>Approved by </span>
								<% else %>
									<i class="bigicon-thumbs-down"></i>
									<span>Declined by </span>
								<% end %>
								<% if @purchase.manually_handled? %>
									<span> Parent</span>
								<% else %>
									<span class="paykido"> Paykido</span>
									<abbr class="why" title="<%= "#{@purchase.authorization_property} #{@purchase.authorization_value} was #{@purchase.authorization_type}" %>"> (why?)</abbr>
								<% end %>
							</span>
						<% end %> 
					</span>    
		    	</p>
	    	</div>  
			<% retailer_rating = Rule.whitelist_rate("retailer", @purchase.properties['retailer']) %>
	    	<div id="rating"> 
    			<span class="approved_by">
					<p class="label label-info"><%= number_to_percentage(retailer_rating, :precision => 0) %></p> 
				</span>            							
            </div> 
            <div id="rating_text">
				<span> <%= number_to_percentage(retailer_rating, :precision => 0) %> of Paykido users approved that merchant</span>            	
        	</div>  
    	</div>


    <p class="sectiontitle">Tell Paykido what to do with similar purchases</p>
   	<table class="purchase_info well">
        <tbody>
        <%= form_tag do %>
            <% if @purchase.properties %>    
            <% @purchase.properties.each do |property, value| %>
                <tr class="purchase_line">
                    <td class="rule_status">
                		<% if @purchase.consumer.blacklisted?(property,value) %>
                			<% current_status = 'blacklisted' %>
                			<i class="bigicon-thumbs-down"></i>
            			<% elsif @purchase.consumer.whitelisted?(property,value) %>
            				<% current_status = 'whitelisted' %>
            				<i class="bigicon-thumbs-up"></i>
        				<% else %>
        					<% current_status = 'reset' %>
            				<i class="bigicon-placeholder"></i>
        				<% end %>
                    </td>    	
                    <td class="purchase_title"><%= t property %>&nbsp;&nbsp;</td>
                    <% if info = Info.find_by_key_and_value(property, value) and info.logo %>
	                    <td class="purchase_logo">
                            <%= image_tag info.logo, {:rel => "popover", :title => info.title, :data => {:content => info.description}} %>
                        </td>
                    <% else %>
                        <td class="purchase_text">
                        	<%= value %></span>
                    	</td>
                    <% end %>
                    <td class="actions">
                    <% if value != nil %>
                    	<div class="btn-group">
 	                        <a data-toggle="modal" id="blacklist" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-current-status = "<%= current_status %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="blacklisted" data-property="<%= property %>" data-value="<%= value %>" class="btn rule button">
	                            <i class="icon-thumbs-down" data-toggle="tooltip" title="Decline"></i>
	                        </a>
	                        <a data-toggle="modal" id="reset" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-current-status = "<%= current_status %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="reset" data-property="<%= property %>" data-value="<%= value %>" class="btn rule button">
	                            <i class="icon-stop" data-toggle="tooltip" title="Stop"></i>
	                        </a>
	                        <a data-toggle="modal" id="whitelist" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-current-status = "<%= current_status %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="whitelisted" data-property="<%= property %>" data-value="<%= value %>" class="btn rule button">
	                            <i class="icon-thumbs-up" data-toggle="tooltip" title="Approve"></i>
	                        </a>
                        </div>
					<% end %>
                    </td>
                    <td>
                    <% if value != nil %>
                        <a href='#' id="approval_rule_q">
                        </a>
					<% end %>
                    </td> 

                </tr>
                

            <% end %>
            <% end %>   
        <% end %>
        </tbody>
    </table>
    <br />
    <% for transaction in @purchase.transactions %>
    	<p><%= link_to 'Transaction details', purchase_transaction_path(@purchase, transaction) %></p>
    <% end %>

<script type="text/javascript">

$('document').ready(function() {

	<% if params[:id] %>
    	proper_tr = $('#purchases tr[data-purchase=<%= params[:id] %>]')
	<% else %>
		proper_tr = $('#purchases tbody tr:first')
	<% end %>

	//2. Highlight the proper purchase
	if (proper_tr) {
	    $('#purchases tr').removeClass('active');
	    proper_tr.addClass('active');		
	}


	$('[rel="popover"]').popover({placement: "left"});

/// reconstruct unbound methods following the refresh of the purchase pane (find uniform way of doing this)
    $('a.modal').each(function() {
      var link = $(this);
      var id = link.attr('href');
      var target = $(id);
      
      if($("#modalcontainer " + id).length == 0) {
        $("#modalcontainer").append(target);
      }
      
      $("#main " + id).remove();
    
      link.click(function() {
        $('#modalcontainer > div').hide();
        target.show();
        $('#overlay').show();
          
            return false;
          });
        });


/// populate the values in the set_rule modal and the href to follow if YES is clicked	    
   $('.rule.button').click(function () {
       
       var payer =    	$(this).attr('data-payer');       
       var consumer =   $(this).attr('data-consumer');       
       var purchase =   $(this).attr('data-purchase');       
       var rule_status = 	$(this).attr('data-rule-status');
       var property =   $(this).attr('data-property');
       var value =      $(this).attr('data-value');
       var name =    	$(this).attr('data-name');
       var current_status =  $(this).attr('data-current-status');

       if (rule_status == current_status) {return false};
       
       if  (rule_status == 'reset') {
       		$('#rule_reset').show();
       		$('#rule_set').hide();
			$('.rule_title').html('Stop');
       		$('#create_rule').html('Stop');
	        $('.action').html(function () {
	       		if 		(current_status == 'whitelisted') {return 'Stop automatically approving'}
	       		else if (current_status == 'blacklisted') {return 'Stop automatically declining'} 
	       		else if (current_status = 'reset') {return 'Reset'}
	        });
       		if 		(current_status == 'blacklisted') {var stopped_action = "decline"}
       		else if (current_status == 'whitelisted') {var stopped_action = "approve"};
			$('.stopped_action').html(stopped_action);
 	   } 
	   else {
       		$('#rule_reset').hide();
       		$('#rule_set').show();
			$('.rule_title').html('Set');
       		$('#create_rule').html('Activate');
	        $('.action').html(function () {
	       		if 		(rule_status == 'whitelisted') {return 'Approve'}
	       		else if (rule_status == 'blacklisted') {return 'Decline'} 
	       		else if (rule_status = 'reset') {return 'Reset'}
	        });
	   }
       $('.property').html(property);
       $('.value').html(value);
       $('.name').html(name);
       $('#create_rule').attr('href', '/rules?payer_id=' + payer + '&purchase_id=' + purchase + '&consumer_id=' + consumer + '&property=' + property + '&value=' + value + '&rule_status=' + rule_status);
       
    });  
    
        
})
</script>

