<div class="box-header">
    <td class="icon16 user"></td>     
    <h1><%= t 'Purchase' %></h1>   
<!--
	<div id="manual_approval_buttons">
	    <button id="approve" class="btn btn-success">
	    	<i class="icon-thumbs-up icon-white"></i>
	    	Approve
		</button>
	    <button id="decline" class="btn btn-danger">
	    	<i class="icon-thumbs-down icon-white"></i>
	    	Decline
		</button>
	</div>
-->
</div>
    
<div class="box-content">

    <div class="header clearfix well">
        <div class="grid_6 content-header relative clearfix">
            <p class="retailer text-info">                    
					<%= @purchase.retailer.name %>   
			</p>
			<p class="product text-warning"><%= @purchase.product %></p>
            <p class="price"><%= "#{@purchase.amount} #{@purchase.currency}" %></p>
        </div>
        <div id="purchase_header_right" class="grid_5 content-header relative">
            <p class="retailer_info">
                <span class="star_rating"></span>
                <span>
                    <a href="#" class="small button">
                        <span class="like" title="74% of our users recommended this merchant">74%</span>
                    </a>
                </span>            
            </p>
            <p><div class="progress"><span style="width: 70%;"></span></div></p>

			<% if @purchase.requires_approval? %>
				<div id="approval_buttons" class="btn-group">
				    <%= link_to approve_purchase_path(@purchase), :class => "btn", 'data-skip-pjax' => true do %>
				        <i class="icon-thumbs-up"></i> &nbsp;&nbsp;<%= t 'Approve' %>
				    <% end %>
				    <%= link_to decline_purchase_path(@purchase), :class => "btn", 'data-skip-pjax' => true do %>
				        <i class="icon-thumbs-down"></i> &nbsp;&nbsp;<%= t 'Decline' %>
				    <% end %>
				</div>

			<% end %>     

        </div>

    </div>


    <p class="sectiontitle">About the purchase</p>
    <table class="purchase_info">
        <tbody>
        <%= form_tag do %>
            <% if @purchase.properties %>    
            <% @purchase.properties.sort.each do |property, value| %>
                <tr class="purchase_line">
                    <td class="rule_status">
                		<% if @purchase.consumer.blacklisted?(property,value) %>
                			<i class="bigicon-thumbs-down"></i>
            			<% elsif @purchase.consumer.whitelisted?(property,value) %>
            				<i class="bigicon-thumbs-up"></i>
        				<% end %>
                    </td>    	
                    <td class="purchase_title text-info"><%= t property %>:</td>
                    <% if info = Info.find_by_key_and_value(property, value) and info.logo %>
	                    <td class="purchase_logo">
                            <%= image_tag info.logo, {:rel => "popover", :title => info.title, :data => {:content => info.description}} %>
                        </td>
                    <% else %>
                        <td class="purchase_text">
                        	<%= value %></span>
                    	</td>
                    <% end %>
                    <td class="actions">
                    <% if value != nil %>
                    	<div class="btn-group">
 	                        <a data-toggle="modal" id="blacklist" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="blacklisted" data-property="<%= property %>" data-value="<%= value %>" class="btn rule button">
	                            <i class="icon-thumbs-down"></i>
	                        </a>
	                        <a data-toggle="modal" id="reset" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="reset" data-property="<%= property %>" data-value="<%= value %>" class="btn rule button">
	                            <i class="icon-stop"></i>
	                        </a>
	                        <a data-toggle="modal" id="whitelist" href="#rule" role="button" data-purchase="<%= @purchase.id %>" data-payer="<%= current_payer.id %>" data-consumer="<%= @purchase.consumer_id %>" data-name="<%= @purchase.consumer.name %>" data-rule-status="whitelisted" data-property="<%= property %>" data-value="<%= value %>" class="btn rule button">
	                            <i class="icon-thumbs-up"></i>
	                        </a>
                        </div>
					<% end %>
                    </td>
                    <td>
                    <% if value != nil %>
                        <a href='#' id="approval_rule_q">
                        </a>
					<% end %>
                    </td> 

                </tr>
                

            <% end %>
            <% end %>   
        <% end %>
        </tbody>
    </table>
    <br />
    <% for transaction in @purchase.transactions %>
    	<p><%= link_to 'Transaction details', purchase_transaction_path(@purchase, transaction) %></p>
    <% end %>

<!--  
	<p class="sectiontitle">Purchase Status</p> 
    <div class="approval_info">
        <p>Approve by... at... reason:....</p>
    </div>
-->
<script type="text/javascript">

$('document').ready(function() {

		$('[rel="popover"]').popover({placement: "left"});


/// reconstruct unbound methods following the refresh of the purchase pane (find uniform way of doing this)
    $('a.modal').each(function() {
      var link = $(this);
      var id = link.attr('href');
      var target = $(id);
      
      if($("#modalcontainer " + id).length == 0) {
        $("#modalcontainer").append(target);
      }
      
      $("#main " + id).remove();
    
      link.click(function() {
        $('#modalcontainer > div').hide();
        target.show();
        $('#overlay').show();
          
            return false;
          });
        });


/// populate the values in the set_rule modal and the href to follow if YES is clicked	    
   $('.rule.button').click(function () {
       
       var payer =    	$(this).attr('data-payer');       
       var consumer =   $(this).attr('data-consumer');       
       var purchase =   $(this).attr('data-purchase');       
       var rule_status = 	$(this).attr('data-rule-status');
       var property =   $(this).attr('data-property');
       var value =      $(this).attr('data-value');
       var name =    	$(this).attr('data-name');       
       $('.action').html(function () {
       		if 		(rule_status == 'whitelisted') {return 'Approve'}
       		else if (rule_status == 'blacklisted') {return 'Decline'} 
       		else if (rule_status = 'reset') {return 'Reset'}
       });
       if  (rule_status == 'reset') {
       		$('#rule_reset').show();
       		$('#rule_set').hide();
       		$('#create_rule').html('Reset');
	   } 
	   else {
       		$('#rule_reset').hide();
       		$('#rule_set').show();
       		$('#create_rule').html('Activate');
	   }
       $('.property').html(property);
       $('.value').html(value);
       $('.name').html(name);
       $('#create_rule').attr('href', '/rules?payer_id=' + payer + '&purchase_id=' + purchase + '&consumer_id=' + consumer + '&property=' + property + '&value=' + value + '&rule_status=' + rule_status);
       
    });  
    
        
})
</script>

