<% unless params[:_pjax] %>
	<%= render 'primary_navigation'  %>
	<%= render 'consumer_navigation' %> 

<section id="maincontainer">
	<div id="main" class="container_12">
<% end %>


<div class="box-content">	   
    <div class="box grid_6 alpha purchase_height" id="dashboard_left"> 	
        <%= render 'purchases_list' %>	                            
    </div> 	     
    <div class="box grid_6 omega purchase_height" data-pjax-container> 	    
        <%= render 'show' if @purchase %>                       	     
    </div> 	    
</div>  


<% unless params[:_pjax] %>
  </div>
</section>
<% end %>

<%= render 'notifications' %>