		<!-- Primary navigation -->
		<nav id="primary">
  			<ul>
		    	<li <%= "class=active" if ["purchases"].include? controller.controller_name  %>>
		      		<%= link_to payer_purchases_path(@payer) do %>
				        <span class="icon32 dashboard"></span>
				        Dashboard
			      	<% end %>
			    </li>
			    <li <%= "class=active" if ["consumers"].include? controller.controller_name  %>>
			      	<a href="#">
			        	<span class="icon32 cog"></span>
			        	Settings
			      	</a>
			    </li>
			    <li>
			      	<a href="#">
			        	<span class="icon32 shuffle"></span>
			        	Communication
			      	</a>
			    </li>
			    <li>
			      	<a href="#">
			        	<span class="icon32 pencil"></span>
			        	Rules
			      	</a>
			    </li>
			    <li>
			      	<a href="#">
			        	<span class="icon32 user"></span>
			        	People
			      	</a>
			    </li>
			    <li>
			      	<a href="#">
			        	<span class="icon32 chart"></span>
			        	Charts
			      	</a>
			    </li>
			    <li class="bottom">
			      	<a href="/account/logout">
			        	<span class="icon32 quit"></span>
			        	Log out
			      	</a>
			    </li>
  			</ul>
		</nav>
<!-- Secondary navigation -->
<nav id="secondary">

	<ul>
		<li <%= "class=active" unless @consumer %>>
            <%= link_to payer_purchases_path(@payer) do %>
            	<span class="secondary_name"><%= "#{(@payer.name) ? @payer.name + "'s Family" : "Family"}" %></span>
				<span class="icon32 home fr"><span>
        	<% end %>
        </li>
    	<% @payer.consumers.each do |consumer| %>
        <li class="consumer <%= "active" if (@consumer and @consumer.id == consumer.id) %>">
            <%= link_to consumer_purchases_path(consumer) do %>
            	<span class="secondary_name"><%= consumer.name %></span>
            	<% if consumer.tinypic %>
            		<span class="avatar fr"><%= image_tag consumer.tinypic %></span>
            	<% else %>
            		<span class="icon32 user fr"></span>
            	<% end %>
            	
        	<% end %>
        </li>
    	<% end %>
	</ul>
  
	<div id="notifications">
	    <ul>
	    </ul>
	</div>
</nav>

<section id="maincontainer">
  <div id="main" class="container_12">
  
	<%= render :partial => 'index' %>
  
  </div>
</section>