<%= render 'primary_navigation'  %>
<%= render 'consumer_navigation' %> 

<section id="maincontainer">

		<%= render 'page_head' %>
		
		<div class="box-content container_12">	   
		    <div class="box grid_6 alpha purchase_height" id="dashboard_left"> 	
		        <%= render 'purchases_list' %>	                            
		    </div> 	     
		    <div class="box grid_6 omega purchase_height" id="dashboard_right"> 	    
		        <%= render 'show' if @purchase %>                       	     
		    </div> 	    
		</div>  

</section>

<%= render 'notifications' %>