<h1>New purchase</h1>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :payer_id %><br />
    <%= f.text_field :payer_id %>
  </p>
  <p>
    <%= f.label :retailer_id %><br />
    <%= f.text_field :retailer_id %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </p>
  <p>
    <%= f.label :billing_date %><br />
    <%= f.date_select :billing_date %>
  </p>
  <p>
    <%= f.label :billing_by %><br />
    <%= f.text_field :billing_by %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', purchases_path %>