<p>
  <b>Payer:</b>
  <%=h @purchase.payer_id %>
</p>

<p>
  <b>Retailer:</b>
  <%=h @purchase.retailer_id %>
</p>

<p>
  <b>Product:</b>
  <%=h @purchase.product_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @purchase.amount %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @purchase.purchase_date %>
</p>

<p>
  <b>Billing date:</b>
  <%=h @purchase.billing_date %>
</p>

<p>
  <b>Billing by:</b>
  <%=h @purchase.billing_by %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>