
<%= simple_form_for(@token, :class => 'form-inline') do |f| %>
  <%= f.error_notification %>

	<p id="space_before_registration_form"></p>
  	<div class="form-inputs">
	    <%= f.input :FirstName, :autofocus => true %>
	    <%= f.input :LastName %>
	    <%= f.input :Phone %>
	    <%= f.input :Email %>
	</div>

	<div class="form-actions">
    	<%= f.button :submit, "Register, it's free!", :class => "btn-primary" %>
  	</div>
<% end %>
