<%= render 'primary_navigation'  %>
<%= render 'consumer_navigation' %>
<%= render 'notifications' %>

<% unless params[:notify]  %>
	<div id="registration_optional" class="alert alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
	    <h4 class="alert-heading">Registration</h4>
	    <span>Paykido works with the biggest payment service providers in the world so your data is secured.</span>
	    <span>Paykido <strong>doesn't </strong>store your credit card data. </span>
	</div>
<% end %>

<section id="maincontainer">

	<%= render 'page_head' %>
	
	
	<div class="row">
		<div class="span6">

			<div class="hero-unit" id="why_register">
				<h1>Why Register</h1>
				<p>Paykido doesnt require your credit card. But there are plenty of benefits for you as soon as you provide it.</p>				
				<div class="features">
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Set your policy (or let us offer you one)</span>
					</p>
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Automatically block bad purchases</span>
					</p>
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Have Paykido pay for complying ones</span>
				 	</p>
			 	</div>
			</div>
		 	
		</div>

		<div class="span3 well registration_form">
			<%= render 'form' %>
		</div>

	</div>
	<div class="row registration_marketial">
		<div class="span6">
			<h3>How secure is Paykido</h3>
			<p>Paykido has partnered with leading payment service providers to provide you with the utmost security and safety. </p>
		</div>
		<div class="span4">
			<h3>Why do you need my credit card</h3>
			<p>To pay for complying purchases. We dont keep any credit card detail. It's the payment service providers that do.</p>
		</div>
	</div>


</section>