<% unless (params[:notify] and !(params[:notify] == 'confirmation' and params[:status] == 'success')) %>
	<div id="registration_optional" class="alert alert-block alert-info">
		<a class="close" data-dismiss="alert" href="#">×</a>
	    <h4 class="alert-heading">Registration is not manadatory!</h4>
	    <span>Paykido doesn't need your credit card to operate. </span>
	    <span>Once in the payment page, <strong>only you and the merchant know </strong>what credit card you're using. </span>
	    <span>But as soon as you're ready to submit your card details - this is when we can offer you all the protection - and your kids all the fun!</span>
	</div>
<% end %>

<%= render 'primary_navigation'  %>
<%= render 'setting_navigation' %>
<%= render 'notifications' %>

<section id="maincontainer">

	<%= render :partial => 'page_head', :locals => {:title => ""} %>
	
	
	<div class="row">
		<div class="span6">

			<div class="hero-unit" id="why_register">
				<h1>Why Register</h1>
				<p>Paykido doesnt require your credit card. But there are plenty of benefits for you as soon as you provide it.</p>				
				<div class="features">
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Set your policy (or let us offer you one)</span>
					</p>
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Automatically block bad purchases</span>
					</p>
					<p class="feature">
						<i class="bigicon-plus-in-a-circle"></i>
						<span class="feature_text">Have Paykido pay for complying ones</span>
				 	</p>
			 	</div>
			</div>
		 	
		</div>

		<div class="span3 well registration_form">
			<%= render 'form' %>
		</div>

	</div>
	<div class=row>
		<div class="span6">
			<h3>How secure is Paykido</h3>
			<p>Paykido has partnered with leading payment service providers to provide you with the utmost security and safety. </p>
		</div>
		<div class="span4">
			<h3>Why do you need my credit card</h3>
			<p>To pay for purchases that comply with your rules. We dont keep its details though. It's the payment service providers that do.</p>
		</div>
	</div>


</section>
