<%= render 'primary_navigation'  %>
<%= render 'setting_navigation' %>

<section id="maincontainer">

	<%= render 'page_head' %>

	<table>
		<tbody>
			  <tr>
			    <td>Card Number</td>
			    <td><%= @token.cardNumber %></td>
			  </tr>
			<% @token.attributes.each do |name, value| %>
			  <% next if ['id', 'payer_id', 'cardNumber', 'CCToken'].include? name or !value %>
			  <tr>
			    <td><%= name %></td>
			    <td><%= value %></td>
			  </tr>
			<% end %>
			  <tr>
			    <td>Token</td>
			    <td><%= @token.CCToken %></td>
			  </tr>
		</tbody>
	</table>
	
	<br />

</section>

<%= render 'notifications' %>