<p>
  <b>Name:</b>
  <%=h @retailer.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @retailer.category_id %>
</p>

<p>
  <b>Collected:</b>
  <%=h @retailer.collected %>
</p>

<p>
  <b>Billed:</b>
  <%=h @retailer.billed %>
</p>


<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>