<%= image_tag("arca_with_tagline.png" ) %>
<div id="payment_window">
	
	<div id="message">
	</div>
	<div id="product_selection">
		<% form_remote_tag(:url => { :action => :select_product },:update => "message") do %>
				<%= select_tag(:id, options_for_select(@products, params[:id]))  %>
				<%= submit_tag 'Click to select'%>
		<% end %>		
	</div>	
	<div id="input">
		<% remote_form_for :consumer,
			:url => { :action => :authorize },
			:update => "message" do |form| %>
			<div id="step">
				<div id="step_title">
					<%= form.label :billing_phone, "Step 1 - Fill-in your mobile phone number"%>
				</div>
				<div id="step_input">
				<span id="input_field">
					<%= form.text_field :billing_phone, :size => 20, :maxlength =>10 %>
				</span>
				<span id="submit_button">
					<%= submit_tag 'Click when done'%>
				</span>	
				</div>
			</div>
		<% end %>
	
		<% form_remote_tag(:url => {:action => :authenticate},:update => "message") do %>
			<div id="step">
				<div id="step_title">
					<label for="pin">Step 2 - Fill-in PIN code or use your own</label>
				</div>
				<div id="step_input">
				<span id="input_field">
					<%= password_field_tag :pin, params[:pin] %>
				</span>
				<span id="submit_button">
					<%= submit_tag "Click when done" %>
				</span>	
				</div>
			</div>
		<% end %>
	</div>

	
<!--	<%= periodically_call_remote :url => {:action => "check_status"}, 
		:update => "message",										
		:condition => "$('hidden_line').innerHTML !== 'start'" ,	
		:frequency => 10 %>												-->
		


	<a href="/service/joinin" id="link_to_how" >shalom</a>
</div>

