<div id="window_content">

	<div id="logo">
		<%= image_tag "/images/arca_logo.png", :id=>"logoimg",:border => 0 %>
	</div>	
		
	<div id="welcome_message" class="text">
		<span>
		    <span id="welcomeline" class="text">
		    	<span><%= @salutation %></span>
				<span class="user"><%= @name %></span>
			</span>
	  	</span>
		<span id="login_button" class="text right">
			<fb:login-button perms="offline_access" 
							 registration-url="http://localhost/consumer/register"
							 onlogin="$.ajax({url: 'http://localhost/consumer/login_callback'});"
							 autologoutlink="true"
							 V="2" />
		</span>
 	</div>

	<div id="pic-n-msg">
	<div id="pic">
		<% if @pic %>
			<%= image_tag @pic %>
		<% end %>
	</div>

   	<div id="ajax_message">
		<p id="first_line" class="text"><%= @first_line %></p>
		<p id="second_line" class="text"><%= @second_line %></p>		
	</div>
	</div>
	
	<div id="buy" class="box">
		<% form_for :consumer, :url => {:action => :buy}, :html => {:id => "buy_form"} do |f| %>
			<p><%= submit_tag "1-click to buy",:class => "fg-button ui-state-default loginbutton ui-corner-all" %></p>
		<% end %>
	</div>
		
	<div id="like" class="box">
		<fb:like href="www.go-arca.com" show_faces="true" width="322" font=""></fb:like>
	</div>
</div>

