<div id="window_content">

	<div id="logo">
		<%= image_tag "/images/arca_logo.png", :id=>"logoimg",:border => 0 %>
	</div>	
		
	<div id="welcome_message" class="text">
		<div id="welcomeline" class="text">
			<span id="salutation"><%= @salutation %></span>
			<span id="name"><%= @name %></span>
		</div>
		<div id="login_button" class="text">
			<fb:login-button perms="offline_access" 
							 registration-url="#registration"
							 onlogin="$.ajax({url: 'http://localhost/consumer/login_callback?sn=ACME&userid=131827&amount=6.99&amountdesc=310%20Farm%20Cash&hash=df659d502af5151a2edd18e2ebb50ba3&xdurl=http:%2F%2Flocalhost%2Fxd.html'});"
							 autologoutlink="true"
							 V="2" />
		</div>
 	</div>

	<div id="sign">
		<%= image_tag "/images/no_entry1.png", :id=>"stop" , :style=>"display:none"%>
		<%= image_tag "/images/go.png", :id=>"go" , :style=>"display:none"%>		
	</div>

   	<div id="ajax_message">
		<p id="first_line" class="text"><%= @first_line %></p>
		<p id="second_line" class="text"><%= @second_line %></p>		
	</div>
	
	<div id="buy" class="box">
		<% form_for :consumer, :url => {:action => :buy}, :html => {:id => "buy_form"} do |f| %>
			<%= submit_tag "1-click to buy", :id=> "buy_button", :class => "fg-button ui-state-default loginbutton ui-corner-all" %>
		<% end %>
	</div>
		
	<div id="pic-n-like">
	<div id="pic">
		<% if @pic %>
			<%= image_tag @pic %>
		<% end %>
	</div>
	<div id="like" class="box">
		<fb:like href="www.go-arca.com" show_faces="true" width="300" font=""></fb:like>
	</div>
	</div>

</div>
		
<div id="registration" style="display: none;">
	<fb:registration  fb_only="true" width="300" fields="[
		{'name':'name'},
		{'name':'email'},
		{'name':'password',   'view':'not_prefilled'},
		{'name':'birthday'},
		{'name':'message',    'description':'Message To My Parents',  	'type':'text'},
		{'name':'consumer_phone',      'description':'My Mobile Phone',             'type':'text'},
		{'name':'payer_phone',      'description':'My Parent Mobile Phone',             'type':'text'},
		{'name':'payer_email',      'description':'My Parent Email Address',             'type':'text'}
	]" redirect-uri="http://localhost/consumer/register_callback/"></fb:registration>
</div>

<script type="text/javascript">

$(document).ready(function (){ 



	$('#login_button').click(function() {
		if ($('.fb_button_text').html() == 'Register') {
			$('#registration').attr('style', 'display:block');			
		}
	})
	
})

</script>