<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Pay with Paykido</h3>
</div>

<div class="modal-body">

	<div id="logo">
		<%= image_tag "yellowshirt_kid.png" %>
	</div>
	
	<div class="line clearfix" id="salutation_and_pic_or_login">
		<span id="salutation" class="text"></span>		
		<span id="pic">
			<%= image_tag "face_placeholder_small.png", :id => 'profile_picture', :style => 'display: none' %>
		</span>
		<span id="login_button" class="text">
			<fb:login-button></fb:login-button>
 		</span>
	</div>

	<div class="line" id="instruction_or_product">
		<p id="iop1" class="text"></p>	
		<p id="iop2" class="text"></p>	
	</div>

<!-- <div class="title text line">Join your friends</div>  -->

	<div class="line" id="invite">
		<span class="text">

		    Spread the word to your friends and earn points.
		</span>
	</div>

	<div id="facepile">
		<fb:facepile app_id="<%= Paykido::Application.config.app_id %>"  max_rows="2" width="300"></fb:facepile>
	</div>

	<div id="loadingZone"></div>
</div>
		
<div class="modal-footer">
	<%= form_for :consumer, :url => {:action => :buy, 
									 :merchant 	=> params[:merchant],
									 :app       => params[:app],
									 :product	=> params[:product],
									 :app 		=> params[:app],
									 :amount   	=> params[:amount],
									 :currency 	=> params[:currency],
									 :userid   	=> params[:userid],
									 :mode      => params[:mode],
									 :PP_TransactionID => params[:PP_TransactionID],
									 :hash		=> params[:hash],
									 :referrer	=> params[:referrer] 
									 }, :html => {:id => "buy_form"} do |f| %>
		<%= submit_tag "Pay with Paykido", :class => "buy btn btn-primary", :id => "buy_button" %>
	<% end %>

	<a href="#" class="btn" data-dismiss="modal">Close</a>

</div>

<div>
	
	<div id="registration" style="display: none;">
		<p id="register_headline" class="text">Join Paykido and buy with one click</p>
		<fb:registration  
			width="292" 
			fb_register="true"
			redirect-uri="<%= request.protocol + request.host + ':' + request.port.to_s %>/consumer/register_callback?referrer=<%= params[:referrer] %>"  
			fields='[
				{ "name":"name"},
				{ "name":"consumer_phone",  "description":"Your own mobile # (e.g., 2131234567)",  		"type":"text"},
				{ "name":"payer_name",     "description":"Your parent name",  "type":"text"},
				{ "name":"payer_phone",     "description":"Your parent mobile # (e.g., 2131234567)",  "type":"text"},
				{ "name":"payer_email",     "description":"Your parent email address",    			"type":"text"},
			]' 
			>
		</fb:registration>
	</div>
	
</div>