<div id="window_content" class="clearfix">
	<div class="fl left">
		<div id="logo">
			<%= image_tag "/images/arca_logo.png", :id=>"logoimg",:border => 0 %>
		</div>	
			
		<div id="welcome_message" class="text">
			<div id="welcomeline" class="text">
				<span id="salutation"><%= @salutation %></span>
				<span id="name"><%= @name %></span>
			</div>
			<div id="login_button" class="text">
				<fb:login-button perms="offline_access" 
								 registration-url="#registration"
								 onlogin="$.ajax({url: 'http://<%= request.host + ':' + request.port.to_s %>/consumer/login_callback'});"
								 autologoutlink="true"
								 V="2" />
	 		</div>
		</div>
	   	<div id="ajax_message">
			<p id="first_line" class="text"><%= @first_line %><span id="action"></span></p>
			<p id="second_line" class="text"><%= @second_line %></p>		
		</div>
		
		<div id="buy" class="box">
			<%= form_for :consumer, :url => {:action => :buy}, :html => {:id => "buy_form"} do |f| %>
				<%= submit_tag "Click to Buy", :id=> "buy_button", :class => "fg-button ui-state-default loginbutton ui-very-rounded-corners" %>
			<% end %>
			<div id="status_line">
				<span class="status_icon"></span>
				<span class="status_text"></span>
			</div>
		</div>
			
		<div id="pic">
			<% if @pic %>
				<%= image_tag @pic %>
			<% end %>
		</div>
	</div>
	<div class="fr right">
		<div id="like" class="box">
			<fb:like-box href="http://www.facebook.com/pages/Paykido/175298209224744" width="292" height="500" show_faces="true" stream="true" header="true"></fb:like-box>
		</div>
	</div>
</div>

</div>
		
<div id="registration" style="display: none;">
	<fb:registration  
		width="292" 
		fb_register="true"
		redirect-uri="http://<%= request.host + ':' + request.port.to_s %>/consumer/register_callback"  
		fields='[
			{ "name":"name"},
			{"name":"birthday"},
			{ "name":"consumer_phone",  "description":"Your own mobile # (e.g., 2131234567)",  		"type":"text"},
			{ "name":"payer_name",     "description":"Your parent name",  "type":"text"},
			{ "name":"payer_phone",     "description":"Your parent mobile # (e.g., 2131234567)",  "type":"text"},
			{ "name":"payer_email",     "description":"Your parent email address",    			"type":"text"},
		]' 
		onvalidate="validate_async">
	</fb:registration>
</div>
<script>
// FACEBOOK BUG - ERROR MESSAGE NOT RENDERED WHEN WIDGET WIDTH < 520
// Otherwise payer's email should be checked for uniqueness
// There should actually be a different way to warn for this, since a window should appear
// Facebook (when working) will not let it
/*
function validate_async(form, cb) {
  $.getJSON('http://graph.facebook.com/' + form.payer_email + '?callback=?', 
    function(response) {
      if (response.error) {
        // Username isn't taken, let the form submit
        cb({payer_email: 'That username is taken'});
      }
      cb({payer_email: 'That username is taken'});
  });
}
*/
</script>
<script type="text/javascript">

	<% unless @consumer %>
		$('#buy_button').addClass("ui-state-hover").blur();
	<% end %>

$(document).ready(function (){ 

	$('#login_button').click(function() {
		if ($('.fb_button_text').html() == 'Register') {
			$('#registration').attr('style', 'display:block');			
		}
	});
	
	FB.XFBML.parse(); 

});

</script>