<div class="hm_container" id="section4">
  
	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Teens</h1>
    	</div>	
		<div class="grid_4">
		<p><%= debug(@response) %>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Fun and games</h1>
				<h2>Get what you want - when you want it.</h2>
				<h2>No cards to buy, surveys to do, offers to take.</h2>
				<h2>Buy with a click, no parents around.</h2>
				<p><%= link_to "Tell me more", "#" %></p>
			</div>
 		</div>

		<div class="grid_4 home_image">
  			<img id="game" src="/home/img/for_kids.jpg" /> 
		</div>
	</div>	

</div>


<script>

    var pass_data = {
        'status':       '<%= @response[:status] %>',
        'property':     '<%= @response[:property] %>',
        'value':        '<%= @response[:value] %>',
        'type':       	'<%= @response[:type] %>',
        'message':   	'<%= @response[:message] %>',
        'orderid':   	'<%= @response[:orderid] %>',
        'purchase_id':  '<%= @response[:purchase_id] %>',
        'checksum':   	'<%= @response[:checksum] %>'
    };
    window.parent.postMessage(JSON.stringify(pass_data), "*");

</script>
