
<% form_for :category, :url => {:action => :add_category} do  |f| %>

	<p>Insert a Category</p>
	<p>Name: <%= f.text_field :name %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

<% form_for :retailer, :url => {:action => :add_retailer} do  |f| %>

	<p>Insert a Retailer</p>
	<p>Name: <%= f.text_field :name %></p>
	<p>Logo: <%= f.text_field :logo %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

<% form_for :product, :url => {:action => :add_product} do  |f| %>

	<p>Insert a Product</p>
	<p>Category id: <%= f.text_field :category_id %></p>
	<p>Title: <%= f.text_field :title %></p>
	<p>Price: <%= f.text_field :price %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

<% form_for :item, :url => {:action => :add_item} do  |f| %>

	<p>Insert an Item</p>
	<p>Retailer id: <%= f.text_field :retailer_id %></p>
	<p>Product id: <%= f.text_field :product_id %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

<% form_for :current, :url => {:action => :set_policy} do |f| %>

	<p><%= f.check_box(:check_pendings) %> Check Pendings</p>
	<p><%= f.check_box(:send_sms) %>       Send SMS</p>  
	<p><%= f.check_box(:online) %>         Online</p>
	<p><%= submit_tag %></p>

<% end %>


<br /><br /><br /><br />
<% form_for :consumer, :url => {:action => :delete_consumer_by_id} do  |f| %>

	<p>Delete consumer and related purchases by consumer id</p>
	<p>Consumer id: <%= f.text_field :id %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

<% form_for :consumer, :url => {:action => :delete_consumer} do  |f| %>

	<p>Delete consumer and related purchases by phone number</p>
	<p>Phone number: <%= f.text_field :billing_phone %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

<% form_for :purchase, :url => {:action => :populate_retailers} do  |f| %>

	<p>Populate different retailers</p>
	<p>payer id: <%= f.text_field :payer_id %></p>
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />
<% form_for :purchase, :url => {:action => :update_purchase_dates} do  |f| %>

	<p>Change all purchases of selected payer id to selected month</p>
	<p>payer id: <%= f.text_field :payer_id %></p>
	<p>month   : <%= f.text_field :month %></p>	
	<p><%= submit_tag %></p>

<% end %>

<br /><br /><br /><br />

 <%= button_to "Populate locations", :action => 'locations' %>
 
 
<br /><br /><br /><br /><br />
 <%= button_to "Populate consumers", :action => 'consumers' %>
 
 <br /><br /><br /><br /><br />
 <%= button_to "Copy payer_id", :action => 'copy_payer_id' %>
 
<br /><br /><br /><br /><br />
 <%= button_to "update_consumer_payer_rules", :action => 'update_consumer_payer_rules' %>
 
<br /><br /><br /><br /><br />
