<h1>Listing billings</h1>

<table>
  <tr>
    <th>Method</th>
  </tr>

<% @billings.each do |billing| %>
  <tr>
    <td><%=h billing.method %></td>
    <td><%= link_to 'Show', billing %></td>
    <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
    <td><%= link_to 'Destroy', billing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New billing', new_billing_path %>