
	<p class="inner_content_title">Who would you like to take care for?</p>

	<img id='chartdiv' class="engrave"/>
	<br /><br /><br /><br />
	<% form_for :consumer_rule, :url => { :action => :budget_update } do |f| %>
	  	<%= f.error_messages %>
	
	    <span class="long item">Monthly Allowance:</span>
		<span class="value"><%= f.text_field(:edited_budget, :onchange => "drawChart();modifyBudget()", :id => "budget", :size => 10) %></span>
	    <div class="long item" id="budget_slider" onclick="modifyBudget()"></div>
		<br />
	    <span class="long item">Current Balance:</span>
		<span class="green_value"><%= text_field(:consumer, :edited_balance, :onchange => "drawChart();modifyBalance()", :id => "balance", :class => "dollar_amount", :size => 10) %></span>
	    <div id="balance_slider" onclick="modifyBalance()"></div>

		<span class="item">Rollover to next month:</span>
		<span id="radio">
			<%= f.radio_button (:rollover_human, 'On') %><label for="consumer_rule_rollover_human_on">On</label>
			<%= f.radio_button (:rollover_human, 'Off') %><label for="consumer_rule_rollover_human_off">Off</label>
		</span>

	
		<div>
		   <%= submit_tag "Submit", :class => "fg-button ui-state-default loginbutton ui-corner-all" %>	
		</div>
	
	<% end %>



