$('#categories .left_content').html(
	'<p class="inner_content_title">Which categories do you approve?</p>'+
	'<p class="content-name-left"><%= @category.name %></p>'+
	'<%= if @category.logo? then image_tag(@category.logo, :class => "portlet-content-logo-left") end %>'+		
	'<p>'+
		'<span class=item>Monthly purchase count:</span>'+			
		'<span class=content-value><%= @category.purchase_count %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Monthly purchase total:</span>'+			
		'<span class=content-value><%= number_to_currency(@category.total_amount) %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Last purchase made:</span>'+			
		'<span class=content-value><%= @category.most_recent.to_date.strftime("%B %d, %Y") %></span>' +
	'</p>'+
	'<p>Show me all of <%= @category.name %> purchases</p>'+
		'<% if    @category.status == "whitelisted" %>'+
			'<%= image_tag "/images/fb_like_lit_small.png", :id => "category_like_lit_#{@category.id}", :class => "category like" %>'+
		'<% else %>'+
			'<%= image_tag "/images/fb_like_small.png", :id => "category_like_unlit_#{@category.id}",  :class => "category like" %>'+
		'<% end %>'+
	'</span>'+	
	'<span class="icon">'+
		'<% if    @category.status == "blacklisted" %>'+
			'<%= image_tag "/images/fb_dont_lit_small.png", :id => "category_dislike_lit_#{@category.id}",  :class => "category like dislike" %>'+
		'<% else %>'+
			'<%= image_tag "/images/fb_dont_small.png", :id => "category_dislike_unlit_#{@category.id}",  :class => "category like dislike" %>'+
		'<% end %>'+
	'</span>'
);	

	function CategorylikeToggleSrc(id) {

		var input = id.split('_');
		var entity_type = input[0];
		var clicked_button = input[1];
		var status = input[2];
		var entity_id = input[3];
		
		
		if (clicked_button == "like") {
			button_selector = 			"#"+id;
			lit_image =  				"/images/fb_like_lit_small.png";
			unlit_image = 				"/images/fb_like_small.png";
			other_button  = 			"dislike";
			other_button_lit_image = 	"/images/fb_dont_lit_small.png";
			other_button_unlit_image = 	"/images/fb_dont_small.png";
		} 
		else {
			button_selector = 			"#"+id;
			lit_image = 				"/images/fb_dont_lit_small.png";
			unlit_image = 				"/images/fb_dont_small.png";
			other_button = 				"like";
			other_button_lit_image = 	"/images/fb_like_lit_small.png";
			other_button_unlit_image = 	"/images/fb_like_small.png";
		}
		
		if ($('#category_' + other_button + '_lit_' + entity_id).length) {
			other_button_selector = '#category_' + other_button + '_lit_' + entity_id;
		}
		else {
			other_button_selector = '#category_' + other_button + '_unlit_' + entity_id;			
		}
		
		
		if (status == "lit") {
			$(button_selector).attr('src', unlit_image);
			$(button_selector).attr('id', "category_" + clicked_button + "_unlit_" + entity_id);
		}
		else {
			$(button_selector).attr('src', lit_image);
			$(other_button_selector).attr('src', other_button_unlit_image);
			$(button_selector).attr('id', "category_" + clicked_button + "_lit_" + entity_id);
			$(other_button_selector).attr('id', "category_" + other_button + "_unlit_" + entity_id);
		}
		
		if (clicked_button == 'like' && status == 'unlit') {
			return 'whitelisted';
		}
		else if (clicked_button == 'dislike' && status == 'unlit') {
			return 'blacklisted';
		}
		else {
			return '';
		}
	};
	

	$(".category.like").click(function() {
		selector_id = $(this).attr("id");
		category_id = selector_id.split('_')[3];
		new_status = CategorylikeToggleSrc(selector_id);
		$.ajax({
			url: 'clist_update/' + category_id + '?new_status=' + new_status,
			success: function(data){
				
			}
		})

	});
	

