<% if @consumers.empty? %>

	$('.consumers_list').append(	
		'<%= image_tag "/images/thanks_for_joining5.png", :class => "righthandside_marketial" %>');
		
	$(function() {
		$('#tabs').tabs("option","disabled", [1, 2, 3, 4, 5]);
	});
		
<% elsif @consumer_added %>

	$('#cheerful_message').fadeOut(1200);
	<% rem = @consumers.size % 2 %>
	<% if rem == 1 %>
			$('#consumer_form .column1').prepend(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer_added.id %>">'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
					'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag "face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent nothing this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp #{number_to_currency(@consumer_added.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
	
	<% else %>
			$('#consumer_form .column2').prepend(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer_added.id %>">'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
					'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag "face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent nothing this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp  #{number_to_currency(@consumer_added.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');	
	<% end %>
	
	consumer_info(<%= @consumer_added.id %>);
	setTabHeight(<%= @consumers.size %>, 0);
	
<% else %>
	$('.consumers_list').append(	
		'<p class="inner_content_title" id="consumers">My Community</p>' +
		'<% form_for :consumers, :url => { :action => :consumer_update }, :html => {:id => "consumer_form"}  do |f| %>'+
		'<div class="column1 sortable ui-sortable" ></div>' +
		'<div class="column2 sortable ui-sortable" ></div>' +
		'<%= image_tag 'circle.png', :id => "circle" %>');
			
	<% i = 1 %>

	<% for @consumer in @consumers %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('#consumer_form .column1').append(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer.id %>">'+
							'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
					'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag "face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent&nbsp;<%= (@consumer.sum_amount.blank?) ?"nothing" :number_to_currency(@consumer.sum_amount) %>&nbsp;this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp  #{number_to_currency(@consumer.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('#consumer_form .column2').append(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+ 
					'<div class="consumer portlet-header ui-widget-header ui-corner-all" id="consumer_<%= @consumer.id %>">'+
						'<%= text_field("consumer[]", 'name', :onchange => "rename_consumer(#{@consumer.id}, $(this).val())") %>'+
			    	'</div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag "face_placeholder_small.png", :class => "face-placeholder" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p class="consumer-info">Spent&nbsp;<%= (@consumer.sum_amount.blank?) ?"nothing" :number_to_currency(@consumer.sum_amount) %>&nbsp;this month</p>'+
							'<p class="consumer-info"><%= "Monthly balance:&nbsp  #{number_to_currency(@consumer.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>
	$('.consumers_list').append('<% end %>');

	consumer_info(<%= @consumers[0].id %>);
	
<% end %>
	

	$('.consumer.portlet-header').click(function () { 
		
		consumer_info($(this).attr('id').split('_')[1]);
		
	 });
	 
	$("input[value='']").val("(name here)");	
