	<% i = 1 %>
	<% for consumer in @consumers %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('.column1').append(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="portlet-header ui-widget-header ui-corner-all" id=<%=consumer.id%>><%= escape_javascript((consumer.name.blank?)?'(Please define name)':consumer.name) %></div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag "face_placeholder_small.png" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p><%= "Spent #{number_to_currency(consumer.sum_amount)} in #{Time.now.strftime('%B')}" %></p>'+
							'<p><%= "Current Balance #{number_to_currency(consumer.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('.column2').append(
				'<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">'+
					'<div class="portlet-header ui-widget-header ui-corner-all" id=<%=consumer.id%>><%= escape_javascript((consumer.name.blank?)?'(Please define name)':consumer.name) %></div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag "face_placeholder_small.png" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p><%= "Spent #{number_to_currency(consumer.sum_amount)} in #{Time.now.strftime('%B')}" %></p>'+
							'<p><%= "Current Balance #{number_to_currency(consumer.balance)}" %></p>'+		
						'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>
	
	$('.allowance .portlet-header').click(function () { 
	  $('.portlet-header').removeClass('ui-widget-header-lightness');
	  $(this).addClass('ui-widget-header-lightness');
       viewAllowance($(this).attr('id'));
    });


	
