<%= image_tag "/images/landing1.png", :id => "landing1" %>
<%= image_tag "/images/landing2.png", :id => "landing2" %>
<% if params[:name] and params[:invited_by] %>
	<p class="invitation_msg" id="second"><%= "Hi #{params[:name]}" %>
	<p class="invitation_msg" id="third"><%= "#{params[:invited_by]} wants you to know Paykido" %></p>
<% end %>
<%= button_to "Tell me more", {:action => :registration}, :class => "fg-button ui-state-default loginbutton ui-very-rounded-corners", :id => "tell_me_more" %>

