<div class=".ui-dialog">
<% form_for(:retailer, :url => { :action => :create_retailer }, :html => {:id => "new_retailer"}) do |f| %>
	<%= f.error_messages %>
	<%= error_messages_for :retailer %>

   	<%= f.text_field :name, :placeholder => "Merchant's name" %>
   	<%= f.text_field :user, :placeholder => "Select a user name" %>
   	<%= f.password_field :password, :placeholder => "Select a password" %>
	<%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>

	<%= submit_tag "Join in" %>
<% end %>
</div>
