<script type="text/javascript">
	

	function modifyBudget (verb) {
			var budget_with_currency = document.getElementById("budget").value;
			var budget_save = budget_with_currency
			var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
		
		$(function () {
			$("#budget_slider").slider({
				value: budget,
				min: 0,
				max: 150,
				slide: function(event, ui) {
					$("#budget").val('$' + ui.value +'.00');
				}
				
			});
			$("#budget").val('$' + $("#budget_slider").slider("value") + '.00');

		});

		$(function () {
			$("#budget_slider").slider({
				change: function(event, ui){
					if (verb == "post") {
						drawChart();
					}
				}
				
			});
		});

		if (verb == "post") {
			$('#allowance_form').submit();
		}

	}	

	
	
	function modifyBalance (verb) {
		
		$(function () {
			var budget_with_currency = document.getElementById("budget").value;
			var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
			var balance_with_currency = document.getElementById("balance").value;
			var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g,""));
			$("#balance_slider").slider({
				value: balance,
				min: 0,
				max: 150,
				slide: function(event, ui) {
					$("#balance").val('$' + ui.value +'.00');
				}
			});
			$("#balance").val('$' + $("#balance_slider").slider("value")+'.00');
		});


		$(function () {
			$("#balance_slider").slider({
				change: function(event, ui) {
					if (verb == "post") {
						drawChart();
					}
				}	
				
			});
		});

		if (verb == "post") {
			$('#allowance_form').submit()
		}


	}	

	function drawChart(){

		var budget_with_currency = document.getElementById("budget").value;
		var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g, ""));
		var balance_with_currency = document.getElementById("balance").value;
		var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g, ""));
		if (balance > budget) {
			balance = budget;
			document.getElementById("balance").value = '$' + budget + '.00';
			modifyBalance ();
		}
		var balance_position = (balance / budget) * 100;
		var tick = ((budget / 40).toFixed(1)) * 10;
		var background = "chf=c,lg,90,FFE7C6,0,76A4FB,0.5"
		var uri = "http://chart.apis.google.com/chart?cht=gom&chs=300x110&chf=bg,lg,90,FFFEE0,0,FFFFF5,0.75&chxt=y&chd=t:" + balance_position + "&chl=Balance&chxr=0,0," + budget + "," + tick;
		document.getElementById("chartdiv").src = uri;

	}

	
	function convertToCurrency(){
		document.getElementById("budget").value = '$' + document.getElementById("budget").value;
		document.getElementById("balance").value = '$' + document.getElementById("balance").value;
	}
		
	function modifyUnderOver(verb) {
		
		$(function () {
		
			under = document.getElementById("under").value;
			over = document.getElementById("over").value;
			if (under.charAt(0) == '$') {under = under.slice(1)}
			if (over.charAt(0) == '$') {over = over.slice(1)}
	
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 100,
				values: [under, over],
				slide: function(event, ui) {
					$("#under").val('$' + ui.values[0] + '.00');
					$("#over").val('$' + ui.values[1] + '.00');
					$("#under1").html(' $' + ui.values[0] + '.00 ');
					$("#over1").html(' $' + ui.values[1] + '.00 ');
				}
			});
	
			$("#under").val('$' + $("#slider-range").slider("values", 0) + '.00');
			$("#over").val('$' + $("#slider-range").slider("values", 1) + '.00');
			$("#under1").html(' $' + $("#slider-range").slider("values", 0) + '.00 ');
			$("#over1").html(' $' + $("#slider-range").slider("values", 1) + '.00 ');
			});

		if (verb == "post") {
			$('#amounts_form').submit();
		}

	}



	function viewConsumers(new_id){
		$.ajax({
			url: 'consumers/'+new_id})};



	function consumer_info(id) {

		var selector = "div[id = consumer_" + id.toString() + " ]";			
		$('.consumer.portlet-header').removeClass('ui-widget-header-lightness');
		$(selector).addClass('ui-widget-header-lightness');

		$.ajax({
		url: 'consumer/'+id,
			success: function(data){
				$(selector).addClass('ui-widget-header-lightness');
				drawChart();
				modifyBudget('get');
				modifyBalance('get');			
				modifyUnderOver('get');
				$(function() {$("#radio").buttonset();});
			}
		});
	};
	
	function viewRetailers(){
		$.ajax({
			url: 'retailers',
			success: function(data){
			}
		})
	};


	function viewProducts(){
		$.ajax({
			url: 'products',
			success: function(data){
			}
		})
	};

	function viewCategories(){
		$.ajax({
			url: 'categories',
			success: function(data){
			}
		})
	};
	

/*	Populate tabs by calling ajax  */

		viewConsumers (0);
		viewRetailers ();
		viewProducts ();
		viewCategories ();

</script>


<div id="tabs">
	<ul>
		<li><a href="#consumers">Consumers</a></li>
		<li><a href="#retailers">Retailers</a></li>
		<li><a href="#products">Products</a></li>
		<li><a href="#categories">Categories</a></li>
		<li><a href="#purchases">Purchases</a></li>
		<li><a href="#account">Contacts</a></li>
	</ul>


	<div id="consumers">
		<div id="consumers_tabs">
			<ul id="no_tabs_background1">
				<li><a href="#new" id="new_tab">New</a></li>
				<li><a href="#allowance" id ="allowance_tab">Allowance</a></li>
				<li><a href="#thresholds" id ="thresholds_tab">Thresholds</a></li>
				<li><a href="#info" id ="info_tab">Info</a></li>
			</ul>
			<div id="new" class="consumers_page">
				<div class="left_content">
					<p class="content-name-left" id="consumers">Consumer community set-up</p>		
					<div class="inner_content_text">Follow these two simple steps to get each member</div>
					<div class="inner_content_text">of your community up and running within seconds.</div>
					<p class="inner_content_text">Start by keying the consumer's phone number here:</p>
					<% form_for(:consumer, :url => {:action => "sms_consumer"}, :html => {:id => "phone_form"}) do |f| %>
						<%= f.text_field :billing_phone, :value => nil, :size => 20, :placeholder => "Phone number", :class => "formfield" %>
						<%= submit_tag "Click when done",:class => "fg-button ui-state-default loginbutton ui-corner-all"  %>
					<% end %>
					<p class="inner_content_text">Once you get the text message, key-in the PIN here:</p>  
					<% form_for(:consumer, :url => {:action => "check_pin_and_link_consumer"}, :html => {:id => "pin_form"}) do |f| %>
						<%= f.text_field :received_pin, :size => 20, :placeholder => "Received PIN", :class => "formfield"  %>
						<%= submit_tag "Click when done", :class => "fg-button ui-state-default loginbutton ui-corner-all"  %>
					<% end %>
				</div>
				<div class="middle_content">
					<%= image_tag @consumers[0].pic, :class => "consumer_pic"  if @consumers[0].pic  and FileTest.exists?(RAILS_ROOT + "/public/images/#{@consumer.pic}") %>
				</div>
				<div class="right_content consumers_list"></div>
			</div>
			<div id="allowance" class="consumers_page">
				<div class="left_content">
					<p class="content-name-left" id="consumer_name_allowance"></p>		
					<img id='chartdiv' class="engrave"/>
					<% form_for :payer_rule, :url => { :action => :consumer_rules_update }, :html => {:id => "allowance_form"} do |f| %>			
					    <span class="long item">Monthly Allowance:</span>
						<span class="value"><%= f.text_field(:edited_budget, :onchange => "modifyBudget('post')", :id => "budget", :size => 10) %></span>
					    <div class="long item" id="budget_slider" onclick="modifyBudget('post')"></div>
					    <span class="long item">Current Balance:</span>
						<span class="green_value"><%= text_field(:consumer, :edited_balance, :onchange => "modifyBalance('post')", :id => "balance", :class => "dollar_amount", :size => 10) %></span>
					    <div id="balance_slider" onclick="modifyBalance('post')"></div>
						<span class="item" id="balance_rollover">Balance rollover</span>
						<span id="rollover" class="buttonset">
							<%= f.radio_button("rollover_human", "On", :onchange => "$('#allowance_form').submit();") %><label for="payer_rule_rollover_human_on">On</label>
							<%= f.radio_button("rollover_human", "Off",:onchange => "$('#allowance_form').submit();")%><label for="payer_rule_rollover_human_off">Off</label>
						</span>			
					<% end %>
				</div>
				<div class="middle_content">
					<%= image_tag @consumers[0].pic, :class => "consumer_pic"  if @consumers[0].pic  and FileTest.exists?(RAILS_ROOT + "/public/images/#{@consumer.pic}") %>
				</div>
				<div class="right_content consumers_list"></div>
			</div>
			<div id="thresholds" class="consumers_page">
				<div class="left_content">
					<p class="content-name-left" id="consumer_name_approvals"></p>
					<div class="inner_content_text">What is low enough to be automatically approved?</div>
					<div class="inner_content_text">How high should it get to be automatically denied?</div>
					<div class="inner_content_text">Drag the handles to indicate both amounts.</div>
					<div id='slider-range' class="engrave" onclick="modifyUnderOver('post')"></div><br />
					<% form_for :payer_rule, :url => { :action => :consumer_rules_update }, :html => {:id => "amounts_form"} do |f| %>
						<p id="slider">
							<span class="rule">Approve anything under</span>
							<span><%= f.text_field(:edited_auto_authorize_under, :onchange => "modifyUnderOver('post')", :id => "under", :size => 10) %></span>
						</p>
						<p>
						    <span class="rule">Deny anything over</span>
							<span><%= f.text_field(:edited_auto_deny_over, :onchange => "modifyUnderOver('post')", :id => "over",  :size => 10) %></span>					
						</p>
					<% end %>
				</div>
				<div class="middle_content">
					<%= image_tag @consumers[0].pic, :class => "consumer_pic"  if @consumers[0].pic  and FileTest.exists?(RAILS_ROOT + "/public/images/#{@consumer.pic}") %>
				</div>
				<div class="right_content consumers_list"></div>
			</div>
			<div id="info" class="consumers_page">
				<div class="left_content">
					<p class="content-name-left" id="consumer_info"></p><br />
					<% form_for :consumer, :url => {:action => :consumer_info_update}, :html => {:id => "consumer_info_form"} do |f| %>			
						<p>
							<span class=item>Name:</span>			
							<span class=content-value id="consumer_info_name"><%= f.text_field(:name, :size => 15, :onchange => "consumer_rename_no_ajax($(this).val());$('#consumer_info_form').submit();") %></span> 
						</p>
						<p>
							<span class=item>Phone:</span>			
							<span class=content-value id="consumer_info_phone"><%= f.text_field :billing_phone, :onchange => "$('#consumer_info_form').submit();" %></span> 
						</p>
						<p>
							<span class=item>PIN:</span>			
							<span class=content-value id="consumer_info_pin"><%= f.password_field :pin, :size => 15, :onchange => "$('#consumer_info_form').submit();" %></span> 
						</p>
						<p>
							<span class=item>Picture</span>			
							<span class=content-value id="consumer_info_pic"><%= f.text_field :pic, :size => 15, :onchange => "$('#consumer_info_form').submit();"  %></span> 
						</p>
					<% end %>
				</div>				
				<div class="middle_content">
					<%= image_tag @consumers[0].pic, :class => "consumer_pic"  if @consumers[0].pic  and FileTest.exists?(RAILS_ROOT + "/public/images/#{@consumer.pic}") %>
				</div>
				<div class="right_content consumers_list"></div>
			</div>
		</div>
	</div>

	<div id="retailers">
		<div class="left_content"></div>
		<div class="right_content retailers_list"></div>
	</div>

	<div id="products">
		<div class="left_content"></div>
		<div class="right_content products_list"></div>
	</div>

	<div id="categories">
		<div class="left_content"></div>
		<div class="right_content categories_list"></div>
	</div>

	<div id="purchases">
		<table id="table">
			<thead>
				<tr>
					<th>Like</th>
					<th>Date</th>
					<th>Consumer</th>
					<th>Retailer</th>
					<th>Product</th>
					<th>Category</th>
					<th>Amount</th>
					<th>Authorized</th>
					<th>By</th>
					<th>Reason</th>
					<th>Authenticated</th>
					<th>By</th>
					<th>Dislike</th>
				</tr>				
			</thead>
			<tbody>
			</tbody>			
		</table>
		<div class="left_content"></div>
		<div class="right_content purchases_list">
			<form>
				<div id="period">
					<input type="radio" id="radio1" name="radio" checked="checked" /><label for="radio1">Pending</label>
					<input type="radio" id="radio2" name="radio" /><label for="radio2">Unauthorized</label>
					<input type="radio" id="radio3" name="radio" /><label for="radio3">Authorized</label>
					<input type="radio" id="radio4" name="radio" /><label for="radio4">Just show everything</label>
				</div>
		    </form>
			<div id="purchase_records"></div>
		</div>
	</div>

	<div id="account">
		<div id="account_tabs">
			<ul id="no_tabs_background">
				<li><a href="#alerts" id="alerts_tab">Alerts</a></li>
				<li><a href="#other" id ="other_tab">Other</a></li>
			</ul>
			<div id="alerts">
				<div class="left_content">
					<p class="inner_content_title">Alerts & Reports</p>
					<% form_for :payer, :url => { :action => :payment_update }, :html => {:id => "phone_alert_form"} do |f| %>
						<div id="phone_alert_shade_area">
							<div class="inner_content_subtitle" id="extra_space2">Notify me</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/iPhone Dial.png", :id => "dial", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.select(:phone_events, Payer.phone_events,{}, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless" )%>
								</span>
							</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/iPhone Clock.png", :id => "clock", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.select(:phone_alert_frequency, Payer.phone_alert_frequency,{}, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless" )%>
								</span>
							</div><br />
							<div class="inner_content_subtitle" id="extra_space2">On</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/iPhone SMS 64.png", :id => "sms", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.text_field(:edited_phone, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless", :placeholder => "which phone to text?"  )%>
								</span>
							</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/Skype.png", :id => "sms", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.text_field(:skype, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless"  )%>
								</span>
							</div>
						</div>
						<div class="form_line">
							<span id="phone_alert" class="buttonset">
								<%= f.radio_button("phone_alert_human", "On", :onchange => "viewPhoneAlert('toggle');$('#phone_alert_form').submit();") %><label for="payer_phone_alert_human_on">On</label>
								<%= f.radio_button("phone_alert_human", "Off",:onchange => "viewPhoneAlert('toggle');$('#phone_alert_form').submit();") %><label for="payer_phone_alert_human_off">Off</label>
							</span>
						</div>
					<% end %>
				</div>
				<div class="right_content">
					<p class="inner_content_title">&nbsp;</p>
					<% form_for :payer, :url => { :action => :payment_update }, :html => {:id => "email_alert_form"} do |f| %>
						<div id="email_alert_shade_area">
							<div class="inner_content_subtitle" id="extra_space3">Inform about</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/iPhone Notes.png", :id => "report", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.select(:email_events, Payer.email_events,{}, :onchange => "$('#email_alert_form').submit();", :class => "value borderless" )%>
								</span>
							</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/iPhone Clock.png", :id => "clock", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.select(:email_alert_frequency, Payer.email_alert_frequency,{}, :onchange => "$('#email_alert_form').submit();", :class => "value borderless" )%>
								</span>
							</div><br />
							<div class="inner_content_subtitle" id="extra_space2">On</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/iPhone eMail 64.png", :id => "email", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.text_field(:email, :onchange => "$('#email_alert_form').submit();", :class => "value borderless"  )%>
								</span>
							</div>
							<div class="form_line">
								<span class="icon">
									<%= image_tag("/images/facebook.png", :id => "sms", :class => "communication", :border => "0")%>
								</span>
								<span class ="item_by_icon">
									<%= f.text_field(:facebook, :onchange => "$('#email_alert_form').submit();", :class => "value borderless"  )%>
								</span>
							</div>
						</div>
						<div class="form_line">
							<span id="email_alert" class="buttonset">
								<%= f.radio_button("email_alert_human", "On", :onchange => "viewEmailAlert('toggle');$('#email_alert_form').submit();") %><label for="payer_email_alert_human_on">On</label>
								<%= f.radio_button("email_alert_human", "Off",:onchange => "viewEmailAlert('toggle');$('#email_alert_form').submit();") %><label for="payer_email_alert_human_off">Off</label>
							</span>
						</div>
					<% end %>
				</div>
			</div>
			<div id="other">
				<% form_for :payer, :url => { :action => :payment_update }, :html => {:id => "other_form"} do |f| %>
					<%= f.text_field(:pin, :onchange => "$('#other_form').submit();", :class => "value borderless"  )%>
				<% end %>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">

	function viewPhoneAlert(phone_alert){

		$('#phone_alert_notice').remove(); 
		$('#phone_alert_form').after('<div id ="phone_alert_notice" class="field_notice small_note red" ><%= escape_javascript(flash.delete(:notice)) %></div>');
		$('#payer_edited_phone').val("<%= @payer.edited_phone %>");

		if (phone_alert == "toggle") {
			$('#phone_alert_shade_area').toggleClass("shaded");
		} 
		else {
			if (phone_alert) {
				$('#phone_alert_shade_area').removeClass("shaded");
			}
			else
			{
				$('#phone_alert_shade_area').addClass("shaded");
			}
		}
	};
	
	function viewEmailAlert(email_alert){

		$('#email_alert_notice').remove(); 
		$('#email_alert_form').after('<div id ="email_alert_notice" class="field_notice small_note red" ><%= escape_javascript(flash.delete(:notice)) %></div>');

		if (email_alert == "toggle") {
			$('#email_alert_shade_area').toggleClass("shaded");
		} 
		else {
			if (email_alert) {
				$('#email_alert_shade_area').removeClass("shaded");
			}
			else
			{
				$('#email_alert_shade_area').addClass("shaded");
			}
		}
	};
	
	function setTabHeight(max_records) {

		var top_padding = 190;
		var portlet_height = 120;
		var lines = Math.round((max_records)/2);
		var height = top_padding + (lines * portlet_height);
		
		if (height > 530) {
			$('#tabs').css('height', height);
		}
		
	};
	
	function rename_consumer(id, name) {
		input_name = "consumer[" + id + "][name]";
		selector = "input[name='" + input_name + "']";
		$(selector).val(name);
		$('#consumer_name_allowance').html(name + "\'s allowance");
		$('#consumer_name_approvals').html(name + "\'s approval policy");		
		$('#consumer_info').html(name + "\'s info");		
		$('#consumer_info_name input').val(name);		

			$.ajax({
				url: 'rename_consumer/' + id + '?name=' + name,
				success: function(data){
				
				}
			})

	};
	
	function consumer_rename_no_ajax(name) {
		$('#consumer_name_allowance').html(name + "\'s allowance");
		$('#consumer_name_approvals').html(name + "\'s approval policy");		
		$('#consumer_info').html(name + "\'s info");
		$('.ui-widget-header-lightness input').val(name);		
		
	};
	
	function viewPurchases(id, ent, period){
		if   (period == "Just show everything") 
			 {action = "purchases_all/"} 
		else {action = "purchases/"}; 
		$.ajax({
				url: action + period + '?ent=' + ent + '&ent_id=' + id,
				success: function(data){
				}})
		};
	
		
/*
	viewPurchases(null, null, "Pending");
*/
	viewPurchases(null, null, "Just show everything");
	viewPhoneAlert (<%= @payer.phone_alert %>);	
	viewEmailAlert (<%= @payer.email_alert %>);
	setTabHeight(<%= @max_records %>);



</script>