<script type="text/javascript">
	

	function modifyBudget (verb) {
			var budget_with_currency = document.getElementById("budget").value;
			var budget_save = budget_with_currency
			var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
		
		$(function () {
			$("#budget_slider").slider({
				value: budget,
				min: 0,
				max: 150,
				slide: function(event, ui) {
					$("#budget").val('$' + ui.value +'.00');
				}
				
			});
			$("#budget").val('$' + $("#budget_slider").slider("value") + '.00');

		});

		$(function () {
			$("#budget_slider").slider({
				change: function(event, ui) {
					drawChart();
			}
				
			});
		});

		if (verb == "post") {
			$('#allowance_form').submit();
		}

	}	

	
	
	function modifyBalance (verb) {
		
		$(function () {
			var budget_with_currency = document.getElementById("budget").value;
			var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g,""));
			var balance_with_currency = document.getElementById("balance").value;
			var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g,""));
			$("#balance_slider").slider({
				value: balance,
				min: 0,
				max: 150,
				slide: function(event, ui) {
					$("#balance").val('$' + ui.value +'.00');
				}
			});
			$("#balance").val('$' + $("#balance_slider").slider("value")+'.00');
		});


		$(function () {
			$("#balance_slider").slider({
				change: function(event, ui) {
					drawChart();
				}	
				
			});
		});

		if (verb == "post") {
			$('#allowance_form').submit();
		}


	}	

	function drawChart(){

		var budget_with_currency = document.getElementById("budget").value;
		var budget = Number(budget_with_currency.replace(/[^0-9\.]+/g, ""));
		var balance_with_currency = document.getElementById("balance").value;
		var balance = Number(balance_with_currency.replace(/[^0-9\.]+/g, ""));
		if (balance > budget) {
			balance = budget;
			document.getElementById("balance").value = '$' + budget + '.00';
			modifyBalance ();
		}
		var balance_position = (balance / budget) * 100;
		var tick = ((budget / 40).toFixed(1)) * 10;
		var background = "chf=c,lg,90,FFE7C6,0,76A4FB,0.5"
		var uri = "http://chart.apis.google.com/chart?cht=gom&chs=280x100&chf=bg,lg,90,FFFEE0,0,FFFFF5,0.75&chxt=y&chd=t:" + balance_position + "&chl=Balance&chxr=0,0," + budget + "," + tick;
		document.getElementById("chartdiv").src = uri;

	}

	
	function convertToCurrency(){
		document.getElementById("budget").value = '$' + document.getElementById("budget").value;
		document.getElementById("balance").value = '$' + document.getElementById("balance").value;
	}
		
	function modifyUnderOver(verb) {
		
		$(function () {
		
			under = document.getElementById("under").value;
			over = document.getElementById("over").value;
			if (under.charAt(0) == '$') {under = under.slice(1)}
			if (over.charAt(0) == '$') {over = over.slice(1)}
	
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 100,
				values: [under, over],
				slide: function(event, ui) {
					$("#under").val('$' + ui.values[0] + '.00');
					$("#over").val('$' + ui.values[1] + '.00');
					$("#under1").html(' $' + ui.values[0] + '.00 ');
					$("#over1").html(' $' + ui.values[1] + '.00 ');
				}
			});
	
			$("#under").val('$' + $("#slider-range").slider("values", 0) + '.00');
			$("#over").val('$' + $("#slider-range").slider("values", 1) + '.00');
			$("#under1").html(' $' + $("#slider-range").slider("values", 0) + '.00 ');
			$("#over1").html(' $' + $("#slider-range").slider("values", 1) + '.00 ');
			});

		if (verb == "post") {
			$('#amounts_form').submit();
		}

	}



	function viewConsumers(new_id){
		$.ajax({
			url: 'consumers/'+new_id})};


	function viewAllowance(consumer){
		$.ajax({
			url: 'allowance/'+consumer,
			success: function(data){
				drawChart();
				modifyBudget('get');
				modifyBalance('get');			
				$(function() {$("#radio").buttonset();
				});
		}
	})
	};

	function viewApprovals(consumer){
		$.ajax({
			url: 'approvals/'+consumer,
			success: function(data){
				modifyUnderOver('get');
			}
		})
	};


	function consumer_info(id) {

		var selector = "div[id = " + id.toString() + " ]"
			
		$('.portlet-header').removeClass('ui-widget-header-lightness');
		$(selector).addClass('ui-widget-header-lightness');
		viewAllowance(id);
		viewApprovals(id);
	}
	


	function retailer_info(id) {
		var selector = "div[id = " + id.toString() + " ]"
			
		$('.portlet-header').removeClass('ui-widget-header-lightness');
		$(selector).addClass('ui-widget-header-lightness');
		$.ajax({
			url: 'retailer/'+id,
			success: function(data){
			}
		})
	}

	function viewRetailers(){
		$.ajax({
			url: 'retailers',
			success: function(data){
			}
		})
	};



	function likeToggleSrc(id) {

		var input = id.split('_');
		var clicked_button = input[0];
		var status = input[1];
		var entity_id = input[2];
		
		
		if (clicked_button == "like") {
			button_selector = 			"#"+id;
			lit_image =  				"/images/fb_like_lit_small.png";
			unlit_image = 				"/images/fb_like_small.png";
			other_button  = 			"dislike";
			other_button_lit_image = 	"/images/fb_dont_lit_small.png";
			other_button_unlit_image = 	"/images/fb_dont_small.png";
		} 
		else {
			button_selector = 			"#"+id;
			lit_image = 				"/images/fb_dont_lit_small.png";
			unlit_image = 				"/images/fb_dont_small.png";
			other_button = 				"like";
			other_button_lit_image = 	"/images/fb_like_lit_small.png";
			other_button_unlit_image = 	"/images/fb_like_small.png";
		}
		
		if ($('#' + other_button + '_lit_' + entity_id).length) {
			other_button_selector = '#' + other_button + '_lit_' + entity_id;
		}
		else {
			other_button_selector = '#' + other_button + '_unlit_' + entity_id;			
		}
		
		
		if (status == "lit") {
			$(button_selector).attr('src', unlit_image);
			$(button_selector).attr('id', clicked_button + "_unlit_" + entity_id);
		}
		else {
			$(button_selector).attr('src', lit_image);
			$(other_button_selector).attr('src', other_button_unlit_image);
			$(button_selector).attr('id', clicked_button + "_lit_" + entity_id);
			$(other_button_selector).attr('id', other_button + "_unlit_" + entity_id);
		}
		
		if (clicked_button == 'like' && status == 'unlit') {
			return 'whitelisted';
		}
		else if (clicked_button == 'dislike' && status == 'unlit') {
			return 'blacklisted';
		}
		else {
			return '';
		}
	};

	$('.like').click(function() {
		selector_id = $(this).attr("id");
		retailer_id = selector_id.split('_')[2];
		new_status = likeToggleSrc(selector_id);
		$.ajax({
			url: 'rlist_update/' + retailer_id + '?new_status=' + new_status,
			success: function(data){
				
			}
		})

	});
	

/*	Populate tabs by calling ajax  */

		viewConsumers (0);
		viewRetailers ();

</script>


<div id="tabs">
	<ul>
		<li><a href="#consumers">Consumers</a></li>
		<li><a href="#allowance">Allowance</a></li>
		<li><a href="#approvals">Approvals</a></li>
		<li><a href="#alerts">Alerts</a></li>
		<li><a href="#retailers">Retailers</a></li>
		<li><a href="#inbox">Inbox</a></li>
		<li><a href="#purchases">Purchases!</a></li>
		<li><a href="#account">Account</a></li>
	</ul>


	<div id="consumers">
		<div class="left_content">
			<p class="inner_content_title">Who would you like to take care for</p>
			<div class="inner_content_text">Define here who gets a one-click shopping experience (provided your rules are met).</div>
			<div class="inner_content_text">To add a consumer, key-in his or her phone number and wait for the text message.</div>
			<br />
			<% form_for(:consumer, :url => {:action => "sms_consumer"}, :html => {:id => "phone_form"}) do |f| %>
				<%= f.text_field :billing_phone, :size => 20, :placeholder => "Phone number", :class => "formfield" %>
				<%= submit_tag "Click when done",:class => "fg-button ui-state-default loginbutton ui-corner-all"  %>
			<% end %>
			<br />
			<p class="inner_content_text">Once you got the text message, key-in the PIN code here:</p>  
			<% form_for(:consumer, :url => {:action => "check_pin_and_link_consumer"}, :html => {:id => "pin_form"}) do |f| %>
				<%= f.text_field :pin, :size => 20, :placeholder => "Received PIN", :class => "formfield"  %>
				<%= submit_tag "Click when done", :class => "fg-button ui-state-default loginbutton ui-corner-all"  %>
			<% end %>
		</div>
		<div class="right_content consumers_list"></div>
	</div>


	<div id="allowance">
		<div class="left_content" id="allowance_consumer">
			<p class="inner_content_title" id="consumer_name_allowance"></p>		
			<img id='chartdiv' class="engrave"/>
			<br /><br />
			<% form_for :payer_rule, :url => { :action => :consumer_rules_update }, :html => {:id => "allowance_form"} do |f| %>			
			    <span class="long item">Monthly Allowance:</span>
				<span class="value"><%= f.text_field(:edited_budget, :onchange => "modifyBudget('post')", :id => "budget", :size => 10) %></span>
			    <div class="long item" id="budget_slider" onclick="modifyBudget('post')"></div>
				<br />
			    <span class="long item">Current Balance:</span>
				<span class="green_value"><%= text_field(:consumer, :edited_balance, :onchange => "modifyBalance('post')", :id => "balance", :class => "dollar_amount", :size => 10) %></span>
			    <div id="balance_slider" onclick="modifyBalance('post')"></div>
				<br />
				<span class="item">Balance rollover</span>
				<span id="rollover" class="buttonset">
					<%= f.radio_button("rollover_human", "On", :onchange => "$('#allowance_form').submit();") %><label for="payer_rule_rollover_human_on">On</label>
					<%= f.radio_button("rollover_human", "Off",:onchange => "$('#allowance_form').submit();")%><label for="payer_rule_rollover_human_off">Off</label>
				</span>			
			<% end %>
		</div>
		<div class="right_content consumers_list"></div>
	</div>


	<div id="approvals">
		<div class="left_content" id="approvals_consumer">
			<p class="inner_content_title" id="consumer_name_approvals"></p>
			<div class="inner_content_subtitle">Automatic Authorization</div>		
			<div class="inner_content_text" id="extra_space1">When purchase othewise meets my rules</div>
			<% form_for :payer_rule, :url => { :action => :consumer_rules_update }, :html => {:id => "amounts_form"} do |f| %>
				<div>
				    <span class="rule">Approve if under</span>
					<span><%= f.text_field(:edited_auto_authorize_under, :onchange => "modifyUnderOver('post')", :id => "under", :size => 10) %></span>
					<br />					
				</div>			
			    <span class="rule">Deny if over</span>
				<span><%= f.text_field(:edited_auto_deny_over, :onchange => "modifyUnderOver('post')", :id => "over",  :size => 10) %></span>
				<br />
			<% end %>
			<div id='slider-range' class="engrave" onclick="modifyUnderOver('post')"></div>
			<div class="inner_content_subtitle" id="personal">Personal Authorization</div>		
			<div class="inner_content_text">When purchase amount is in between I'd</div>
			<div class="inner_content_text">rather get notified and approve it myself </div>				
			<a href="#" class="contact" onclick="$('#tabs').tabs('select', 'alerts');"><img src="<%= (@payer.phone_alert?) ?'/images/iPhone SMS 64.png' :'/images/iPhone SMS 64 bw.png' %>" border="0"></a> 
			<a href="#" class="contact" onclick="$('#tabs').tabs('select', 'alerts');"><img src="<%= (@payer.email_alert?) ?'/images/iPhone email 64.png' :'/images/iPhone email 64 bw.png' %>" border="0"></a> 
			<%= image_tag 'Skype 64 bw 1.png', :class => "contact" , :id => "skype" %>
			<%= image_tag 'aol aim bw.png', :class => "contact", :id => "aim"%>
		</div>
		<div class="right_content consumers_list"></div>
	</div>


	<div id="alerts">
		<div class="left_content">
			<p class="inner_content_title">Alerts & Reports</p><br />
			<% form_for :payer, :url => { :action => :payment_update }, :html => {:id => "phone_alert_form"} do |f| %>
				<div id="phone_alert_shade_area">
					<div class="inner_content_subtitle" id="extra_space2">Notify me</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="dial" src="/images/iPhone Dial.png" border="0">
						</span>
						<span class ="item_by_icon">
							<%= f.select(:phone_events, Payer.phone_events,{}, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless" )%>
						</span>
					</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="clock" src="/images/iPhone Clock.png" border="0">	
						</span>
						<span class ="item_by_icon">
							<%= f.select(:phone_alert_frequency, Payer.phone_alert_frequency,{}, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless" )%>
						</span>
					</div><br />
					<div class="inner_content_subtitle" id="extra_space2">On</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="sms" src="/images/iPhone SMS 64.png" border="0">							
						</span>
						<span class ="item_by_icon">
							<%= f.text_field(:edited_phone, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless"  )%>
						</span>
					</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="sms" src="/images/Skype.png" border="0">							
						</span>
						<span class ="item_by_icon">
							<%= f.text_field(:skype, :onchange => "$('#phone_alert_form').submit();", :class => "value borderless"  )%>
						</span>
					</div>
				</div>
				<div class="form_line">
					<span id="phone_alert" class="buttonset">
						<%= f.radio_button("phone_alert_human", "On", :onchange => "viewPhoneAlert('toggle');$('#phone_alert_form').submit();") %><label for="payer_phone_alert_human_on">On</label>
						<%= f.radio_button("phone_alert_human", "Off",:onchange => "viewPhoneAlert('toggle');$('#phone_alert_form').submit();") %><label for="payer_phone_alert_human_off">Off</label>
					</span>
				</div>
			<% end %>
			<br />
		</div>
		<div class="right_content">
			<p class="inner_content_title">&nbsp;</p><br />
			<% form_for :payer, :url => { :action => :payment_update }, :html => {:id => "email_alert_form"} do |f| %>
				<div id="email_alert_shade_area">
					<div class="inner_content_subtitle" id="extra_space3">Inform about</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="report" src="/images/iPhone Notes.png" border="0">							
						</span>
						<span class ="item_by_icon">
							<%= f.select(:email_events, Payer.email_events,{}, :onchange => "$('#email_alert_form').submit();", :class => "value borderless" )%>
						</span>
					</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="clock" src="/images/iPhone Clock.png" border="0">								
						</span>
						<span class ="item_by_icon">
							<%= f.select(:email_alert_frequency, Payer.email_alert_frequency,{}, :onchange => "$('#email_alert_form').submit();", :class => "value borderless" )%>
						</span>
					</div><br />
					<div class="inner_content_subtitle" id="extra_space2">On</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="email" src="/images/iphone eMail 64.png" border="0">							
						</span>
						<span class ="item_by_icon">
							<%= f.text_field(:email, :onchange => "$('#email_alert_form').submit();", :class => "value borderless"  )%>
						</span>
					</div>
					<div class="form_line">
						<span class="icon">
							<img class ="communication" id="sms" src="/images/facebook.png" border="0">							
						</span>
						<span class ="item_by_icon">
							<%= f.text_field(:facebook, :onchange => "$('#email_alert_form').submit();", :class => "value borderless"  )%>
						</span>
					</div>
				</div>
				<div class="form_line">
					<span id="email_alert" class="buttonset">
						<%= f.radio_button("email_alert_human", "On", :onchange => "viewEmailAlert('toggle');$('#email_alert_form').submit();") %><label for="payer_email_alert_human_on">On</label>
						<%= f.radio_button("email_alert_human", "Off",:onchange => "viewEmailAlert('toggle');$('#email_alert_form').submit();") %><label for="payer_email_alert_human_off">Off</label>
					</span>
				</div>
			<% end %>
		</div>
	</div>

	<div id="retailers">
		<div class="left_content"></div>
		<div class="right_content retailers_list"></div>
	</div>

	<div id="inbox">

	</div>

	<div id="purchases">
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>

	<div id="account">
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
	
</div>

<script type="text/javascript">

	function viewPhoneAlert(phone_alert){

		$('#phone_alert_notice').remove(); 
		$('#phone_alert_form').after('<div id ="phone_alert_notice" class="field_notice small_note red" ><%= escape_javascript(flash.delete(:notice)) %></div>');
		$('#payer_edited_phone').val("<%= @payer.edited_phone %>");

		if (phone_alert == "toggle") {
			$('#phone_alert_shade_area').toggleClass("shaded");
		} 
		else {
			if (phone_alert) {
				$('#phone_alert_shade_area').removeClass("shaded");
			}
			else
			{
				$('#phone_alert_shade_area').addClass("shaded");
			}
		}
	};
	
	function viewEmailAlert(email_alert){

		$('#email_alert_notice').remove(); 
		$('#email_alert_form').after('<div id ="email_alert_notice" class="field_notice small_note red" ><%= escape_javascript(flash.delete(:notice)) %></div>');

		if (email_alert == "toggle") {
			$('#email_alert_shade_area').toggleClass("shaded");
		} 
		else {
			if (email_alert) {
				$('#email_alert_shade_area').removeClass("shaded");
			}
			else
			{
				$('#email_alert_shade_area').addClass("shaded");
			}
		}
	};
	
	function setTabHeight(consumers_size, retailers_size) {

		var height = $('#tabs').css('height');
		
		if (retailers_size == 0) {
			if (consumers_size%2 == 1) {
				height = height.split('px');
				height = +height[0] + 131;
			}
		}
		else {
			var consumer_lines = Math.round((consumers_size)/2);
			var height_for_consumers = 150 + (consumer_lines *131);
			var height_for_retailers = 200 + 42*retailers_size;
			var height = Math.max(height_for_retailers, height_for_consumers);			
		}
		
		if (height > 450) {
			$('#tabs').css('height', height);
		}
		
	};
	
	function rename_consumer(id, name) {
		input_name = "consumer[" + id + "][name]";
		selector = "input[name='" + input_name + "']";
		$(selector).val(name);
		$('#consumer_name_allowance').html(name + "\'s allowance");
		$('#consumer_name_approvals').html(name + "\'s approval policy");		
		$.ajax({
			url: 'consumer_update/'+id + '?name=' + name,
			success: function(data){

			}
		})
	};
	
	viewPhoneAlert (<%= @payer.phone_alert %>);	
	viewEmailAlert (<%= @payer.email_alert %>);
	setTabHeight(<%= @consumers.size %>, <%= @retailers.size %>);



</script>