<% if @products.empty? %>

	$('.products_list').append(	
		'<%= image_tag "/images/thanks_for_joining5.png", :class => "righthandside_marketial" %>');
		
/*
	$(function() {
		$('#tabs').tabs("option","disabled", [1, 2, 3, 4, 5]);
	});

*/			
<% else %>

	$('.products_list').append(	
		'<p class="inner_content_title">Products purchased</p>' +
		'<div class="column1" ></div>' +
		'<div class="column2" ></div>');
			
	<% i = 1 %>

	<% for @product in @products %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('.products_list .column1').append(
				'<div class="portlet">'+
					'<div class="product portlet-header" id="product_<%= @product.id %>"><%= @product.title %></div>'+
					'<div class="portlet-content" style="padding-bottom:0" >'+
						'<div class="portlet-content-left">'+
							'<%= (!@product.logo.blank?) ?image_tag(@product.logo, :class => "portlet-content-logo")  :"<p class=content-name>#{@product.title}</p>" %>'+
							'<p class="product-info">Total purchases this month:&nbsp;<%= number_to_currency(@product.total_amount) %></p>'+
						'</div>'+
						'<div class="portlet-content-right">'+
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('.products_list .column2').append(
				'<div class="portlet">'+ 
					'<div class="product portlet-header" id="product_<%= @product.id %>"><%= @product.title %></div>'+
					'<div class="portlet-content" style="padding-bottom:0" >'+
						'<div class="portlet-content-left">'+
							'<%= (!@product.logo.blank?) ?image_tag(@product.logo, :class => "portlet-content-logo")  :"<p class=content-name>#{@product.title}</p>" %>'+
							'<p class="product-info">Total purchases this month:&nbsp;<%= number_to_currency(@product.total_amount) %></p>'+
						'</div>'+
						'<div class="portlet-content-right">'+
						'</div>'+
					'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>

	product_info(<%= @products[0].id %>);

	
<% end %>



	function product_info(id) {
		var selector = "div[id = product_" + id.toString() + " ]"
			
		$('.product.portlet-header').removeClass('ui-widget-header-lightness');
		$(selector).addClass('ui-widget-header-lightness');
		$.ajax({
			url: 'product/'+id,
			success: function(data){
			}
		})
	};



$(function() {
	$('.products_list .column1').sortable({
		connectWith: '.products_list .column2'
	});
	$('.products_list .column2').sortable({
		connectWith: '.products_list .column1'
	});
	
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
		.find(".product.portlet-header")
			.addClass("ui-widget-header ui-corner-all")
			.prepend('<span class="ui-icon ui-icon-minusthick"></span>')
			.end()
		.find(".product.portlet-content");

	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").toggle();
	});
	
	$(".products_list .column1").disableSelection();
});

	$('.product.portlet-header').click(function () { 
		
		product_info($(this).attr('id').split('_')[1]);
		
	 }); 