$('#products .left_content').html(
	'<p class="inner_content_title">Which products do you approve?</p>'+
	'<p class="content-name-left"><%= @product.title %></p>'+
	'<%= if @product.logo? then image_tag(@product.logo, :class => "portlet-content-logo-left") end %>'+		
	'<p>'+
		'<span class=item>Monthly purchase count:</span>'+			
		'<span class=content-value><%= @product.purchase_count %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Monthly purchase total:</span>'+			
		'<span class=content-value><%= number_to_currency(@product.total_amount) %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Last purchase made:</span>'+			
		'<span class=content-value><%= @product.most_recent.to_date.strftime("%B %d, %Y") %></span>' +
	'</p>'+
	'<p>Show me all of <%= @product.title %> purchases</p>'+
		'<% if    @product.status == "whitelisted" %>'+
			'<%= image_tag "/images/fb_like_lit_small.png", :id => "product_like_lit_#{@product.id}", :class => "product like" %>'+
		'<% else %>'+
			'<%= image_tag "/images/fb_like_small.png", :id => "product_like_unlit_#{@product.id}",  :class => "product like" %>'+
		'<% end %>'+
	'</span>'+	
	'<span class="icon">'+
		'<% if    @product.status == "blacklisted" %>'+
			'<%= image_tag "/images/fb_dont_lit_small.png", :id => "product_dislike_lit_#{@product.id}",  :class => "product like dislike" %>'+
		'<% else %>'+
			'<%= image_tag "/images/fb_dont_small.png", :id => "product_dislike_unlit_#{@product.id}",  :class => "product like dislike" %>'+
		'<% end %>'+
	'</span>'
);	

	function ProductlikeToggleSrc(id) {

		var input = id.split('_');
		var entity_type = input[0];
		var clicked_button = input[1];
		var status = input[2];
		var entity_id = input[3];
		
		
		if (clicked_button == "like") {
			button_selector = 			"#"+id;
			lit_image =  				"/images/fb_like_lit_small.png";
			unlit_image = 				"/images/fb_like_small.png";
			other_button  = 			"dislike";
			other_button_lit_image = 	"/images/fb_dont_lit_small.png";
			other_button_unlit_image = 	"/images/fb_dont_small.png";
		} 
		else {
			button_selector = 			"#"+id;
			lit_image = 				"/images/fb_dont_lit_small.png";
			unlit_image = 				"/images/fb_dont_small.png";
			other_button = 				"like";
			other_button_lit_image = 	"/images/fb_like_lit_small.png";
			other_button_unlit_image = 	"/images/fb_like_small.png";
		}
		
		if ($('#product_' + other_button + '_lit_' + entity_id).length) {
			other_button_selector = '#product_' + other_button + '_lit_' + entity_id;
		}
		else {
			other_button_selector = '#product_' + other_button + '_unlit_' + entity_id;			
		}
		
		
		if (status == "lit") {
			$(button_selector).attr('src', unlit_image);
			$(button_selector).attr('id', "product_" + clicked_button + "_unlit_" + entity_id);
		}
		else {
			$(button_selector).attr('src', lit_image);
			$(other_button_selector).attr('src', other_button_unlit_image);
			$(button_selector).attr('id', "product_" + clicked_button + "_lit_" + entity_id);
			$(other_button_selector).attr('id', "product_" + other_button + "_unlit_" + entity_id);
		}
		
		if (clicked_button == 'like' && status == 'unlit') {
			return 'whitelisted';
		}
		else if (clicked_button == 'dislike' && status == 'unlit') {
			return 'blacklisted';
		}
		else {
			return '';
		}
	};
	

	$(".product.like").click(function() {
		selector_id = $(this).attr("id");
		product_id = selector_id.split('_')[3];
		new_status = ProductlikeToggleSrc(selector_id);
		$.ajax({
			url: 'plist_update/' + product_id + '?new_status=' + new_status,
			success: function(data){
				
			}
		})

	});
	


/*
$(document).ready(function() {

		var oTable = $('#table').dataTable();
		var cell = $('#tb_authorization_91').get(0);
		alert('cell of #tb_authorization_91 = ' + cell);
		var cell = $('#tb_authorization_90').get(0);
		alert('cell of #tb_authorization_90 = ' + cell);
		
		var aPos = oTable.fnGetPosition( cell );

		var aData = oTable.fnGetData( aPos[0] );
		
		aData[ aPos[1] ] = 'hello';
		cell.innerHTML = 'hello';
	
		oTable = $('#table').dataTable();
} );

*/





