
$('#purchase_records').empty();
$('#purchases_message').remove();
$('#purchases .left_content').empty();
$('#purchases_message').empty();



<% if @purchases.empty? %>

	$('.purchases_list').append(	
		'<div id="purchases_message">No purchases were found for that selection criteria</div>');
		

<% else %>


	$('#table').show();
	<% for @purchase in @purchases %>

		<% if @purchase.authorization_type == "ManuallyAuthorized" or 
			  @purchase.authorization_type == "Unauthorized" or
			  @purchase.authorization_type ==  "PendingPayer" %>
			<% @authorizer = @payer.name %>
		<% else %> 
			<% @authorizer = "arca" %>
		<% end %>
		

		$('tbody').append(
		'<tr>' +
			'<td class="authorized_cell" id="tb_like_<%= @purchase.id %>">'+
				'<span class="icon">' +
					'<% if    @purchase.authorization_type == "ManuallyAuthorized" %>'+
						'<%= image_tag "/images/fb_like_lit_small.png", :border => "0", :id => "pending_like_lit_#{@purchase.id}", :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like" %>'+
					'<% elsif @purchase.authorization_type == "PendingPayer" %>'+
						'<%= image_tag "/images/fb_like_small.png", :border => "0", :id => "pending_like_unlit_#{@purchase.id}",  :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like" %>'+
					'<% elsif @purchase.authorized? %>'+
						'<%= image_tag "/images/approve.png", :border => "0", :class => "arca_for_table" %>'+
					'<% end %>'+
				'</span>'+	
			'</td>' +
			'<td class="date_cell" id="tb_date_<%= @purchase.id %>"><%= @purchase.date.strftime("%b %d, %Y %I:%M %p") if @purchase.date %></td>' +
			'<td class="consumer_cell" id="tb_consumer_<%= @purchase.id %>"><%= @purchase.consumer_name %></td>' +
			'<td class="retailer_cell" id="tb_retailer_<%= @purchase.id %>"><%= @purchase.retailer_name %></td>' +
			'<td class="product_cell" id="tb_product_<%= @purchase.id %>"><%= @purchase.product_title %></td>' +
			'<td class="category_cell" id="tb_category_<%= @purchase.id %>"><%= @purchase.category_name %></td>' +
			'<td class="amount_cell" id="tb_amount_<%= @purchase.id %>"><%= number_to_currency(@purchase.amount) %></td>' +
			'<td class="date_cell" id="tb_authordate_<%= @purchase.id %>"><%= @purchase.authorization_date.strftime("%b %d, %Y %I:%M %p") if @purchase.authorization_date %></td>' +
			'<td class="Authorizer_cell" id="tb_authorizer_<%= @purchase.id %>"><%= @authorizer %></td>' +
			'<td class="authorization_cell" id="tb_authorization_<%= @purchase.id %>"><%= @purchase.authorization_type%></td>' +
			'<td class="date_cell" id="tb_authendate_<%= @purchase.id %>"><%= @purchase.authentication_date.strftime("%b %d, %Y %I:%M %p") if @purchase.authentication_date%></td>' +
			'<td class="authentication_cell" id="tb_authentication_<%= @purchase.id %>"><%= @purchase.authentication_type%></td>' +
			'<td class="authorized_cell" id="tb_dislike_<%= @purchase.id %>">'+
				'<span class="icon">'+
					'<% if    @purchase.authorization_type == "Unauthorized" %>'+
						'<%= image_tag "/images/fb_dont_lit_small.png", :border => "0", :id => "pending_dislike_lit_#{@purchase.id}",  :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like dislike" %>'+
					'<% elsif @purchase.authorization_type == "PendingPayer" %>'+
						'<%= image_tag "/images/fb_dont_small.png", :border => "0", :id => "pending_dislike_unlit_#{@purchase.id}",  :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like dislike" %>'+
					'<% elsif !@purchase.authorized? %>'+
						'<%= image_tag "/images/rejected.png", :border => "0", :class => "arca_for_table" %>'+
					'<% end %>'+
				'</span>' +
			'</td>' +
		'</tr>');

	<% end %>


	pTable = $('#table').dataTable({
		"bPaginate": true,
		"bRetrieve": true,
		"bJQueryUI": true,
		"aaSorting": [[1,'desc']],
		"sPaginationType": "full_numbers"	 		
	});



	 $(function() {
		$("#period").buttonset();
	});


	$('#period label').click(function () { 
		var selection = $(this).children().first().html();
		if 		(selection == "Pending") {
			pTable.fnFilter( 'PendingPayer' , 9, true, false, false);
		}
		else if (selection == "Unauthorized") {
			pTable.fnFilter( 'Unauthorized|Inappropriate|Zero|Insufficient|Over', 9, true, false, false);
		}
		else if (selection == "Authorized") {
			pTable.fnFilter( 'ManuallyAuthorized|Under', 9, true, false, false );
		}
		else {
			pTable.fnFilter( '', 9, true, false, false );
		}		
	}); 
	
	pTable.fnFilter( 'PendingPayer' , 9, true, false, false);
	
	function purchaselikeToggleSrc(id) {

		var input = id.split('_');
		var entity_type = input[0];
		var clicked_button = input[1];
		var status = input[2];
		var entity_id = input[3];
		
		
		if (clicked_button == "like") {
			button_selector = 			"#"+id;
			lit_image =  				"/images/fb_like_lit_small.png";
			unlit_image = 				"/images/fb_like_small.png";
			other_button  = 			"dislike";
			other_button_lit_image = 	"/images/fb_dont_lit_small.png";
			other_button_unlit_image = 	"/images/fb_dont_small.png";
		} 
		else {
			button_selector = 			"#"+id;
			lit_image = 				"/images/fb_dont_lit_small.png";
			unlit_image = 				"/images/fb_dont_small.png";
			other_button = 				"like";
			other_button_lit_image = 	"/images/fb_like_lit_small.png";
			other_button_unlit_image = 	"/images/fb_like_small.png";
		}
		
		if ($('#purchase_' + other_button + '_lit_' + entity_id).length) {
			other_button_selector = '#purchase_' + other_button + '_lit_' + entity_id;
		}
		else {
			other_button_selector = '#purchase_' + other_button + '_unlit_' + entity_id;			
		}
		
		
		if (status == "lit") {
			$(button_selector).attr('src', unlit_image);
			$(button_selector).attr('id', "purchase_" + clicked_button + "_unlit_" + entity_id);
		}
		else {
			$(button_selector).attr('src', lit_image);
			$(other_button_selector).attr('src', other_button_unlit_image);
			$(button_selector).attr('id', "purchase_" + clicked_button + "_lit_" + entity_id);
			$(other_button_selector).attr('id', "purchase_" + other_button + "_unlit_" + entity_id);
		}
		
		if (clicked_button == 'like' && status == 'unlit') {
			return 'ManuallyAuthorized';
		}
		else if (clicked_button == 'dislike' && status == 'unlit') {
			return 'Unauthorized';
		}
		else {
			return 'PendingPayer';
		}
	};
	

	function update_purchase_table(id, status) {

		selector = "#tb_authorization_99";
		selector = selector.replace("99", id);
		var cell = $(selector).get(0);
		var aPos = pTable.fnGetPosition( cell );
		var aData = pTable.fnGetData( aPos[0] );		
		aData[ aPos[1] ] = status;
		cell.innerHTML = status;
	
		selector = "#tb_authordate_99";
		selector = selector.replace("99", id);
		var cell = $(selector).get(0);
		var aPos = pTable.fnGetPosition( cell );
		var aData = pTable.fnGetData( aPos[0] );
		if (status == "ManuallyAuthorized" || status == "Unauthorized") {
			aData[ aPos[1] ] = "<%= Time.now.strftime("%b %d, %Y")%>" + " " + get_current_time();
		}
		else {
			aData[ aPos[1] ] = "";
		}
		cell.innerHTML = aData[ aPos[1] ];
	};

/*
		selector = "#tb_authorized_99";
		selector = selector.replace("99", id);
		var cell = $("<%= "#tb_authorized_#{@purchase.id}" %>").get(0);
		var aPos = pTable.fnGetPosition( cell );
		var aData = pTable.fnGetData( aPos[0] );
		var img_tag = '<img border="0" src="/images/pic.png" alt="">';
		var img_tag = img_tag.replace("pic", status);
		aData[ aPos[1] ] = img_tag;


*/


	$(".pending.like").click(function() {
		selector_id = $(this).attr("id");
		purchase_id = selector_id.split('_')[3];
		new_status = purchaselikeToggleSrc(selector_id);
		update_purchase_table(purchase_id, new_status);

		$.ajax({
			url: 'purchase_update/' + purchase_id + '?new_status=' + new_status,
			success: function(data){
				
			}
		})

	});
	
	function get_current_time() {
		var currentTime = new Date()
		var hours = currentTime.getHours()
		var minutes = currentTime.getMinutes()
		if (minutes < 10){
		minutes = "0" + minutes
		}
		current_time = hours + ":" + minutes + " "
		if(hours > 11){
		current_time = current_time + "PM"
		} else {
		current_time = current_time + "AM"}
		return current_time
	};


<% end %>
