$('#purchases .left_content').html(
	'<p class="inner_content_title"><%= (@purchase.authorization_type == "PendingPayer") ?"Which purchases do you approve?" :"Last purchases" %></p>'+
	'<p class="content-name-left"><%= "#{@purchase.product_title} from #{@purchase.retailer_name}" %></p>'+
	'<p>'+
		'<span class=item><%= @purchase.date.strftime("%A, %B %d, %Y %I:%M %p") %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Consumer:</span>'+			
		'<span class=content-value><%= @purchase.consumer_name %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Retailer:</span>'+			
		'<span class=content-value><%= @purchase.retailer_name %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Product:</span>'+			
		'<span class=content-value><%= @purchase.product_title %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Amount:</span>'+			
		'<span class=content-value><%= number_to_currency(@purchase.amount) %></span>' +
	'</p>'+
	'<p>' +
		'<span class="icon">' +
			'<% if    @purchase.authorization_type == "ManuallyAuthorized" %>'+
				'<%= image_tag "/images/fb_like_lit_small.png", :id => "pending_like_lit_#{@purchase.id}", :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like" %>'+
			'<% else %>'+
				'<%= image_tag "/images/fb_like_small.png", :id => "pending_like_unlit_#{@purchase.id}",  :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like" %>'+
			'<% end %>'+
		'</span>'+	
		'<span class="icon">'+
			'<% if    @purchase.authorization_type == "Unauthorized" %>'+
				'<%= image_tag "/images/fb_dont_lit_small.png", :id => "pending_dislike_lit_#{@purchase.id}",  :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like dislike" %>'+
			'<% else %>'+
				'<%= image_tag "/images/fb_dont_small.png", :id => "pending_dislike_unlit_#{@purchase.id}",  :class => "#{(@purchase.authorization_type =="PendingPayer") ?"pending" :"purchase"} like dislike" %>'+
			'<% end %>'+
		'</span>' +
	'</p>'
);	


	function purchaselikeToggleSrc(id) {

		var input = id.split('_');
		var entity_type = input[0];
		var clicked_button = input[1];
		var status = input[2];
		var entity_id = input[3];
		
		
		if (clicked_button == "like") {
			button_selector = 			"#"+id;
			lit_image =  				"/images/fb_like_lit_small.png";
			unlit_image = 				"/images/fb_like_small.png";
			other_button  = 			"dislike";
			other_button_lit_image = 	"/images/fb_dont_lit_small.png";
			other_button_unlit_image = 	"/images/fb_dont_small.png";
		} 
		else {
			button_selector = 			"#"+id;
			lit_image = 				"/images/fb_dont_lit_small.png";
			unlit_image = 				"/images/fb_dont_small.png";
			other_button = 				"like";
			other_button_lit_image = 	"/images/fb_like_lit_small.png";
			other_button_unlit_image = 	"/images/fb_like_small.png";
		}
		
		if ($('#purchase_' + other_button + '_lit_' + entity_id).length) {
			other_button_selector = '#purchase_' + other_button + '_lit_' + entity_id;
		}
		else {
			other_button_selector = '#purchase_' + other_button + '_unlit_' + entity_id;			
		}
		
		
		if (status == "lit") {
			$(button_selector).attr('src', unlit_image);
			$(button_selector).attr('id', "purchase_" + clicked_button + "_unlit_" + entity_id);
		}
		else {
			$(button_selector).attr('src', lit_image);
			$(other_button_selector).attr('src', other_button_unlit_image);
			$(button_selector).attr('id', "purchase_" + clicked_button + "_lit_" + entity_id);
			$(other_button_selector).attr('id', "purchase_" + other_button + "_unlit_" + entity_id);
		}
		
		if (clicked_button == 'like' && status == 'unlit') {
			return 'ManuallyAuthorized';
		}
		else if (clicked_button == 'dislike' && status == 'unlit') {
			return 'Unauthorized';
		}
		else {
			return 'PendingPayer';
		}
	};
	

		function update_purchase_table(id, status) {

		var oTable = $('#table').dataTable();
		id += ''
		var selector = ".authorization_cell." + id;
		var cell = $('#tb_authorization_91').get(0);
		var aPos = oTable.fnGetPosition( cell );
		var aData = oTable.fnGetData( aPos[0] );
		
		aData[ aPos[1] ] = status + "jjj";
		cell.innerHTML = status + "jjj";
	
		oTable = $('#table').dataTable();
} ;


	$(".pending.like").click(function() {
		selector_id = $(this).attr("id");
		purchase_id = selector_id.split('_')[3];
		new_status = purchaselikeToggleSrc(selector_id);
		update_purchase_table(purchase_id, new_status);

		$.ajax({
			url: 'purchase_update/' + purchase_id + '?new_status=' + new_status,
			success: function(data){
				
			}
		})

	});

