$('#purchase_records').empty();
$('#purchases_message').remove();
$('#purchases .left_content').empty();
$('#purchases_message').empty();


<% if @purchases.empty? %>

	$('.purchases_list').append(	
		'<div id="purchases_message">No purchases were found for that selection criteria</div>');
		

<% else %>


	$('#table').show();
	<% for @purchase in @purchases %>

		<% if @purchase.authorization_type == "ManuallyAuthorized" or 
			  @purchase.authorization_type == "Unauthorized" or
			  @purchase.authorization_type ==  "PendingPayer" %>
			<% @authorizer = @payer.name %>
		<% else %> 
			<% @authorizer = "arca" %>
		<% end %>
		
		<% if @purchase.authorized? %>
			<% @authorized_img = "check_mark.png" %>
		<% elsif @purchase.authorization_type == "PendingPayer" %>
			<% @authorized_img = "question_mark2.png" %>
		<% else %>
			<% @authorized_img = "cross_sign.png" %>
		<% end %>
		
		 

		$('tbody').append(
		'<tr>' +
			'<td class="authorized_cell really" id="tb_authorized_<%= @purchase.id %>"><%= image_tag @authorized_img, :border => "0" %></td>' +
			'<td class="date_cell" id="tb_date_<%= @purchase.id %>"><%= @purchase.date.strftime("%b %d, %Y %I:%M %p") if @purchase.date %></td>' +
			'<td class="consumer_cell" id="tb_consumer_<%= @purchase.id %>"><%= @purchase.consumer_name %></td>' +
			'<td class="retailer_cell" id="tb_retailer_<%= @purchase.id %>"><%= @purchase.retailer_name %></td>' +
			'<td class="product_cell" id="tb_product_<%= @purchase.id %>"><%= @purchase.product_title %></td>' +
			'<td class="category_cell" id="tb_category_<%= @purchase.id %>"><%= @purchase.category_name %></td>' +
			'<td class="amount_cell" id="tb_amount_<%= @purchase.id %>"><%= number_to_currency(@purchase.amount) %></td>' +
			'<td class="date_cell" id="tb_authordate_<%= @purchase.id %>"><%= @purchase.authorization_date.strftime("%b %d, %Y %I:%M %p") if @purchase.authorization_date %></td>' +
			'<td class="Authorizer_cell" id="tb_authorizer_<%= @purchase.id %>"><%= @authorizer %></td>' +
			'<td class="authorization_cell" id="tb_authorization_<%= @purchase.id %>"><%= @purchase.authorization_type%></td>' +
			'<td class="date_cell" id="tb_authendate_<%= @purchase.id %>"><%= @purchase.authentication_date.strftime("%b %d, %Y %I:%M %p") if @purchase.authentication_date%></td>' +
			'<td class="authentication_cell" id="authentication_<%= @purchase.id %>"><%= @purchase.authentication_type%></td>' +
		'</tr>');

	<% end %>


	$('#table').dataTable({
		"bPaginate": true,
		"bRetrieve": true,
		"bJQueryUI": true,
		"aaSorting": [[7,'desc']],
		"sPaginationType": "full_numbers"
	});



<% end %>
