<% if @retailers.empty? %>

	$('.retailers_list').append(	
		'<%= image_tag "/images/thanks_for_joining5.png", :class => "righthandside_marketial" %>');
		
/*
	$(function() {
		$('#tabs').tabs("option","disabled", [1, 2, 3, 4, 5]);
	});

*/			
<% else %>

	$('.retailers_list').append(	
		'<p class="inner_content_title" id="retailers">Retailers</p>' +
		'<div class="column1" ></div>' +
		'<div class="column2" ></div>' +
		'<%= image_tag 'circle.png', :id => "circle" %>');
			
	<% i = 1 %>

	<% for @retailer in @retailers %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('.retailers_list .column1').append(
				'<div class="portlet">'+
					'<div class="portlet-header" id=<%=@retailer.id%>><%= @retailer.name %></div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag (@retailer.logo.blank?) ?"face_placeholder_small.png" :@retailer.logo, :class => "portlet-content-logo" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p><%= "X purchases in #{Time.now.strftime('%B')}" %></p>'+
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('.retailers_list .column2').append(
				'<div class="portlet">'+ 
					'<div class="portlet-header" id=<%=@retailer.id%>><%= @retailer.name %></div>'+
					'<div class="portlet-content" >'+
						'<div class="portlet-content-left">'+
							'<%= image_tag (@retailer.logo.blank?) ?"face_placeholder_small.png" :@retailer.logo, :class => "portlet-content-logo" %>'+
						'</div>'+
						'<div class="portlet-content-right">'+
							'<p><%= "X purchases in #{Time.now.strftime('%B')}" %></p>'+
						'</div>'+
					'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>

	retailer_info(<%= @retailers[0].id %>);

	
<% end %>



$(function() {
	$('.column1').sortable({
		connectWith: '.column2'
	});
	$('.column2').sortable({
		connectWith: '.column1'
	});
	
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
		.find(".portlet-header")
			.addClass("ui-widget-header ui-corner-all")
			.prepend('<span class="ui-icon ui-icon-minusthick"></span>')
			.end()
		.find(".portlet-content");

	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").toggle();
	});
	
	$(".column1").disableSelection();
	});

	$('.portlet-header').click(function () { 
		
		retailer_info($(this).attr('id'));
		
	 });
	 