<% if @retailers.empty? %>

	$('.retailers_list').append(	
		'<%= image_tag "/images/thanks_for_joining5.png", :class => "righthandside_marketial" %>');
		
/*
	$(function() {
		$('#tabs').tabs("option","disabled", [1, 2, 3, 4, 5]);
	});

*/			
<% else %>

	$('.retailers_list').append(	
		'<p class="inner_content_title" id="retailers">Retailers you purchased from</p>' +
		'<div class="column1" ></div>' +
		'<div class="column2" ></div>' +
		'<%= image_tag 'shopping_cart.png', :id => "shopping_cart" %>');
			
	<% i = 1 %>

	<% for @retailer in @retailers %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('.retailers_list .column1').append(
				'<div class="portlet">'+
					'<div class="retailer portlet-header" id="retailer_<%= @retailer.id %>"><%= @retailer.name %></div>'+
					'<div class="portlet-content" style="padding-bottom:0" >'+
						'<div class="portlet-content-left">'+
							'<%= (!@retailer.logo.blank?) ?image_tag(@retailer.logo, :class => "portlet-content-logo")  :"<p class=content-name>#{@retailer.name}</p>" %>'+
							'<p class="retailer-info">Total purchases this month:&nbsp;<%= number_to_currency(@retailer.total_amount) %></p>'+
						'</div>'+
						'<div class="portlet-content-right">'+
						'</div>'+
					'</div>'+
				'</div>');
		<% else %>
			$('.retailers_list .column2').append(
				'<div class="portlet">'+ 
					'<div class="retailer portlet-header" id="retailer_<%= @retailer.id %>"><%= @retailer.name %></div>'+
					'<div class="portlet-content" style="padding-bottom:0" >'+
						'<div class="portlet-content-left">'+
							'<%= (!@retailer.logo.blank?) ?image_tag(@retailer.logo, :class => "portlet-content-logo")  :"<p class=content-name>#{@retailer.name}</p>" %>'+
							'<p class="retailer-info">Total purchases this month:&nbsp;<%= number_to_currency(@retailer.total_amount) %></p>'+
						'</div>'+
						'<div class="portlet-content-right">'+
						'</div>'+
					'</div>'+
					'</div>'+
				'</div>');
		<% end %>
		<% i += 1 %>
	<% end %>

	retailer_info(<%= @retailers[0].id %>);

	
<% end %>



	function retailer_info(id) {
		var selector = "div[id = retailer_" + id.toString() + " ]"
			
		$('.retailer.portlet-header').removeClass('ui-widget-header-lightness');
		$(selector).addClass('ui-widget-header-lightness');
		$.ajax({
			url: 'retailer/'+id,
			success: function(data){
			}
		})
	};



$(function() {
	$('.retailers_list .column1').sortable({
		connectWith: '.retailers_list .column2'
	});
	$('.retailers_list .column2').sortable({
		connectWith: '.retailers_list .column1'
	});
	
	$(".portlet").addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
		.find(".retailer.portlet-header")
			.addClass("ui-widget-header ui-corner-all")
			.prepend('<span class="ui-icon ui-icon-minusthick"></span>')
			.end()
		.find(".retailer.portlet-content");

	$(".portlet-header .ui-icon").click(function() {
		$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
		$(this).parents(".portlet:first").find(".portlet-content").toggle();
	});
	
	$(".column1").disableSelection();
});

	$('.retailer.portlet-header').click(function () { 
		
		retailer_info($(this).attr('id').split('_')[1]);
		
	 });
	 