<div class="row hm_container">

	<%= image_tag "/home/img/ys_kid_tp2.png", :id => "yellowshirt_kid" %>

	<div  id="sign_in_hero" class="span9">
		<%= render "payers/shared/hero" %>
	</div>

	<div id="form_box" class="span3 well password_form_box">

		<% flash.each do |key, value| %>
		   <div class="alert form">
				<a class="close" data-dismiss="alert" href="#">×</a>
			    <center><strong><%= value %></strong></center>
		  </div>
		<% end %>		

		<h1>Change Password</h1>

		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>

		  	<%= f.error_notification %>
		
		  	<div class="form-inputs">
			    <%= f.input :email, :required => true, :autofocus => true %>
			    <%= f.input :password, :label => 'New Password', :autocomplete => "off" %>
			    <%= f.input :password_confirmation, :required => false %>
			    <% if params[:logged_in] == 'true'%>
			    	<p class="why_we_dont_need_curr_pwd">We dont need your current password since you are already logged in.</p>
		    	<% else %>
			    	<%= f.input :current_password, :required => true %>
			    <% end %>
		  	</div>
		
			<div class="update_password_botton">
				<%= f.button :submit, "Update password", :class => "btn-large" %>
			</div>

		<% end %>
	</div>

</div>
