<h1>Editing payer_rule</h1>

<% form_for(@payer_rule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :payer_id %><br />
    <%= f.text_field :payer_id %>
  </p>
  <p>
    <%= f.label :billing_by %><br />
    <%= f.text_field :billing_by %>
  </p>
  <p>
    <%= f.label :billing_phone_number %><br />
    <%= f.text_field :billing_phone_number %>
  </p>
  <p>
    <%= f.label :allowance %><br />
    <%= f.text_field :allowance %>
  </p>
  <p>
    <%= f.label :rollover %><br />
    <%= f.check_box :rollover %>
  </p>
  <p>
    <%= f.label :approval_phone_number %><br />
    <%= f.text_field :approval_phone_number %>
  </p>
  <p>
    <%= f.label :pin %><br />
    <%= f.text_field :pin %>
  </p>
  <p>
    <%= f.label :auto_approve_under %><br />
    <%= f.text_field :auto_approve_under %>
  </p>
  <p>
    <%= f.label :auto_reject_over %><br />
    <%= f.text_field :auto_reject_over %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @payer_rule %> |
<%= link_to 'Back', payer_rules_path %>