<p>
  <b>Payer:</b>
  <%=h @payer_rule.payer_id %>
</p>

<p>
  <b>Billing by:</b>
  <%=h @payer_rule.billing_by %>
</p>

<p>
  <b>Billing phone number:</b>
  <%=h @payer_rule.billing_phone_number %>
</p>

<p>
  <b>Allowance:</b>
  <%=h @payer_rule.allowance %>
</p>

<p>
  <b>Rollover:</b>
  <%=h @payer_rule.rollover %>
</p>

<p>
  <b>Approval phone number:</b>
  <%=h @payer_rule.approval_phone_number %>
</p>

<p>
  <b>Pin:</b>
  <%=h @payer_rule.pin %>
</p>

<p>
  <b>Auto approve under:</b>
  <%=h @payer_rule.auto_approve_under %>
</p>

<p>
  <b>Auto reject over:</b>
  <%=h @payer_rule.auto_reject_over %>
</p>


<%= link_to 'Edit', edit_payer_rule_path(@payer_rule) %> |
<%= link_to 'Back', payer_rules_path %>