<div id="approval_popover" class="popover">
    <header>
        <%= t 'approval_heading', :name => @consumer.name %>
    </header>
    <section>
		<div class="content">
			<nav>
				<ul>
               		<li class="new">
		            	<% if @consumer.tinypic %>		<!-- move to a helper -->
		            		<span class="consumer avatar fl"><%= image_tag @consumer.tinypic %></span>
		            	<% else %>
		            		<span class="consumer icon32 user fl"></span>
		            	<% end %>
                   		<span><%= t 'approval_1', :name => @consumer.name, :count => @pendings_count %></span>
               		</li>
                    <li class="instructions">
                    	<%= t 'approval_2' %>
                	</li>
                    <li class="instructions">
                    	<a><%= t 'approval_3' %></a>
                	</li>
                </ul>
            </nav>
        </div>
    </section>
</div>

