<div class="box-header">
    <span class="icon16 cart"></span>
    <h1><%= t 'Purchases' %></h1> 
</div>

<div class="action_bar filters">
    <a href="#" class="small button" id="pending-button">
        <span class="icon16 question"></span>
        Pending
        <span class="message-count"><%= @pendings_count %></span>
    </a>
    <a href="#" class="small button" id="authorized-button">
        <span class="icon16 tick"></span>
        Approved
    </a>
    <a href="#" class="small button" id="blocked-button">
        <span class="icon16 delete"></span>
        Blocked
    </a>
    <a href="#" class="small button" id="all-button">
        <span class="icon16 refresh"></span>
        All
    </a>
</div> 
  
<table id="purchases"> 
    <thead> 
        <tr> 
            <th>Date invisible</th>
            <th>Auth type invisible</th>
            <th>Authorized invisible</th>
            <th>
            <th>
            <th>
            <th>                             
        </tr> 
    </thead> 
    <tbody> 
    <% @purchases.each do |purchase| %> 
        <tr class="purchase_row" data-href=<%= "purchase/#{purchase.id}" %> > 
            <td ><%= purchase.date %></td>
            <td><%= purchase.authorization_type %></td>
            <td><%= purchase.authorized %></td>
            <td class="status" data-purchase="<%= purchase.id %>">
            <% if purchase.requires_approval? %>
                <span class="icon32 question large tooltip" title="Requires your manual approval"></span>
            <% elsif purchase.approved? %> 
                <span class="icon32 tick2 large tooltip" title="Manually approved"></span>
            <% elsif purchase.declined? %> 
                <span class="icon32 cross large tooltip" title="Manually declined"></span>
            <% elsif purchase.authorized? %> 
                <span class="icon32 plus2 large tooltip" title="<%= "Authorized according to your rules: #{purchase.authorization_property}: #{purchase.authorization_value} was #{purchase.authorization_type}"%>"></span>
            <% elsif purchase.unauthorized? %> 
                <span class="icon32 minus large tooltip" title="<%= "Unauthorized according to your rules: #{purchase.authorization_property}: #{purchase.authorization_value} was #{purchase.authorization_type}"%>"></span>
            <% else %> 
                <span class="icon32 alert large tooltip" title="Well this was not supposed to happen"></span>
            <% end %>
            </td>
            <td class="purchase_details">
                <p class="purchase_top_line">
                    <span><%= link_to purchase.product ,"dashboard/product/#{purchase.id}" %></span>
                    <span>by</span>
                    <span><%= link_to purchase.retailer.name, "dashboard/retailer/#{purchase.id}" %></span>
                </p>
                <p class="purchase_bottom_line">
                    <span class="cell_date"><%= purchase.date.strftime("%a, %b %d") %></span>
          			<span>by</span>
                    <span><%= link_to purchase.consumer.name, "dashboard/consumer/#{purchase.consumer_id}"  %></span>
                </p>
            </td>
            <td class="purchase_price"><%= number_to_currency(purchase.amount) %></td>
            <td class="approval_buttons">
                <% if purchase.requires_approval? %>
                <p class="purchase_top_line">
                    <a href='#approval_modal' class="modal approval button small greyedOut actionButton approve" data-purchase="<%= purchase.id %>" data-action="approve" data-product="<%= purchase.product %>" data-price="<%= number_to_currency purchase.amount %>" data-consumer="<%= purchase.consumer.name %>" data-retailer="<%= purchase.retailer.name %>" data-title="<%= purchase.title %>">
                        <span class="icon16 tick2"></span>
                        OK
                    </a>
                </p>
                <p class="purchase_bottom_line">
                     <a href="#approval_modal" class="modal approval button small greyedOut actionButton decline" data-purchase="<%= purchase.id %>"  data-action="do not approve" data-product="<%= purchase.product %>" data-price="<%= number_to_currency purchase.amount %>" data-consumer="<%= purchase.consumer.name %>" data-retailer="<%= purchase.retailer.name %>" data-title="<%= purchase.title %>">
                        <span class="icon16 cross"></span>
                        NO
                    </a>
                </p>
                <% end %>
            </td>                     
        </tr>
                      
    <% end %>
    </tbody> 
</table> 

<% if @pendings_count > 0  %>
	<%= render 'approval_popover' %>
	<%= render 'approval_modal' %>
<% end %>

<script type="text/javascript"> 

$(document).ready(function() {

/// populate the values in the approval modal text and the href to follow if button is clicked	    
   $('.approval.button').click(function () {
       
       var purchase = 	 $(this).attr('data-purchase');
       var action = 	 $(this).attr('data-action');
       var product =     $(this).attr('data-product');
       var price =       $(this).attr('data-price');
       var consumer =    $(this).attr('data-consumer');       
       var retailer =    $(this).attr('data-retailer');       
       var title = 		 $(this).attr('data-title'); 
       var activity =	 (action == 'approve') ? 'approved' : 'declined';      

       $('.action').html(action);
       $('.product').html(product);
       $('.price').html(price);
       $('.consumer_name').html(consumer);
       $('.modal_retailer').html(retailer);
       $('.modal_title').html(title);
       $('.activity').html(activity);

       $('#approval_button').attr('data-href','purchase_approval?purchase=' + purchase + '&activity=' + activity);

    });  
    


//  Trigger the approval popover
    $('#pending-button').popover('#approval_popover', {preventBottom: true, preventRight: true});
	// these 2 lines should be removed once popover acts as it should 
    $('#pending-button').trigger('open.popover');      
	window.setTimeout("$('#approval_popover').fadeOut('slow')", 10000);
               
    $('.purchase_row').click(function () {
    	url = $(this).attr('data-href')
		$.pjax({
		  url: url,
		  container: '#dashboard_right'
		})
	})



// DataTables (http://datatables.net/)
   pTable = $('#purchases').dataTable( {
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
	        { "bVisible": false, "aTargets": [ 0,1,2 ] },
	        { "sWidth": "10%", "aTargets": [ 3]},
	        { "sWidth": "60%", "aTargets": [ 4 ]},
 	        { "sWidth": "20%", "aTargets": [ 5 ]},
 	        { "sWidth": "10%", "aTargets": [ 6 ]},
       ],
        "aaSorting": [
        	[0,'desc']
    	]
    } );


//	Set the default filter to either be pending or all	
	$('.action_bar.filters a').removeClass('blue');        
<% if @pendings_count > 0  %>
    $('#pending-button').addClass('blue');
    pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
<% else %>
    $('#all-button').addClass('blue');
    pTable.fnFilter( '', 1, true, false, false );
<% end %>            
        

//	Filtering is currently silly (based on 'authorization_type' column) - should be replaced by 'authorized' column.

    $('#pending-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
             pTable.fnFilter( 'PendingPayer' , 1, true, false, false);
    });

    $('#authorized-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
            pTable.fnFilter('Whitelisted|Approved|Authorized|Always|Under', 1, true, false, false );
    });

    $('#blocked-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
            pTable.fnFilter('Blacklisted|Low|High|Unauthorized|Declined|Zero|Insufficient|Over', 1, true, false, false);
    });

     $('#all-button').click(function () {
            $('.action_bar.filters a').removeClass('blue');
            $(this).addClass('blue');
            pTable.fnFilter( '', 1, true, false, false );
    });
});

</script>