<% title "Be Informed (AOR)" %>

<ul class="rounded" id ="balance_line">
	<li >
		<span class="item">Current Balance:</span>
		<span class="value" id="balance"><%= number_to_currency(@balance) %></span>
	</li>
</ul>

<ul class="rounded" id ="authorization_line">
	<li >
		<span class="item"><a href="authorization_form">Pending Authorization</a></span>
		<span class="value" id="pending"><%= number_to_currency(@pending) %></span>
	</li>
</ul>
<a href="/aor/authorization_form" class="btn2 slideup">Authorize</a>
<div id="info">
	<h4>What did I spend on?</h4>
	<div id="Pie_chart">
		<h4></h4>
		<div id="purchases_by_category"></div>
		
        <script type="text/javascript">
          google.load('visualization', '1', {'packages':['piechart']});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addRows(4);
            data.addColumn('string', 'name');
            data.addColumn('number', 'quantity');
            data.setValue(0, 0,'Games');
            data.setValue(0, 1, 149.74);
            data.setValue(1, 0,'Poker');
            data.setValue(1, 1, 19.98);
            data.setValue(2, 0,'Gadgets');
            data.setValue(2, 1, 19.98);
            data.setValue(3, 0,'Other');
            data.setValue(3, 1, 9.99);
            data.setValue(0, 0,'Games');
            data.setValue(0, 1, 149.74);
            data.setValue(1, 0,'Poker');
            data.setValue(1, 1, 19.98);
            data.setValue(2, 0,'Gadgets');
            data.setValue(2, 1, 19.98);
            data.setValue(3, 0,'Other');
            data.setValue(3, 1, 9.99);
            var options = {};
            options['colors'] = ['666666','4684ee','ff9900','dc3912'];
            options['height'] = 222;
            options['is3D'] = true;
            options['legendFontSize'] = 13;
            options['titleFontSize'] = 16;
            options['width'] = 152;
            options['backgroundColor'] = 'white';
            options['legend'] = 'bottom';
            options['title'] = 'Categories';
            options['titleColor'] = '#666666';
            var container = document.getElementById('purchases_by_category');
            var chart = new google.visualization.PieChart(container);
            chart.draw(data, options);
          }
        </script>
      	

		
	</div>

		
	<div id="lists">
		
		<div id="top_products">
			<h4>What did I buy?</h4>
			<ul class="rounded">
			<% Product.top(3).each do |title, quantity|%>
				<li><span class="item"><%= title%></span><span class="value"><%= number_to_currency(quantity) %></span></li>
			<% end %>
			</ul>
		</div>

		<div id="top_retailers">
			<h4>Where did I shop?</h4>
			<ul class="rounded">
			<% Retailer.top(3).each do |name, quantity|%>
				<li><span class="item"><%= name%></span><span class="value"><%= number_to_currency(quantity) %></span></li>
			<% end %>
			</ul>
		</div>
		
	</div>	
</div>
	
