<% unless params[:_pjax] %>
	<%= render 'primary_navigation' %>
	<%= render 'consumer_navigation' %>

<section id="maincontainer">
	<div id="main" class="container_12">
<% end %>

	<%= render :partial => 'page_head', :locals => {:title => 'Purchase Transactions'} %>
	
	<table>
		<tbody>
			<% @transactions.each do |transaction| %>
			  <tr>
			    <td><%= transaction.trx_type %></td>
			    <td><%= transaction.created_at %></td>
			    <td><%= link_to 'Details', payer_purchase_transaction_path(@payer, @purchase, transaction) %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br />

<% unless params[:_pjax] %>  
  </div>
</section>
<% end %>

<%= render 'notifications' %>