<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

	<%= render 'page_head', :page_title => "Purchase Transactions", :backPath => consumer_purchase_path(@consumer, @purchase) %>
	
	<table>
		<tbody>
			<% @transactions.each.order("created_at DESC") do |transaction| %>
			  <tr>
			    <td><%= transaction.trx_type %></td>
			    <td><%= transaction.created_at %></td>
			    <td><%= link_to 'Details', consumer_purchase_transaction_path(@consumer, @purchase, transaction) %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
	<br />

</section>

<%= render 'notifications' %>