<%= render 'primary_navigation'  %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

	<%= render 'page_head', :page_title => 'Transaction Details', :backPath => consumer_purchase_path(@consumer, @purchase) %>
	
	<table>
		<tbody>
			  <tr>
			    <td>Type</td>
			    <td><%= @transaction.trx_type %></td>
			  </tr>
			<% @transaction.attributes.each do |name, value| %>
			  <% next if name == 'id' or name == 'payer_id' or name == 'trx_type' or !value %>
			  <tr>
			    <td><%= name %></td>
			    <td><%= value %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />

</section>
