<%= simple_form_for rule, :html => {:id => 'rule_form'} do |f| %>
  <%= f.error_notification %>

	<div class="form-inputs rule_form">
	    <%= f.hidden_field :consumer_id, :value => @consumer.id %>
	    <%= f.hidden_field :property, :value => @rule.property %>
	    <%= f.hidden_field :previous_rule_id, :value => @rule.previous_rule_id %>
	    <% if @rule.monetary? %>
		    <div class="input-prepend input-append rule_value_wrapper">
		    	<p><%= t 'simple_form.labels.amount' %></p>
			    <span class="add-on"><%= t "number.currency.format.unit" %></span>
			    <%= f.input :value, :label => false, :input_html => {:class => 'numeric rule_value', :required => ""}, :autofocus => true %>
			    <span class="add-on">.00</span>
		    </div>
	    <% end %>
	    <% if @rule.allowance? %>
		    <%= f.input :period, :label => (t 'simple_form.labels.period'), :collection => Rule.period_collection, :include_blank => false, :input_html => {:class => 'rule_period', :required => ""}, :selected => rule.period %>
		    <%= f.input :weekly_occurrence, :label => (t 'simple_form.labels.occurrence'), :wrapper_html => {:class => "weekly_allowance"}, :input_html => {:class => 'rule_occurrence', :required => ""}, :collection => Rule.weekday_collection, :selected => rule.occurrence.to_s, :include_blank => false %>
		    <%= f.input :monthly_occurrence, :label => (t 'simple_form.labels.occurrence'), :wrapper_html => {:class => "monthly_allowance"}, :input_html => {:class => 'rule_occurrence', :required => ""}, :collection => Rule.day_of_month_collection, :selected => rule.occurrence.to_s, :include_blank => false %>
		<% end %>
		<% if @rule.monetary? and !@rule.allowance? %>
		    <%= f.input :occasion, :label => (t 'simple_form.labels.occasion') %>
		    <%= f.input :donator, :label => (t 'simple_form.labels.donator') %>
		    <%= f.input :date, :label => (t 'simple_form.labels.date'), :input_html => {:class => 'datepicker', :data => {'date-format' => "dd M yyyy"}, :required => ""}  %>
		<% end %>
		<%= f.button :submit, "Activate Rule", :class => "btn-primary", :id => "modal_submit" %>
	</div>
	
<% end %>


<script>
$(document).ready(function () {

	var date = new Date();
	date.setDate(date.getDate() - 1)
	$('.datepicker').datepicker('setStartDate', date);

	$('select#rule_period').each (function () {
		replace_occurrence($(this))
	});

	$('select#rule_period').change (function () {
		replace_occurrence($(this))
	});

	function replace_occurrence(period_selection) {
		if ($(period_selection).val() == 'weekly') {
			$(period_selection).parents('.rule_form').find('.weekly_allowance').show();
//			$(period_selection).parents('.rule_form').find('#rule_monthly_occurrence').empty();
			$(period_selection).parents('.rule_form').find('.monthly_allowance').hide();
		} else {
			$(period_selection).parents('.rule_form').find('.monthly_allowance').show();
//			$(period_selection).parents('.rule_form').find('#rule_weekly_occurrence').empty();
			$(period_selection).parents('.rule_form').find('.weekly_allowance').hide();
		}
		
	}	

})
</script>