<div class="rule header">
    <%= "Set #{@consumer.name}'s Allowance" %>
</div>
<% if @allowance %>
<div class="rule actions"
	<p>
		<span><%= "#{@consumer.name}'s currently defined allowance is" %></span>
		<span><%= (number_to_currency (@allowance[:amount])) %>,
		<span><%= @allowance[:period].downcase %></span>
		<span> every </span> 
		<span><%= @allowance[:period] == "Weekly" ? @allowance[:weekly_occurrence] : @allowance[:monthly_occurrence] %>.</span>		
	</p>
	<p>
		<%= "#{@consumer.name}'s current balance is #{number_to_currency @consumer.balance}." %>
	</p>
	<p>
		<strong><%= "As of today, start granting #{@consumer.name} the following allowance: "%></strong>
	</p>
</div>
<% end %>
<%= render 'allowance_form', :rule => @rule %>