<div class="rule_line clearfix">

	<div class="accordion-heading row">
	<div data-toggle="collapse" href=<%= "#ruleEdit_#{rule.id}" %> class="accordion-toggle" data-parent="#rules"> 

		<div class="span1">
			<i class="icon <%= rule.icon %>"></i>
		</div>
		<div class="span100" rel="<%= (rule.info) ? "popover" : "" %>"  title="<%= rule.title %>" data-content="<%= rule.description %>">
			<%= rule.title || rule.property %>
		</div>
		<div class="span3">
			<% if rule.logo %>
				<img src="<%= "/images/#{rule.logo}" %>" rel="<%= (rule.value_info) ? 'popover' : '' %>" title="<%= (rule.value_info) ? rule.value_info.title : '' %>" data-content="<%= (rule.value_info) ? rule.value_info.description : '' %>" />
			<% elsif (rule.monetary?) %>
				<span>
					<%= number_to_currency(rule.value.to_i) %>
				</span>
				<span>
					<% if rule.period == 'Weekly' %>
						every <%= rule.weekly_occurrence %> of the week
					<% elsif rule.period == 'Monthly' %>
						every <%= rule.monthly_occurrence %> of the month
					<% elsif schedule = rule.schedule %>
						on <%= schedule %>
					<% else %>
						(not scheduled yet)
					<% end %>
				</span>
			<% else %>
				<%= rule.value %>
			<% end %>
		</div>
		<div class="span1">
			<%= rule.consumer.name %>
		</div>
		<div class="action_link">
	    	<%= link_to 'Edit',   "#" %>
	    	<%= link_to 'Delete', rule, confirm: 'Are you sure you want to delete this rule?', method: :delete %>
		</div>
		
	</div>
	</div>

	<div id=<%= "ruleEdit_#{rule.id}" %> class="collapse accordion-data">
		<% if rule.allowance? %>
			<%= render 'allowance_form', :rule => rule  %>
		<% else %>
			I'm not in allowance
		<% end %>
	</div>

</div>
