<div class="row rule_detail_line">
	<div class="span1">
		<%= l (rule.schedule ? rule.schedule.start_time : rule.created_at), :format => :medium %>
	</div>
	<div class="span2">
		From <%= rule.donator.blank? ? current_payer.name : rule.donator %>
	</div>
	<div class="spanicon">&nbsp;</div>
	<div class="span2">
		<%= render 'rule_description', :rule => rule %>
	</div>
	<div class="span3minus">
		<% if !rule.occasion.blank? %>
			<%= "#{rule.occasion}" %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	<div class="span100 rightmost">
		<% if rule.schedule and rule.schedule.end_time %>
			Till <%= l rule.schedule.end_time, :format => :medium %>
		<% end %>
	</div>
</div>