<div class="rule_description">
	<% if rule.supported? and rule.thresholds? and rule.initialized? %>
		<%= "Anything #{(rule.under?) ? (t 'under') : (t 'over')} ..." %>
	<% elsif rule.initialized? and rule.supported? %>
		(Click to set)
	<% elsif rule.initialized? and !rule.supported? %>
	<% elsif rule.logo %>
		<img src="<%= "/images/#{rule.logo}" %>" rel="<%= (rule.value_info) ? 'popover' : '' %>" title="<%= (rule.value_info) ? rule.value_info.title : '' %>" data-content="<%= (rule.value_info) ? rule.value_info.description : '' %>" />
	<% elsif rule.monetary? %>
		<span>
			<%= humanized_money_with_symbol rule.amount %>
		</span>
		<span>
			<% if rule.weekly? %>
				every <%= rule.weekly_occurrence %>
			<% elsif rule.monthly? %>
				every <%= rule.monthly_occurrence %>
			<% elsif rule.nonrecurring? %>
				on <%= l rule.date, :format => :medium %>
			<% end %>
		</span>
	<% elsif rule.thresholds? %>
		<%= "Anything #{(rule.under?) ? (t 'under') : (t 'over')} #{humanized_money_with_symbol rule.amount }" %>
	<% elsif !rule.value.blank? %>
		<%= rule.value %>
	<% else %>
		&nbsp;
	<% end %>
</div>
