<div class="rule_detail_line"> 
	<div class="span1">
		<%= l rule.schedule.start_time, :format => :medium %>
	</div>
	<div class="span2">
		By <%= rule.donator.blank? ? current_payer.name : rule.donator %>
	</div>
	<div class="span2">
		<%= render 'rule_description', :rule => rule %>
	</div>
	<div class="span3">
		For <%= rule.id %>
	</div>
	<div class="span100 rightmost">
		<% if rule.schedule.end_time %>
		Till <%= l rule.schedule.end_time, :format => :medium %>
		<% end %>
	</div>
</div>
