<div class="rule_line clearfix">

	<div class="accordion-heading row">
	<div data-toggle="collapse" href=<%= "#ruleEdit_#{rule.id}" %> class="accordion-toggle" data-parent="#rules"> 

		<div class="span1">
			<i class="icon <%= rule.icon %>"></i>
		</div>
		<div class="span100" rel="<%= (rule.info) ? "popover" : "" %>"  title="<%= rule.title %>" data-content="<%= rule.description %>">
			<%= rule.title || rule.property %>
		</div>
		<div class="span3">
			<% if rule.logo %>
				<img src="<%= "/images/#{rule.logo}" %>" rel="<%= (rule.value_info) ? 'popover' : '' %>" title="<%= (rule.value_info) ? rule.value_info.title : '' %>" data-content="<%= (rule.value_info) ? rule.value_info.description : '' %>" />
			<% elsif (rule.monetary?) %>
				<span>
					<%= number_to_currency(rule.value.to_i) %>
				</span>
				<span>
					<% if rule.period == 'weekly' %>
						every <%= rule.weekly_occurrence %>
					<% elsif rule.period == 'monthly' %>
						every <%= rule.monthly_occurrence %>
					<% elsif schedule = rule.schedule %>
						on <%= schedule %>
					<% else %>
						(not scheduled yet)
					<% end %>
				</span>
			<% else %>
				<%= rule.value %>
			<% end %>
		</div>
		<div class="span1">
			<%= rule.consumer.name %>
		</div>
		<div class="span1">
    			<%= link_to "#" do %>
					<i class="icon bigicon-info "></i>
				<% end %>
		</div>
		<div class="action_link span1">
	    	<% if rule.recurring? and !rule.expired? %>
	    		<%= link_to stop_rule_path(rule.id), confirm: 'Are you sure you want to stop this rule?', method: :put, 'data-skip-pjax' => true, class: 'btn btn-mini action_button' do %>
					<i class="icon-stop "></i> Stop
				<% end %>
			<% elsif rule.recurring? and rule.expired? %>
	    		<%= link_to restart_rule_path(rule.id), confirm: 'Are you sure you want to restart this rule?', method: :put, 'data-skip-pjax' => true, class: 'btn btn-mini action_button' do %>
					<i class="icon-play"></i> Restart
				<% end %>
    		<% elsif !rule.schedule %>
	    		<%= link_to rule, confirm: 'Are you sure you want to remove this rule?', method: :delete, 'data-skip-pjax' => true, class: 'btn btn-mini action_button' do %>
					<i class="icon-remove-sign"></i> Remove
				<% end %>
			<% end %>
		</div>
		
	</div>
	</div>

	<div id=<%= "ruleEdit_#{rule.id}" %> class="collapse accordion-data">
		<%= render 'rule_details' %>
	</div>

</div>
