<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

		<%= render :partial => 'page_head', :locals => {:title => "#{@name}'s Rules"} %>
		
		<div id="rules" class="settings  accordion">			
				<% @rules.each do |rule| %>

					<div class="accordion-group">

						<div class="accordion-heading row">
							<a data-toggle="collapse" href=<%= "#ruleEdit_#{rule.id}" %> class="accordion-toggle" data-parent="#rules"> 
								<span class="span2 rule_type"><%= t rule.status %></span>
								<span class="span2 rule_property"><%= t rule.property %></span>	
								<span class="span2 rule_value"><%= rule.value %></span>
								<span class="span2 offset1 rule_edit">Edit</span>
							</a>
						</div>

						<div id=<%= "ruleEdit_#{rule.id}" %> class="row rule_edit_area collapse">
							<span>
								<span class="span2"><%= "Always approve  #{rule.value}" %></span>
								<span class="span2"><%= "Let me decide" %></span>
								<span class="span2"><%= "Always decline #{rule.value}" %></span>
							</span>
							<span class="btn-group" data-toggle="buttons-radio">
								<button class="always_approve btn btn-success"><i class="icon-thumbs-up icon-white"></i></button>
								<button class="call_me btn btn-warning"><i class="icon-bullhorn icon-white"></i></button>
								<button class="always_decline btn btn-danger"><i class="icon-thumbs-down icon-white"></i></button>
							</span>
							<br />
    						<span><%= button_to "Update Rule", payer_rule_path(@payer, rule, :status => 'whitelisted'), :method => :put, :class => "btn btn-primary inline" %></span>
							<span><%= button_to "Close" "#", :class => "btn" %>
						</div>

					</div>

				<% end %>
		</div>
		<br />
		<%= link_to 'Add a new rule', new_payer_rule_path(@payer) if @payer.registered_or_waived %>
</section>

<%= render 'notifications' %>
<script>

$(document).ready(function() {
	  
	$('.accordion-group').click(function () {
		$('.accordion-group').css('background-color', 'transparent');
    	$(this).css('background-color', 'white');
    })
})

</script>
