<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

	<%= render :partial => 'page_head', :locals => {:title => "Rules for #{@name}"} %>
		
	<div class="accordion box-content container_12" id="rules">			
	<div class="box grid_12" > 	
		
			<div class="rule_background">			
				<h1 class="rule_heading"><%= "How much" %></h1>
				<% if @consumer %>
					<button id="newrule" href="#" class="btn btn-info inline-submit" data-trigger="click">
						<i class="icon-plus icon-white"></i>
						<span class="rule_button_text"> Add</span>
					</button>
				<% end %>
			</div>
			
			<% singular_rule_already_included = false %> 
			<% for rule in @rules.monetary.order("property, id DESC") %>
				<%= render :partial => 'rule', :locals => {:rule => rule} unless (rule.singular? and singular_rule_already_included) %>
				<% singular_rule_already_included = true if rule.singular? %> 
			<% end %>
			
			<div class="rule_background">
				<h1 class="rule_heading">What</h1>			
			</div>
			
			<% for rule in @rules.what %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
			
			<div class="rule_background">
				<h1 class="rule_heading">When</h1>
			</div>
			
			<% for rule in @rules.time %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
	
			<div class="rule_background">
				<h1 class="rule_heading">Where</h1>
			</div>
			
			<% for rule in @rules.location %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
	
			<div class="rule_background">
				<h1 class="rule_heading">How much per purchase</h1>
			</div>
			
			<% for rule in @rules.thresholds %>
				<%= render 'rule', :rule => rule %> 
			<% end %>		
		
	</div>
	</div>

</section>

<% if @consumer %>
<div id="newrule_content">
	<% if rule = @consumer.allowance_rule and !rule.initialized? %>
		<p class="new_rule_line">
			<span><i class="bigicon-calendar"></i></span>
			<span>
				<%= link_to "Allowance", new_consumer_rule_path(@consumer, :property => "_allowance"), :data => {:target => "#rule_modal", :toggle => "modal"} %>			
			</span>
		</p>
		<% at_least_one_line_was_included = true %>
	<% end %>
	<% if rule = @consumer.gift_rule and !rule.initialized? %>
		<p class="new_rule_line">
			<span><i class="bigicon-bag"></i></span>
				<%= link_to "Gift", new_consumer_rule_path(@consumer, :property => "_gift"), :data => {:target => "#rule_modal", :toggle => "modal"} %>
			<span>
			</span>
		</p>
		<% at_least_one_line_was_included = true %>
	<% end %>
	<% if rule = @consumer.achievement_rule and !rule.initialized? %>
		<p class="new_rule_line">
			<span><i class="bigicon-achievment"></i></span>
			<span>
				<%= link_to "Achievement", new_consumer_rule_path(@consumer, :property => "achievement"), :data => {:target => "#rule_modal", :toggle => "modal"} %>
			</span>
		</p>
		<% at_least_one_line_was_included = true %>
	<% end %>
	<% if rule = @consumer.birthday_rule and !rule.initialized? %>
		<p class="new_rule_line">
			<span><i class="bigicon-birthday"></i></span>
			<span>
				<%= link_to "Birthday", new_consumer_rule_path(@consumer, :property => "birthday"), :data => {:target => "#rule_modal", :toggle => "modal"} %>
			</span>
		</p>
		<% at_least_one_line_was_included = true %>
	<% end %>
	<% if rule = @consumer.request_rule and !rule.initialized? %>
		<p class="new_rule_line">
			<span><i class="bigicon-cleaning"></i></span>
			<span>
				<%= link_to "Chores", new_consumer_rule_path(@consumer, :property => "chores"), :data => {:target => "#rule_modal", :toggle => "modal"} %>
			</span>
		</p>
		<% at_least_one_line_was_included = true %>
	<% end %>
	<% unless at_least_one_line_was_included %>
		<p class="popover_instructions">Use the <strong>Set</strong> buttons to define how much your kid can buy and why.</p>
		<p class="popover_instructions">Then <strong>Add</strong> as many as you like with this button.</p>
	<% end %>
</div>
<div id="newrule_title">
	<%= "How much - and why" %>
	<p class="popover-title sub-title">Use Paykido to tell kids what they did to deserve their allowance!</p>
</div>
<% end %>

<%= render 'notifications' %>
<%= render 'modals' if @consumer %>

<script type="text/javascript">

$('document').ready(function() {


	$('#newrule').popover({
		placement:	"bottom",
		html: 		true,
		content: 	function() { return $('#newrule_content').html();},
		title:	 	function() { return $('#newrule_title').html();}
	});

})

</script>