<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

	<%= render :partial => 'page_head', :locals => {:title => "Rules for #{@name}"} %>
		
	<div id="rules" class="box-content container_12 accordion">			
	<div class="box grid_12 accordion-group" > 	
		
			<div class="rule_background">			
				<h1 class="rule_heading">How much</h1>
				<a id="newrule" href="#" class="btn btn-info inline-submit" data-title="New Monetary Rule" data-trigger="click">
					<i class="icon-wrench icon-white"></i> New Rule
				</a>
			</div>
			
			<% for rule in @rules.monetary.sort_by {|rule| rule.property} %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
			
			<div class="rule_background">
				<h1 class="rule_heading">What</h1>			
			</div>
			
			<% for rule in @rules.what %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
			
			<div class="rule_background">
				<h1 class="rule_heading">When</h1>
			</div>
			
			<% for rule in @rules.time %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
	
			<div class="rule_background">
				<h1 class="rule_heading">Where</h1>
			</div>
			
			<% for rule in @rules.location %>
				<%= render 'rule', :rule => rule %> 
			<% end %>
	
			<div class="rule_background">
				<h1 class="rule_heading">How</h1>
			</div>
			
			<% for rule in @rules.thresholds %>
				<%= render 'rule', :rule => rule %> 
			<% end %>		
		
	</div>
	</div>

</section>

<div id="newrule_content">
	<p class="new_rule_line"><span><i class="bigicon-calendar"></i></span><span>New Allowance</span></p>
	<p class="new_rule_line"><span><i class="bigicon-bag"></i></span><span>New Gift</span></p>
</div>

<%= render 'notifications' %>
<script type="text/javascript">

$('document').ready(function() {


	$('#newrule').popover({
		placement:	"left",
		html: 		true,
		content: 	function() { return $('#newrule_content').html();} 
	});
	$('#newrule').popover('show');

})

</script>