<div class="rule header">
    <%= "New #{t @rule.property, :scope => [:rule, :property]} rule for #{@consumer.name}" %>
</div></div>
<% if @rule.previous_rule_id %>
	<div class="rule actions">
		<p>
			<span><%= "#{@consumer.name}'s currently defined #{t @rule.property, :scope => [:rule, :property]} is" %></span>
			<span><%= (number_to_currency (@rule.value.to_i)) %>,
			<span><%= @rule.period.downcase %></span>
			<span> every </span> 
			<span><%= @rule.weekly? ? @rule.weekly_occurrence : @rule.monthly_occurrence %>.</span>		
		</p>
		<p>
			<%= "The new #{t @rule.property, :scope => [:rule, :property]} will add to #{@consumer.name}'s existing balance of #{number_to_currency @consumer.balance}." %>
		</p>
	</div>
<% end %>
<div class="rule_form_part">
	<%= render 'form', :rule => @rule %>
</div>
<div class="rule_message_part">
	Here will be the message
</div>
