<div class="rule header">
    <%= t 'title', :scope => [:rule, :register_first] %>
</div>
<div class="rule actions">
	<p><%= t 'content1_html', :scope => [:rule, :register_first] %></p>
	<p><%= t 'content2_html', :scope => [:rule, :register_first] %></p>
	<p><%= t 'content3_html', :scope => [:rule, :register_first] %></p>
	<p><%= t 'content4_html', :scope => [:rule, :register_first] %></p>
</div>
<%= button_to "Register", tokens_path, :class => "btn btn-primary  modal_submit" %></span>
