<div id="confirmation_popover" class="sp_popover">
    <header>
        <%= t 'confirmation_heading', :payer_name => current_payer.name, :consumer_name => @consumer.name  %>
    </header>
    <section>
        <div class="content">
            <nav>
                <ul>
                	<li >
                		<%= t 'confirmation_1', :payer_name => current_payer.name, :consumer_name => @consumer.name %>
            		</li>
               		<li >
                   		<%= t 'confirmation_2', :name => @consumer.name %>
               		</li>
                    <li class="instructions new">
                    	<a href="#confirmation_modal" class="sp_modal" id="confirmation_link"><%= t 'confirmation_3', :name => @consumer.name %></a>
                	</li>
            	</ul>
            </nav>
        </div>
    </section>
</div>

<%= render 'confirmation_modal' %>

<script type="text/javascript"> 
$('document').ready(function() {

    $('.consumer.active').sp_popover('#confirmation_popover', {preventBottom: true});
    $('.consumer.active').trigger('open.popover');
    $('#confirmation_link').click(function() {
    	$('.consumer.active').trigger('close.popover');
   	});

})
</script>
