<div id="confirmation_popover" class="popover">
    <header>
        <%= t 'confirmation_heading', :payer_name => @payer.name, :consumer_name => @consumer.name  %>
    </header>
    <section>
        <div class="content">
            <nav>
                <ul>
                	<li class="new">
                		<%= t 'confirmation_1', :payer_name => @payer.name, :consumer_name => @consumer.name %>
            		</li>
               		<li class="new">
		            	<% if @consumer.tinypic %>		<!-- move to a helper -->
		            		<span class="consumer avatar fl"><%= image_tag @consumer.tinypic %></span>
		            	<% else %>
		            		<span class="consumer icon32 user fl"></span>
		            	<% end %>
                   		<span><%= t 'confirmation_2', :name => @consumer.name %></span>
               		</li>
                    <li class="instructions">
                    	<a href="#confirmation_modal" class="modal" id="confirmation_link"><%= t 'confirmation_3', :name => @consumer.name %></a>
                	</li>
                	<li class="instructions">
                		<a><%= t 'confirmation_4' %></a>
            		</li>
            	</ul>
            </nav>
        </div>
    </section>
</div>

<%= render 'confirmation_modal' %>

<script type="text/javascript"> 
$('document').ready(function() {

    $('.consumer.active').popover('#confirmation_popover', {preventBottom: true});
    $('.consumer.active').trigger('open.popover');
    $('#confirmation_link').click(function() {
    	$('.consumer.active').trigger('close.popover');
   	});

})
</script>
