
<nav id="secondary">

	<ul>
		<li <%= "class=active" unless @consumer %>>
			<% if params[:controller] == 'purchases' %>
				<% path = payer_purchases_path(@payer)  %>
			<% elsif params[:controller] == 'consumers' %>
				<% path = payer_consumers_path(@payer)  %>
			<% elsif params[:controller] == 'rules' %>
				<% path = payer_rules_path(@payer)  %>
			<% elsif params[:controller] == 'transactions' %>
				<% path = payer_purchase_transactions_path(@payer, @purchase)  %>
			<% end %>	

            <a href="<%= path %>" data-skip-pjax>
	            <table class="navigation">
	            	<tbody>
	            		<tr id="noWhite">
	            			<td class="navigation_icon">
	            				<% if @payer.registered? %>
	            					<i class="icon-certificate icon-grey"></i>
	        					<% end %>
	            			</td>
	            			<td>
	            				<span class="secondary_name"><%= "#{(@payer.name) ? @payer.name : "Account"}" %></span>	
	        				</td>
	        				<td>
	        					<span class="icon32 home fr"><span>
	        				</td>
	            		</tr>
	            	</tbody>
	            </table>
        	</a>
        </li>
    	<% @payer.consumers.each do |consumer| %>
	        <li class="consumer <%= "active" if (@consumer and @consumer.id == consumer.id) %>">
				<% if params[:controller] == 'purchases' %>
					<% path = consumer_purchases_path(consumer)  %>
				<% elsif params[:controller] == 'consumers' or params[:controller] == 'payers' %>
					<% path = consumer_path(consumer)  %>
				<% elsif params[:controller] == 'rules' %>
					<% path = consumer_rules_path(consumer)  %>
				<% elsif params[:controller] == 'transactions' %>
					<% path = consumer_purchase_transactions_path(consumer, @purchase)  %>
				<% end %>	
				<a href="<%= path %>" data-skip-pjax>
		            <table class="navigation">
		            	<tbody>
		            		<tr id="noWhite">
		            			<td class="navigation_icon">
		            				<% if true %>
		            					<i class="icon-ok-circle icon-grey"></i>
		        					<% end %>
		            			</td>
		            			<td>
					            	<span class="secondary_name"><%= consumer.name %></span>
				            	</td>
				            	<td>			            		
					            	<% if consumer.tinypic %>
					            		<span class="avatar fr"><%= image_tag consumer.tinypic %></span>
					            	<% else %>
					            		<span class="icon32 user fr"></span>
					            	<% end %>
				            	</td>
			            	</tr>
		            	</tbody>
	            	</table>           	
	        	</a>
	        </li>
    	<% end %>
	</ul>
  
	<div id="notifications">
	    <ul>
	    </ul>
	</div>

</nav>
<script>
	
$(document).ready(function () {
	$('.menu').removeClass('active');
	<% if params[:controller] == 'purchases' %>
		$('#dashboard_menu').addClass('active');
	<% elsif params[:controller] == 'consumers' %>
		$('#people_menu').addClass('active');
	<% elsif params[:controller] == 'rules' %>
		$('#rules_menu').addClass('active');
	<% elsif params[:controller] == 'transactions' %>
		$('#dashboard_menu').addClass('active');
	<% end %>	
})	
	
</script>
