
<!-- Secondary navigation -->
<nav id="secondary">

	<ul>
		<li <%= "class=active" unless @consumer %>>
			<% if params[:controller] == 'purchases' %>
				<% path = payer_purchases_path(@payer)  %>
			<% elsif params[:controller] == 'consumers' %>
				<% path = payer_path(@payer)  %>
			<% elsif params[:controller] == 'rules' %>
				<% path = payer_rules_path(@payer)  %>
			<% end %>	

            <%= link_to path do %>
            	<span class="secondary_name"><%= "#{(@payer.name) ? @payer.name + "'s Family" : "Family"}" %></span>
				<span class="icon32 home fr"><span>
        	<% end %>
        </li>
    	<% @payer.consumers.each do |consumer| %>
        <li class="consumer <%= "active" if (@consumer and @consumer.id == consumer.id) %>">
			<% if params[:controller] == 'purchases' %>
				<% path = consumer_purchases_path(consumer)  %>
			<% elsif params[:controller] == 'consumers' or params[:controller] == 'payers'%>
				<% path = consumer_path(consumer)  %>
			<% elsif params[:controller] == 'rules' %>
				<% path = consumer_rules_path(consumer)  %>
			<% end %>	
			<%= link_to path do %>
            	<span class="secondary_name"><%= consumer.name %></span>
            	<% if consumer.tinypic %>
            		<span class="avatar fr"><%= image_tag consumer.tinypic %></span>
            	<% else %>
            		<span class="icon32 user fr"></span>
            	<% end %>
            	
        	<% end %>
        </li>

	</ul>
  
	<div id="notifications">
	    <ul>
	    </ul>
	</div>

</nav>
<script>
	
$(document).ready(function () {
	$('.menu').removeClass('active');
	<% if params[:controller] == 'purchases' %>
		$('#dashboard_menu').addClass('active');
	<% elsif params[:controller] == 'consumers' %>
		$('#people_menu').addClass('active');
	<% elsif params[:controller] == 'rules' %>
		$('#rules_menu').addClass('active');
	<% end %>	
})	
	
</script>
