
<nav id="secondary">

	<ul>
		<% if @consumer %>
			<li class="payer">
		<% else %>
			<li class="payer active" rel="popover">
		<% end %>
			<% if params[:controller] == 'purchases' %>
				<% path = purchases_path  %>
			<% elsif params[:controller] == 'consumers' %>
				<% path = consumers_path %>
			<% elsif params[:controller] == 'rules' %>
				<% path = rules_path  %>
			<% elsif params[:controller] == 'transactions' %>
				<% path = purchase_transactions_path(@purchase)  %>
			<% elsif params[:controller] == 'allowances' %>
				<% path = allowances_path  %>
			<% end %>	

            <a href="<%= path %>" data-skip-pjax>
	            <table class="navigation">
	            	<tbody>
	            		<tr id="noWhite">
	            			<td class="navigation_icon" id="registration_popover">
	            				<% if current_payer.registered? %>
	            					<i class="bigicon-shield"></i>
            					<% else %>
            						<i class="bigicon-placeholder"></i>
	        					<% end %>
	            			</td>
	            			<td>
	            				<span class="secondary_name"><%= "Family" %></span>	
	        				</td>
	        				<td>
	        					<i class="bigicon-parents fr"></i>
	        				</td>
	            		</tr>
	            	</tbody>
	            </table>
        	</a>
        </li>
    	<% current_payer.consumers.each do |consumer| %>
	        <li class="consumer <%= "active" if (@consumer and @consumer.id == consumer.id) %>">
				<% if params[:controller] == 'purchases' %>
					<% path = consumer_purchases_path(consumer)  %>
				<% elsif params[:controller] == 'consumers' or params[:controller] == 'payers' %>
					<% path = consumer_path(consumer)  %>
				<% elsif params[:controller] == 'rules' %>
					<% path = consumer_rules_path(consumer)  %>
				<% elsif params[:controller] == 'transactions' %>
					<% path = consumer_purchase_transactions_path(consumer, @purchase)  %>
				<% elsif params[:controller] == 'allowances' %>
					<% path = consumer_allowances_path(consumer)  %>
				<% end %>	
				<a href="<%= path %>" data-skip-pjax>
		            <table class="navigation">
		            	<tbody>
		            		<tr id="noWhite">
		            			<td class="navigation_icon">
		            				<% if consumer.confirmed %>
		            					<i class="bigicon-seal"></i>
	            					<% else %>
	            						<i class="bigicon-placeholder"></i>
		        					<% end %>
		            			</td>
		            			<td>
					            	<span class="secondary_name"><%= consumer.name %></span>
				            	</td>
				            	<td>			            		
					            	<% if consumer.tinypic %>
					            		<span class="avatar fr"><%= image_tag consumer.tinypic %></span>
					            	<% else %>
					            		<i class="bigicon-user fr"></i>
					            	<% end %>
				            	</td>
			            	</tr>
		            	</tbody>
	            	</table>           	
	        	</a>
	        </li>
    	<% end %>
	</ul>
  
	<div id="notifications">
	    <ul>
	    </ul>
	</div>

</nav>
<script>
	
$(document).ready(function () {
	$('.menu').removeClass('active');
	<% if params[:controller] == 'purchases' %>
		$('#dashboard_menu').addClass('active');
	<% elsif params[:controller] == 'consumers' %>
		$('#people_menu').addClass('active');
	<% elsif params[:controller] == 'rules' %>
		$('#rules_menu').addClass('active');
	<% elsif params[:controller] == 'transactions' %>
		$('#dashboard_menu').addClass('active');
	<% elsif params[:controller] == 'allowances' %>
		$('#allowances_menu').addClass('active');
	<% end %>	
})	
	
</script>
