<div id="registration_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Registration Complete!</h4>
    You can now place rules, have Paykido automatically block bad purchases and automatically pay for complying ones.
</div>
<script type="text/javascript">

$(document).ready(function() {

// can decide here what gets an intrusive message as well

// Payer registration status
<% if params[:notify] and params[:notify] == 'registration' %>
	<% if params[:status] == 'success' %>
	    notification("<%= "Successfully registered!"%>", false, 'file', true)
		$('.consumer.active').addClass('confirmed');
		$('#registration_success').show();
		$("#registration_popover").popover({
			title: "Registration Sign" ,
			content: "Shield icon says your account is registered",
			placement: "bottom"
			}).popover('show');
			window.setTimeout("$('#registration_popover').popover('hide')", 5000);
	<% else %>
	    notification('<%= "Registration failed" %>', false, 'sp_alert', true)
//	    $('#registration_failure').show();
	<% end %>
<% end %>

// Consumer confirmation status
<% if params[:notify] and params[:notify] == 'confirmation' %>
	<% if params[:status] == 'success' %>
	    notification("<%= "Consumer confirmed!"%>", false, 'user', true)
		$('.consumer.active').addClass('confirmed');
	<% else %>
	    notification('<%= "Failed to confirm consumer" %>', false, 'alert', true)
	<% end %>
<% end %>


// PP return status
<% if params[:status] and params[:Error] %>
	<% if params[:status] == 'failure' %>
	    notification('<%= "Failed: #{params[:Error]}" %>', false, 'alert', true)
	<% else %>
	    notification("<%= "Purchase paid thank you!"%>", false, 'cart', true)
//		some visual indication on purchase
	<% end %>
<% end %>

// Purchase approval-token-payment status
<% if params[:notify] and params[:notify] == 'approval' %>
	<% if params[:status] == 'success' || params[:status] == 'approved' %>
	    notification("<%= "Purchase paid!"%>", false, 'user', true)
//		some visual indication on purchase
	<% else %>
	    notification('<%= "Payment failed" %>', false, 'alert', true)
	<% end %>
<% end %>
	
})

</script>
