<div id="registration_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Registration Complete!</h4>
    You can now place rules, have Paykido automatically block bad purchases and automatically pay for complying ones.
</div>

<% if params[:notify] and params[:notify] == 'registration' and params[:ppp_status] and params[:ppp_status] == 'CANCEL'%>
<div id="registration_CANCEL" class="alert alert-block alert-error" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Cancelled at your request</h4>
	<span><%= "Would you like to try again?" %>
    <span><%= button_to "Register", tokens_path, :class => "btn btn-primary inline" %></span>
</div>
<% end %>

<div id="unregistration_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Unregistered!</h4>
    This registration is cancelled. You can register again at any time.
	<%= button_to "Register again", tokens_path, :class => "btn btn-primary inline" %>
</div>

<div id="registration_failure" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Something is missing</h4>
    <%= "We\'re unable to check your credit card. " %>
	<%= "Could be something you keyed." %>
	<%= button_to "Try again", tokens_path, :class => "btn btn-primary inline" %>
</div>

<% if params[:purchase] %>
<div id="approval_failure" class="alert alert-block alert-error" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Something is missing</h4>
    <%= "We\'re unable to process the payment. " %>
	<% if params[:manual] %>
		<%= "Could be something you keyed." %>
    	<%= button_to "Try again", approve_purchase_path(params[:purchase]),:method => :get, :class => "btn btn-primary inline" %>
	<% else %>
		<%= "Please contact Paykido Support for help." %>
	<% end %>
</div>
<% end %>

<% if params[:purchase] and params[:notify] == 'approval' and (params[:status] == 'success' or params[:status] == 'approved') %>
<div id="approval_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<% purchase = Purchase.find(params[:purchase]) %>
	<% retailer = purchase.retailer.name %>
	<% times = purchase.approval_counter('retailer') %>
    <% if times > Paykido::Application.config.offer_rule_or_registration_after.to_i %>
    	<h4 class="alert-heading"><%= "Suggested Rule: Always Approve #{retailer}" %></h4>
    	<span><%= "You approved #{retailer} already #{times} times." %></span>
    	<% if current_payer.registered_or_waived %>
    		<span><%= "Set a rule to have Paykido approve this merchant for you going forward." %></span>
    		<%= button_to "Always approve #{retailer}", rules_path(:payer_id => current_payer.id, :consumer_id => purchase.consumer_id, :property => 'retailer', :value => retailer, :rule_status => 'whitelisted', :purchase_id => purchase.id), :method => :post, :class => "btn btn-primary inline rule_set" %>
		<% else %>
    		<%= "Register and have Paykido do that for you going forward." %>
    		<%= button_to "Register Now", new_token_path,:method => :get, :class => "btn btn-primary inline" %>
		<% end %>
	<% else %>
    	<h4 class="alert-heading">Purchase Approved!</h4>	
	<% end %>    		
</div>
<% end %>

<% if params[:purchase] and params[:ppp_status] and params[:ppp_status] == 'CANCEL'%>
<div id="approval_CANCEL" class="alert alert-block alert-error" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Cancelled at your request</h4>
	<span><%= "Would you like to try again?" %>
    <span><%= button_to "Approve", approve_purchase_path(params[:purchase]),:method => :get, :class => "btn btn-primary inline" %></span>
</div>
<% end %>

<% if params[:purchase] and params[:notify] == 'denial' and params[:status] == 'success' %>
<div id="denial_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<% purchase = Purchase.find(params[:purchase]) %> 
	<% retailer = purchase.retailer.name %>
	<% times = purchase.denial_counter('retailer') %>
    <% if times > Paykido::Application.config.offer_rule_or_registration_after.to_i %>
    	<h4 class="alert-heading"><%= "Suggested Rule: Always Decline #{retailer}" %></h4>
    	<span><%= "You declined #{retailer} already #{times} times." %></span> 
    	<% if current_payer.registered_or_waived %>
    		<span><%= "Set a rule to have Paykido decline this merchant for you going forward." %></span>
    		<%= button_to "Always decline #{retailer}", rules_path(:payer_id => current_payer.id, :consumer_id => purchase.consumer_id, :property => 'retailer', :value => retailer, :rule_status => 'blacklisted', :purchase_id => purchase.id), :method => :post, :class => "btn btn-primary inline rule_set"%>
		<% else %>
    		<%= "Register and have Paykido do that for you going forward." %>
    		<%= button_to "Register Now", new_token_url,:method => :get, :class => "btn btn-primary inline" %>
		<% end %>
	<% else %>
    	<h4 class="alert-heading">Purchase Declined!</h4>	
	<% end %>    		
</div>
<% end %>

<div id="rule_setting_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Rule created</h4>    
    <%= "Paykido will automatically #{(params[:rule_status] == 'whitelisted') ? 'approve' : 'decline'} purchases whose #{t params[:property]} is #{params[:value]}. No need to #{(params[:rule_status] == 'whitelisted') ? 'approve' : 'decline'} them manually anymore." %>
</div>

<% if params[:notify] and params[:notify] == 'new_rule' %>
<div id="new_rule_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Rule created</h4>    
    <%= "Rule successfully set!" %>
</div>
<% end %>

<div id="confirmation_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Consumer Confirmed!</h4>
    <%= "From now on, we'll watch every purchsae #{params[:name]} attempts. When ready, register your credit card to make things even safer!" %> &nbsp &nbsp
    <span><%= button_to "Register now", tokens_path, :class => "btn btn-primary inline" %></span>
</div>

<script type="text/javascript">

$(document).ready(function() {

<% if flash[:alert] %>
	$('#alert').show();
<% end %>

<% if notice %>
	$('#notice').show();
<% end %>

// Payer registration status
<% if params[:notify] and params[:notify] == 'registration' %>
	<% if params[:status] == 'success' %>
	    notification("<%= "Successfully registered!"%>", false, 'icon-eye-open', true)
		$('#registration_success').show();
		$("#registration_popover i").removeClass('bigicon-placeholder').addClass('bigicon-shield');
		$("#registration_popover").popover({
			title: "Registration Sign" ,
			content: "Shield icon says your account is registered",
			placement: "bottom"
			}).popover('show');
			window.setTimeout("$('#registration_popover').popover('hide')", 5000);
	<% elsif params[:ppp_status] and params[:ppp_status] == 'CANCEL' %>
		$('#registration_CANCEL').show();
	<% else %>
	    notification('<%= "Registration failed" %>', false, 'icon-exclamation-sign', true)
	    $('#registration_failure').show();
	<% end %>
<% end %>

<% if params[:notify] and params[:notify] == 'unregistration' %>
	<% if params[:status] == 'success' %>
	    notification("<%= "#{current_payer.name} unregistered"%>", false, 'icon-eye-open', true)
		$('#unregistration_success').show();
		$("#registration_popover i").removeClass('bigicon-shield').addClass('bigicon-placeholder');
	<% else %>
	    notification('<%= "Unregistration failed" %>', false, 'icon-exclamation-sign', true)
	<% end %>
<% end %>

// Consumer confirmation status
<% if params[:notify] and params[:notify] == 'confirmation' %>
	<% if params[:status] == 'success' %>
		$('#confirmation_success').show();
	    notification("<%= "#{current_payer.name} confirmed #{params[:name]}" %>", false, 'icon-certificate', true)
		$('.consumer.active').addClass('confirmed');
	<% else %>
	    notification('<%= "Failed to confirm consumer" %>', false, 'icon-exclamation-sign', true)
	<% end %>
<% end %>


// [ToDO: DELETE??] PP return status
<% if params[:status] and params[:Error] %>
	<% if params[:status] == 'failure' %>
	    notification('<%= "Failed: #{params[:Error]}" %>', false, 'icon-exclamation-sign', true)
	<% else %>
	    notification("<%= "Purchase paid thank you!"%>", false, 'icon-shopping-cart', true)
		$('#approval_success').show();
	<% end %>
<% end %>

// Purchase approval (either manual or token)
<% if params[:notify] and params[:notify] == 'approval' %>
	<% if params[:status] == 'success' or params[:status] == 'approved'%>
		<% if params[:controller] == 'purchases' and params[:id] %>
      		<% id = params["id"] %>
  		<% else %>
  			<% id = '' %>
    	<% end %>
	    notification("<%= "#{current_payer.name} approved purchase #{id}"%>", false, 'icon-thumbs-up', true)
		$('#approval_success').show();
	<% elsif params[:ppp_status] and params[:ppp_status] == 'CANCEL' %>
		$('#approval_CANCEL').show();
	<% else %>
		$('#approval_failure').show();
	    notification('<%= "Payment failed" %>', false, 'icon-exclamation-sign', true)
	<% end %>
<% end %>
	
// Purchase denial
<% if params[:notify] and params[:notify] == 'denial' %>
	<% if params[:status] == 'success'  %>
		<% if params[:controller] == 'purchases' and params[:id] %>
      		<% id = params["id"] %>
  		<% else %>
  			<% id = '' %>
    	<% end %>
	    notification("<%= "#{current_payer.name} declined purchase #{id}"%>", false, 'icon-thumbs-down', true)
		$('#denial_success').show();
	<% else %>
	    notification('<%= "Purchase denial failed" %>', false, 'icon-exclamation-sign', true)
	<% end %>
<% end %>

// Rule setting
<% if params[:notify] and params[:notify] == 'rule_setting' %>
	<% if params[:status] == 'success'  %>
	    notification("<%= "#{current_payer.name} #{params[:rule_status]} #{params[:value]}"%>", false, 'icon-wrench', true)
		$('#rule_setting_success').show();
	<% else %>
	    notification('<%= "Rule setting failed" %>', false, 'icon-exclamation-sign', true)
	<% end %>
<% end %>

<% if params[:notify] and params[:notify] == 'new_rule' %>
	<% if params[:status] == 'success'  %>
	    notification("<%= "#{current_payer.name} created a new rule"%>", false, 'icon-wrench', true)
		$('#new_rule_success').show();
	<% else %>
	    notification('<%= "Rule setting failed" %>', false, 'icon-exclamation-sign', true)
	<% end %>
<% end %>

})

$(document).ready(function() {

	if ($('#notifications a').length == 0) {
		$('#notifications').prepend('<a href="#">Show all notifications</a>');
	}	

})


</script>
