<div id="notice" class="alert notice alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Notice</h4>
    <%= notice %>
</div>

<div id="alert" class="alert alert-error alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Notice</h4>
    <%= alert %>
</div>

<div id="registration_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Registration Complete!</h4>
    You can now place rules, have Paykido automatically block bad purchases and automatically pay for complying ones.
</div>

<div id="unregistration_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Unregistered!</h4>
    This registration is cancelled. You can register again at any time.
	<%= button_to "Register again", payer_tokens_path(@payer), :class => "btn btn-primary inline" %>
</div>

<div id="registration_failure" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Something is missing</h4>
    <%= "We\'re unable to check your credit card. " %>
	<%= "Could be something you keyed." %>
	<%= button_to "Try again", payer_tokens_path(@payer), :class => "btn btn-primary inline" %>
</div>

<% if params[:purchase] %>
<div id="approval_failure" class="alert alert-block alert-error" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Something is missing</h4>
    <%= "We\'re unable to process the payment. " %>
	<% if params[:manual] %>
		<%= "Could be something you keyed." %>
    	<%= button_to "Try again", approve_purchase_path(params[:purchase]),:method => :get, :class => "btn btn-primary inline" %>
	<% else %>
		<%= "Please contact Paykido Support for help." %>
	<% end %>
</div>
<% end %>

<% if params[:purchase] and (params[:status] == 'success' or params[:status] == 'approved') %>
<div id="approval_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<% purchase = Purchase.find(params[:purchase]) %>
	<% retailer = purchase.retailer.name %>
	<% times = purchase.approval_counter('retailer') %>
    <% if times > Paykido::Application.config.offer_rule_or_registration_after.to_i %>
    	<h4 class="alert-heading"><%= "Suggested Rule: Always Approve #{retailer}" %></h4>
    	<span><%= "You approved #{retailer} already #{times} times." %></span>
    	<% if @payer.registered_or_waived %>
    		<span><%= "Click here if you'd like to have Paykido approve this merchant for you going forward." %></span>
    		<%= button_to "Always approve #{retailer}", payer_rules_path(@payer, :consumer_id => purchase.consumer_id, :property => 'retailer', :value => retailer, :status => 'whitelisted', :purchase => purchase.id), :method => :post, :class => "btn btn-primary inline" %>
		<% else %>
    		<%= "Register and have Paykido do that for you going forward." %>
    		<%= button_to "Register Now", new_payer_token_path(@payer),:method => :get, :class => "btn btn-primary inline" %>
		<% end %>
	<% else %>
    	<h4 class="alert-heading">Purchase Approved</h4>	
	<% end %>    		
</div>
<% end %>

<% if params[:purchase] and params[:status] == 'success' %>
<div id="denial_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<% purchase = Purchase.find(params[:purchase]) %>
	<% retailer = purchase.retailer.name %>
	<% times = purchase.approval_counter('retailer') %>
    <% if times > Paykido::Application.config.offer_rule_or_registration_after.to_i %>
    	<h4 class="alert-heading"><%= "Suggested Rule: Always Decline #{retailer}" %></h4>
    	<span><%= "You declined #{retailer} already #{times} times." %></span> 
    	<% if @payer.registered_or_waived %>
    		<span><%= "Click here if you'd like to have Paykido decline this merchant for you going forward." %></span>
    		<%= button_to "Always decline #{retailer}", payer_rules_path(@payer, :consumer_id => purchase.consumer_id, :property => 'retailer', :value => retailer, :status => 'blacklisted', :purchase => purchase.id), :method => :post, :class => "btn btn-primary inline" %>
		<% else %>
    		<%= "Register and have Paykido do that for you going forward." %>
    		<%= button_to "Register Now", new_payer_token_url(@payer),:method => :get, :class => "btn btn-primary inline" %>
		<% end %>
	<% else %>
    	<h4 class="alert-heading">Purchase Declined</h4>	
	<% end %>    		
</div>
<% end %>

<div id="rule_setting_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Rule accepted!</h4>    
    <%= "Paykido will automatically #{(params[:rule_status] == 'whitelisted') ? 'approve' : 'decline'} merchant: #{params[:value]} for you from now on. You don't have to do it yourself." %>
</div>

<div id="confirmation_success" class="alert alert-block" style="display:none">
	<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Consumer Confirmed!</h4>
    <%= "From now on, we'll watch every purchsae #{params[:name]} attempts to make. Consider registering to make things even safer" %>
</div>

<script type="text/javascript">

$(document).ready(function() {

<% if flash[:alert] %>
	$('#alert').show();
<% end %>

<% if notice %>
	$('#notice').show();
<% end %>

// Payer registration status
<% if params[:notify] and params[:notify] == 'registration' %>
	<% if params[:status] == 'success' %>
	    notification("<%= "Successfully registered!"%>", false, 'file', true)
		$('#registration_success').show();
		$("#registration_popover i").removeClass('bigicon-placeholder').addClass('bigicon-shield');
		$("#registration_popover").popover({
			title: "Registration Sign" ,
			content: "Shield icon says your account is registered",
			placement: "bottom"
			}).popover('show');
			window.setTimeout("$('#registration_popover').popover('hide')", 5000);
	<% else %>
	    notification('<%= "Registration failed" %>', false, 'sp_alert', true)
	    $('#registration_failure').show();
	<% end %>
<% end %>

<% if params[:notify] and params[:notify] == 'unregistration' %>
	<% if params[:status] == 'success' %>
	    notification("<%= "#{@payer.name} unregistered"%>", false, 'file', true)
		$('#unregistration_success').show();
		$("#registration_popover i").removeClass('bigicon-shield').addClass('bigicon-placeholder');
	<% else %>
	    notification('<%= "Unregistration failed" %>', false, 'sp_alert', true)
	<% end %>
<% end %>

// Consumer confirmation status
<% if params[:notify] and params[:notify] == 'confirmation' %>
	<% if params[:status] == 'success' %>
//		$('#confirmation_success').show();
	    notification("<%= "#{@payer.name} confirmed #{params[:name]}" %>", false, 'user', true)
		$('.consumer.active').addClass('confirmed');
	<% else %>
	    notification('<%= "Failed to confirm consumer" %>', false, 'alert', true)
	<% end %>
<% end %>


// [ToDO: DELETE??] PP return status
<% if params[:status] and params[:Error] %>
	<% if params[:status] == 'failure' %>
	    notification('<%= "Failed: #{params[:Error]}" %>', false, 'alert', true)
	<% else %>
	    notification("<%= "Purchase paid thank you!"%>", false, 'cart', true)
		$('#approval_success').show();
	<% end %>
<% end %>

// Purchase approval (either manual or token)
<% if params[:notify] and params[:notify] == 'approval' %>
	<% if params[:status] == 'success' or params[:status] == 'approved'%>
		<% if params[:controller] == 'purchases' and params[:id] %>
      		<% id = params["id"] %>
  		<% else %>
  			<% id = '' %>
    	<% end %>
	    notification("<%= "#{@payer.name} approved purchase #{id}"%>", false, 'tick', true)
		$('#approval_success').show();
	<% else %>
		$('#approval_failure').show();
	    notification('<%= "Payment failed" %>', false, 'sp_alert', true)
	<% end %>
<% end %>
	
// Purchase denial
<% if params[:notify] and params[:notify] == 'denial' %>
	<% if params[:status] == 'success'  %>
		<% if params[:controller] == 'purchases' and params[:id] %>
      		<% id = params["id"] %>
  		<% else %>
  			<% id = '' %>
    	<% end %>
	    notification("<%= "#{@payer.name} declined	purchase #{id}"%>", false, 'delete', true)
		$('#denial_success').show();
	<% else %>
	    notification('<%= "Purchase denial failed" %>', false, 'sp_alert', true)
	<% end %>
<% end %>

// Rule setting
<% if params[:notify] and params[:notify] == 'rule_setting' %>
	<% if params[:status] == 'success'  %>
	    notification("<%= "#{@payer.name} set a new rule"%>", false, 'user', true)
		$('#rule_setting_success').show();
		$('a.blue.rule').popover({
			title: "Rule Sign" ,
			content: "This button indicates a rule for this merchant. You can always change the rule.",
			placement: "left"
			}).popover('show');
			window.setTimeout("$('a.blue.rule').popover('hide')", 10000);
	<% else %>
	    notification('<%= "Rule setting failed" %>', false, 'sp_alert', true)
	<% end %>
<% end %>

})

</script>
