<div class="page_head clearfix">
	<% if defined? icon %>
		<i class=<%= icon %>></i>
	<% end %>
	<h1>
		<% if defined? page_title %>
			<%= page_title %>
		<% else %>
			<%= @consumer ? "#{@consumer.name}'s" : "Family"%> <%= t params[:controller], :scope => :page_names %></h1>
		<% end %>
	<%= link_to 'Back', backPath, 'data-skip-pjax' => true if defined? backPath %>
</div>
