    <div class="navbar dark">
	    <div class="navbar-inner dark">
		    <div class="container">
		     
		    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    </a>
		     
		    <!-- Be sure to leave the brand out there if you want it shown -->
		    <a class="brand" href="#">
		    	<span class="paykido_name">Paykido</span>
		    	<span class="paykido_parents">Parents</span>
	    	</a>
	    	
			<div class="login_bar pull-right">
		    	<span class='hi'>Hi</span>
		    	<span class='user'><%= current_payer.name %></span>
	      		<%= link_to edit_payer_registration_path(:logged_in => true), 'data-skip-pjax' => true, :class => 'nohover', :id => 'change_password' do %>
	        		<span class="icon32 lock"></span>
	        		<%= current_payer.encrypted_password.blank? ? 'Set Password' : 'Change Password' %>
	      		<% end %>
	      		<%= link_to destroy_payer_session_path, :method => :delete, 'data-skip-pjax' => true, :class => 'nohover' do %>
	        		<span class="icon32 quit"></span>
	        		Log out
	      		<% end %>
	    	</div>
		     
		    <!-- Everything you want hidden at 940px or less, place within here -->
		    <div class="nav-collapse">
		    <!-- .nav, .navbar-search, .navbar-form, etc -->
		    </div>
		     
		    </div>
	    </div>
    </div>				


<!-- Primary navigation -->
<nav id="primary">
	<ul>
	    <li class="menu" id="consumers_menu" >
	      	<%= link_to @consumer ? welcome_consumer_path(@consumer) : consumers_welcome_path, 'data-skip-pjax' => true do%>
	        	<span class="icon32 group"></span>
	        	Family
	      	<% end %>
	    </li>

    	<li class="menu" id="statistics_menu" >
      		<%= link_to @consumer ? consumer_statistics_path(@consumer) : statistics_path, 'data-skip-pjax' => true do %>
		        <span class="icon32 dashboard"></span>
		        Dashboard
	      	<% end %>
	    </li>
	    <li class="menu" id="rules_menu" >
     		<%= link_to @consumer ? consumer_rules_path(@consumer) : rules_path , 'data-skip-pjax' => true do %>
	        	<span class="icon32 tools"></span>
	        	Rules
	      	<% end %>
	    </li>
    	<li class="menu" id="purchases_menu" >
      		<%= link_to @consumer ? consumer_purchases_path(@consumer) : purchases_path, 'data-skip-pjax' => true do %>
		        <span class="icon32 cart"></span>
		        Purchases
	      	<% end %>
	    </li>
	    <li class="menu" id="tokens_menu" >
	    	<% path = tokens_path %>
	      	<%= link_to path, 'data-skip-pjax' => true do%>
	        	<span class="icon32 cog"></span>
	        	Settings
	      	<% end %>
	    </li>
	    <li class="bottom">
	      	<%= link_to destroy_payer_session_path, :method => :delete, 'data-skip-pjax' => true do %>
	        	<span class="icon32 quit"></span>
	        	Log out
	      	<% end %>
	    </li>
	</ul>
</nav>

<%= render 'rule_modal' %>