    <div class="navbar">
	    <div class="navbar-inner">
		    <div class="container">
		     
		    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    </a>
		     
		    <!-- Be sure to leave the brand out there if you want it shown -->
		    <a class="brand" href="#">Paykido</a>
		     
		    <!-- Everything you want hidden at 940px or less, place within here -->
		    <div class="nav-collapse">
		    <!-- .nav, .navbar-search, .navbar-form, etc -->
		    </div>
		     
		    </div>
	    </div>
    </div>				


<!-- Primary navigation -->
<nav id="primary">
	<ul>
	    <li class="menu" id="people_menu" >
	      	<%= link_to consumers_path, 'data-skip-pjax' => true do%>
	        	<span class="icon32 group"></span>
	        	Family
	      	<% end %>
	    </li>

    	<li class="menu" id="allowances_menu" >
      		<%= link_to allowances_path, 'data-skip-pjax' => true do %>
		        <span class="icon32 dashboard"></span>
		        Allowance
	      	<% end %>
	    </li>
	    <li class="menu" id="rules_menu" >
     		<%= link_to rules_path, 'data-skip-pjax' => true do %>
	        	<span class="icon32 tools"></span>
	        	Rules
	      	<% end %>
	    </li>
    	<li class="menu" id="dashboard_menu" >
      		<%= link_to purchases_path, 'data-skip-pjax' => true do %>
		        <span class="icon32 cart"></span>
		        Purchases
	      	<% end %>
	    </li>
	    <li class="menu" id="setting_menu" >
	    	<% path = tokens_path %>
	      	<%= link_to path, 'data-skip-pjax' => true do%>
	        	<span class="icon32 cog"></span>
	        	Settings
	      	<% end %>
	    </li>
	    <li class="bottom">
	      	<%= link_to destroy_payer_session_path, :method => :delete, 'data-skip-pjax' => true do %>
	        	<span class="icon32 quit"></span>
	        	Log out
	      	<% end %>
	    </li>
	</ul>
</nav>

<%= render 'rule_modal' %>
