    <div class="navbar">
	    <div class="navbar-inner">
		    <div class="container">
		     
		    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    </a>
		     
		    <!-- Be sure to leave the brand out there if you want it shown -->
		    <a class="brand" href="#">Paykido</a>
		     
		    <!-- Everything you want hidden at 940px or less, place within here -->
		    <div class="nav-collapse">
		    <!-- .nav, .navbar-search, .navbar-form, etc -->
		    </div>
		     
		    </div>
	    </div>
    </div>				


<!-- Primary navigation -->
<nav id="primary">
	<ul>
	    <li class="menu" id="people_menu" >
	      	<%= link_to payer_consumers_path(@payer) do%>
	        	<span class="icon32 group"></span>
	        	Family
	      	<% end %>
	    </li>

    	<li class="menu" id="dashboard_menu" >
      		<%= link_to payer_purchases_path(@payer) do %>
		        <span class="icon32 dashboard"></span>
		        Dashboard
	      	<% end %>
	    </li>
	    <li class="menu" id="rules_menu" >
     		<%= link_to payer_rules_path(@payer) do %>
	        	<span class="icon32 pencil"></span>
	        	Rules
	      	<% end %>
	    </li>
	    <li class="menu" id="setting_menu" >
	    	<% path = (@payer.registered?) ? payer_registrations_path(@payer) : new_payer_registration_path(@payer) %>
	      	<%= link_to path do%>
	        	<span class="icon32 cog"></span>
	        	Settings
	      	<% end %>
	    </li>
	    <li>
	      	<a href="#">
	        	<span class="icon32 chart"></span>
	        	Charts
	      	</a>
	    </li>
	    <li class="bottom">
	      	<a href="/account/logout">
	        	<span class="icon32 quit"></span>
	        	Log out
	      	</a>
	    </li>
	</ul>
</nav>

<%= render 'rule_modal' %>
