<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<!--   -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link media="screen" rel="stylesheet" type="text/css" media="screen" href="/stylesheets/jqtouch.min.css" />
		<link media="screen" rel="stylesheet" type="text/css" media="screen" href="/themes/apple/theme.css" />
		<link media="screen" rel="stylesheet" type="text/css" media="screen" href="/stylesheets/jquery-ui-1.8.1.custom.css" />
		<link media="screen" rel="stylesheet" type="text/css" media="screen" href="/stylesheets/aol.css" />
 	
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript" charset="utf-8" src ="/javascripts/jquery-1.4.2.min.js"></script>
		<script src="/javascripts/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" charset="utf-8">  
		$.jQTouch({
			startupScreen: '/images/iphone_welcome_screen.png',
			icon: 			'/images/piggy_bank.png'

		});
		</script> 

<meta name="viewport" content="user-scalable=no, width = device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<script type="text/javascript">
			$(document).ready(function() {
				jQuery.ajaxSetup({  
     				'beforeSend': function (xhr) {xhr.setRequestHeader("Accept", "text/javascript")}  
				});
			});
			

		</script>
  </head>
	
  <body style="font-family: Arial;border: 0 none;">
    <div class="current">
      <%= image_tag'/images/iphone_strip_tagline2.png', :class => 'iphone_strip' %> 
      <div class="toolbar">

        <%= link_to "Back", @back_to, :class => @back_class %>
        <h1><%=h yield(:title) %></h1>
		<%= link_to "Help", @help_to, :class => "button slideup", :style => "margin-bottom:10px; margin-right:10px;width:30px" %>
        <%= yield(:toolbar) %>
      </div>
      
      <% unless flash.empty? %>
        <div class="info">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        </div>
      <% end %>
    
      <%= yield %>
	  
    </div>
  		

</body>
</html>
