<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<!--   -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/jqtouch.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/themes/apple/theme.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/aol.css" />
		
 		<script type="text/javascript" src="/javascripts/jquery-1.4.1.js"></script> 
		<script type="text/javascript" src="/javascripts/jqtouch.js"></script>   	
		<script type="text/javascript" charset="utf-8">  $.jQTouch({});</script>  
	
		<%= Seer::init_visualization -%>   		
 
  </head>
	
  <body style="font-family: Arial;border: 0 none;">
    <div class="current">
      <%= image_tag'/images/iphone_strip_color3.png', :class => 'iphone_strip' %> 
      <div class="toolbar">

        <%= link_to "Back", @back_to, :class => @back_class %>
        <h1><%=h yield(:title) %></h1>
        <%= yield(:toolbar) %>
      </div>
      
      <% unless flash.empty? %>
        <div class="info">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        </div>
      <% end %>
    
      <%= yield %>
	  
    </div>
  		

</body>
</html>
