<head>
<html>

	<%= stylesheet_link_tag "consumer.css", :media => "all" %>
	<%= stylesheet_link_tag "arca-api.css", :media => "all" %>
   	<%= stylesheet_link_tag  "jquery-ui-1.8.1.custom.css", :media => "all" %>
 	<%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.2.custom.min", "arca-api", "jquery.url", "application" %>

</head>	
<body id="main">

	  <div id="fb-root"></div>
	  <%=fb_connect_async_js %>

	<% if flash[:notice] -%><div id="notice"><%= flash[:notice] %></div<% end -%>
	
	<%= yield :layout %>

</body>
</html>

