<!DOCTYPE html>
<html>
<head> 
	<title>Paykido protects your kids from bad purchases</title>

	<link   rel="stylesheet" href="/stylesheets/home.css" type="text/css" />
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
	<style type="text/css">
		body {
			padding-top: 0px;
			padding-bottom: 40px;
		}
	</style>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" />


	<script src="/spina/js/jquery-1.7.1.js"></script>

	<script type="text/javascript" src="/home/js/navigation.js" charset="utf-8"></script>
	<script type="text/javascript" src="/home/js/scrollto.js" charset="utf-8"></script>
	<script type="text/javascript" src="/home/js/mousewheel.js" charset="utf-8"></script>
	<script type="text/javascript" src="/home/js/jquery.bxSlider.js" ></script>

	<script src="/bootstrap/js/bootstrap.js"></script>
	<script src="/javascripts/jquery.pjax.js"></script>
</head>	
<body id="paykido">

<div id="header_wrapper">
   
	<div class="g1140 clearfix">
		<div  class="grid_4">
	    
			<ul id="menu" class="clearfix">
			  <div id="temp_logo">
			  	<%= link_to root_path do %>
			  		<h1>Paykido</h1>
			  		<span class="environment label label-important"><%= Paykido::Application.config.environment %></span>
			  		<span class="version" style="display: none">0.6.3</span>
		  		<% end %>
			  </div>
			  
			  <li><a href="<%= request.protocol + request.host + ':' + request.port.to_s if params[:action] != "index" %>#section2">merchants</a></li>
			  <li><a href="<%= request.protocol + request.host + ':' + request.port.to_s if params[:action] != "index" %>#section3">parents</a></li>
			  <li><a href="<%= request.protocol + request.host + ':' + request.port.to_s if params[:action] != "index" %>#section4">kids</a></li>
			
			 </ul>
	
	  	</div>
	  	
	  	<div class="grid_4 fr">
	  		<%= link_to "Sign In", new_payer_session_path , :class => "login", :id => "signin" if params[:action] == "index" or params[:action] == "routing_error" %> 
	  		<%= link_to "Sign Up", new_payer_registration_path , :class => "login", :id => "signup" if params[:action] == "index"  or params[:action] == "routing_error"%> 
		</div>
	 </div>
</div>

<div id="rest_of_page" data-pjax-container="">
    <%= yield :layout %>
</div>
	
</div>
</body>
</html>
<script>

$(document).ready(function() {
	    $('a:not([data-remote]):not([data-behavior]):not([data-skip-pjax])').pjax('[data-pjax-container]')

})
</script>