<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head> <!--  -->
   	<%= stylesheet_link_tag  "subscriber", :media => "all" %>

   	<%= stylesheet_link_tag  "jquery-ui-1.8.1.custom.css", :media => "all" %>
   	<%= stylesheet_link_tag  "jquery.ui.theme.css", :media => "all" %>
  	<%= stylesheet_link_tag  "demo_table_jui.css", :media => "all" %>
	<%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.2.custom.min", "jquery.dataTables.min", "application"%>
	<% if session[:user] and session[:user].is_retailer %>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
		<script type="text/javascript">google.load("visualization", "1", {packages:["table"]});</script>
	<% end %> 
	<script type="text/javascript"> // <![CDATA[
	if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1) || (navigator.userAgent.indexOf('iPad') != -1)) {
		document.write('<meta name="viewport" content="width=device-width"  />');
	} // ]]>
	</script>
</head>	

<body>
  <div class="container">	
	<div id="head">
		<span id="get_started_today"><a href="/subscriber/joinin">shalom</a></span>
		<% if params[:action] == 'index' %>
			<div id="head_img" style="display:none"></div>
		<% else %>
			<div id="head_img" ></div>
		<% end %>
	</div>
	
	
	<% if flash[:notice] -%>
		<div class="ui-widget message">
	    	<div id="notice" class="ui-state-error ui-corner-all">
	    		<p>
	    			<span class="flash_symbol ui-icon ui-icon-alert"></span>
					<span class="flash_text"><%= flash[:notice] %></span>
	    		</p>
			</div>
		</div>
	<% end -%>
	<% if flash[:message] -%>
		<div class="ui-widget message">
	    	<div id="notice" class="ui-state-highlight ui-corner-all">
	    		<p>
	    			<span class="flash_symbol ui-icon ui-icon-info"></span>
					<span class="flash_text"><%= flash[:message] %></span>
	    		</p>
			</div>
		</div>
	<% end -%>
	

	<% if params[:action] != 'index' and session[:user] and session[:user].name %>
		<span class="login" id="signedin">
			<% if @user %>
				Welcome
				<% if @user.is_payer and session[:payer].name? %>
					<%= session[:payer].name %>
				<% elsif @user.is_retailer and session[:retailer].name? %>
					<%= session[:retailer].name %>
				<% else %>
					<%= session[:user].name %>
				<% end %> 
			<% end %>
		</span>
		<%= link_to "Sign Out", "/subscriber/signout", :class => "login", :id => "signout" %>
	<% else %>		
		<%= link_to "Sign In", "/subscriber/signin", :class => "login", :id => "signin" %>
		<%= link_to "Join In", "/subscriber/joinin", :class => "login", :id => "joinin" %>
	<% end %>

	<div id="release" class="login">0.4.1</div>



    <%= yield :layout %>
	
</div>
</body>
</html>
