<head>
<html>
  <title>Paykido</title>
	<%= stylesheet_link_tag "payer.css", :media => "all" %>
 	<%= javascript_include_tag "jquery-1.4.2.min","old_application" %>

</head>	
<body id="main">


    <%= image_tag "/images/paykido_with_tagline.png", :id=>"paykidoLogo",:border => 0 %>

	<% if flash[:notice] -%><div id="notice"><%= flash[:notice] %></div<% end -%>
	
	<%= yield :layout %>

</body>
</html>


