<!DOCTYPE html>
<html>
<head>
  <title>Paykido</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">

	$(document).bind('loading.facebox', function() {
		$('div#facebox').hide();
		$('#loading').show();	
		});

	$(document).bind('afterReveal.facebox', function() {
		$('#facebox').show();
		$('#loading').hide();
		});

	$(document).bind('afterClose.facebox', function() {
		});

    $(document).ready(function($){
		$('a[rel*=facebox]').facebox();
       });

	$('iframe').load(function() {
	  	
		
		});		

</script> 
            
</head>	
<body id="farmville">

	  <div id="fb-root"></div>
	  <%=fb_connect_async_js %>

      <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <!-- END:flash -->

      <%= yield :layout %>

</body>

</html>



