<!DOCTYPE html>
<html>
<head>

<%= stylesheet_link_tag "/stylesheets/play.css", :media => "all" %>
<%= stylesheet_link_tag "/stylesheets/arca-api.css", :media => "all" %>
<%= javascript_include_tag  "jquery-1.4.2.min", "jquery-ui-1.8.2.custom.min", "arca-api", "jquery.url", "application" %>

<script type="text/javascript">

	$(document).bind('loading.facebox', function() {
		$('div#facebox').hide();
		$('#loading').show();	
		});

	$(document).bind('afterReveal.facebox', function() {
		$('#facebox').show();
		$('#loading').hide();
		});

	$(document).bind('afterClose.facebox', function() {
		});

    $(document).ready(function($){
		$('a[rel*=facebox]').facebox();
       });

	$('iframe').load(function() {
	  	
		
		});		

</script> 
            
</head>	
<body id="farmville">

	  <div id="fb-root"></div>
	  <%=fb_connect_async_js %>

      <!-- START:flash -->
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <!-- END:flash -->

      <%= yield :layout %>

</body>

</html>



