<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head> <!--  -->
   	<%= stylesheet_link_tag  "service", :media => "all" %>
   	<%= stylesheet_link_tag  "jquery-ui-1.8.1.custom.css", :media => "all" %>
   	<%= stylesheet_link_tag  "demo_table_jui.css", :media => "all" %>
	<%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.2.custom.min", "jquery.dataTables.min", "application"%>
	<% if session[:user] and session[:user].is_retailer %>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>	
		<script type="text/javascript">google.load("visualization", "1", {packages:["table"]});</script>
	<% end %> 
	

<body>
  <div class="container">	
	<div id="head">
		<span id="get_started_today"><a href="/service/joinin">shalom</a></span>
		<%= image_tag "/images/service_head1.png", :id => "head_img" %>
	</div>
	<br />
	
	<% if flash[:notice] -%>
		<div class="ui-widget message">
	    	<div id="notice" class="ui-state-error ui-corner-all">
	    		<p>
	    			<span class="flash_symbol ui-icon ui-icon-alert"></span>
					<span class="flash_text"><%= flash[:notice] %></span>
	    		</p>
			</div>
		</div>
	<% end -%>
	<% if flash[:message] -%>
		<div class="ui-widget message">
	    	<div id="notice" class="ui-state-highlight ui-corner-all">
	    		<p>
	    			<span class="flash_symbol ui-icon ui-icon-info"></span>
					<span class="flash_text"><%= flash[:message] %></span>
	    		</p>
			</div>
		</div>
	<% end -%>
	
	<% if params[:action] != 'index' and session[:user] and session[:user].name %>
		<span class="login" id="signedin">Welcome <%= session[:user].name %></span>
		<%= link_to "Sign Out", "/service/signout", :class => "login", :id => "signout" %>
	<% else %>		
		<%= link_to "Sign In", "/service/signin", :class => "login", :id => "signin" %>
		<%= link_to "Join In", "/service/joinin", :class => "login", :id => "joinin" %>
	<% end %>


    <%= yield :layout %>
	
</div>
</body>
</html>
